openapi: 3.2.0
info:
  version: 2.0.0
  title: A guide to C.H. Robinson's REST Orders and Booking API
  description: '# Introduction

    Welcome to C.H.'
servers:
- url: https://sandbox-api.navisphere.com
  description: Test environment.
- url: https://api.navisphere.com
  description: Production environment.
security:
- sandbox: []
tags:
- name: Orders and Booking
  description: C.H. Robinson’s Orders and Bookings products are the starting point for all freight execution in Navisphere®. They provide a unified gateway for customers to submit and manage shipment and booking details—whether leveraging C.H. Robinson’s brokerage services or using Navisphere® for tracking and transportation management.
paths:
  /v1/orders:
    post:
      description: Allows partner to create an order in C.H. Robinson's Navisphere® Order Management system.
      operationId: Order Create
      tags:
      - Orders and Booking
      requestBody:
        description: JSON object of shipment information.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order'
            examples:
              Payload:
                value:
                  customers:
                  - customerCode: C8283603
                    contacts:
                    - name: Customer One
                      type: Contact
                      companyName: Customer One Company
                      contactMethods:
                      - method: Phone
                        value: '5554678415'
                    referenceNumbers:
                    - type: MBOL
                      value: SIMPMBOL968874
                  billTos:
                  - customerCode: C8283603
                    charges:
                    - rate: 0.45
                      rateCode: '400'
                      quantity: 147
                      alternateDescription: Fuel Surcharge
                    currencyCode: USD
                    contacts:
                    - name: Customer One
                      type: Contact
                      companyName: Customer One Company
                      contactMethods:
                      - method: Phone
                        value: '5554678415'
                    referenceNumbers:
                    - type: SHID
                      value: SIMPSHID968874
                  services:
                  - dateCalculationRule: promisedDeliveryDate
                    serviceLevel: S
                    sellMode: LTL
                    suggestedScac: '4695'
                    suggestedCarrierPartyCode: T2383
                    locations:
                    - customerLocationId: W541849
                      type: origin
                      name: CHR Minneapolis
                      address:
                        address1: 410 Terry Ave. N
                        address2: Building 1
                        address3: Floor 3
                        address4: Suite 308
                        city: Minneapolis
                        county: Henepiny
                        lat: '44.989136'
                        long: '-93.278497'
                        stateProvinceCode: MN
                        postalCode: '55401'
                        country: US
                      blindLocation:
                        blindName: Blind Shipping Pick
                        blindAddress: Blind Shipper lane
                        blindCity: Minneapolis
                        blindState: MN
                      openDateTime: '2026-09-05T19:05:18.768Z'
                      closeDateTime: '2026-09-05T19:05:18.768Z'
                      scheduledOpenDateTime: '2026-09-05T19:05:18.768Z'
                      scheduledCloseDateTime: '2026-09-05T19:05:18.768Z'
                      specialRequirement:
                        liftGate: false
                        insidePickup: true
                        residentialNonCommercial: false
                        limitedAccess: false
                        tradeShoworConvention: false
                        constructionSite: false
                        dropOffAtCarrierTerminal: false
                      scalesRequired: false
                      hasDropTrailer: false
                      specialInstructions: Stay hungry. Stay foolish. -Steve Jobs
                      contacts:
                      - name: Pick Location Contact
                        type: Contact
                        companyName: Pick location
                        contactMethods:
                        - method: Phone
                          value: '5554678415'
                      referenceNumbers:
                      - type: PU
                        value: SIMPPU67890
                    - customerLocationId: W541849
                      type: destination
                      name: CHR Eden Prairie
                      address:
                        address1: 14701 Charlson Rd
                        address2: Building 2
                        address3: Floor 2
                        address4: Room 204
                        city: Eden Prairie
                        county: Hennepin
                        lat: '44.820839'
                        long: '-93.460654'
                        stateProvinceCode: MN
                        postalCode: '55347'
                        country: US
                      openDateTime: '2026-09-06T19:05:18.770Z'
                      closeDateTime: '2026-09-06T19:05:18.770Z'
                      scheduledOpenDateTime: '2026-09-06T19:05:18.770Z'
                      scheduledCloseDateTime: '2026-09-06T19:05:18.770Z'
                      specialRequirement:
                        liftGate: false
                        insideDelivery: true
                        residentialNonCommercial: false
                        limitedAccess: false
                        tradeShoworConvention: false
                        constructionSite: false
                        pickupAtCarrierTerminal: false
                        sortAndSegregate: false
                      scalesRequired: false
                      hasDropTrailer: false
                      specialInstructions: Whatever you are, be a good one. -Abraham Lincoln
                      contacts:
                      - name: Drop Location Contact
                        type: Contact
                        companyName: Drop Location
                        contactMethods:
                        - method: Phone
                          value: '5554678415'
                      referenceNumbers:
                      - type: DEL
                        value: SIMPDEL67890
                    items:
                    - packagingType: CAS
                      quantity: 40
                      description: Widgets
                      productCode: 123-45
                      freightClass: '70'
                      weight: 5000
                      weightUnitOfMeasure: Pounds
                      packagingLength: 2
                      packagingWidth: 2
                      packagingHeight: 2
                      packagingUnitOfMeasure: Inches
                      relationships:
                        innerPackQuantity: 50
                        innerPackUomCode: BOT
                        masterPackQuantity: 4
                      equipmentLength: 48
                      equipmentHeight: 60
                      equipmentWidth: 40
                      equipmentUnitOfMeasure: Inches
                      totalTrailerFeetUsed: 4
                      itemEquipment:
                        itemEquipmentCode: B
                        maxTrailerAge: 10
                        tarpTypeCode: SMOKE
                        loadingTypeCode: CRANE
                        requiredStrapsCount: 10
                        requiredChainsCount: 10
                        coilRacks: 6
                        locksBars: 9
                        isOwOd: false
                        safetyEquipmentRequired: false
                      packagingVolume: 7680
                      packagingVolumeUnitOfMeasure: CubicFeet
                      insuranceValue: 1000
                      pallets: 1
                      palletSpaces: 1
                      nationalMotorFreightClass: '50'
                      upcNumber: '1234567890'
                      skuNumber: 01234-001-F10-6
                      pluNumber: 514a561
                      isStackable: false
                      isTemperatureSensitive: true
                      temperatureType: Dry
                      temperatureUnit: Celsius
                      requiredTemperatureHigh: 32
                      requiredTemperatureLow: 0
                      referenceNumbers:
                      - type: PO
                        value: SIMPPO67890
                    referenceNumbers:
                    - type: PRO
                      value: SIMPPRO67890
                    isTeam: false
                  measurementSystem: Standard
                  referenceNumbers:
                  - type: JNO
                    value: NOT A REAL ORDER!!!!!!!!!!
                  loadValues:
                    equipmentLength: 48
                    equipmentWidth: 9
                    equipmentHeight: 12
                    trailerNum: T1234567
                  onlineParties:
                  - partyType: CUSTOMER
                    partyCode: C1
                    relationshipIdentifier: '456123'
                  notes: Created through Postman request by EAPI Team
              Order Minimum:
                value:
                  customers:
                  - customerCode: C8283603
                  billTos:
                  - customerCode: C8283603
                    currencyCode: USD
                  services:
                  - locations:
                    - type: origin
                      name: CHR Eden Prairie
                      address:
                        address1: 14701 Charlson Rd
                        city: Eden Prairie
                        stateProvinceCode: MN
                        postalCode: '55347'
                        country: US
                      openDateTime: '2026-09-05T19:05:18.768Z'
                      closeDateTime: '2026-09-05T19:05:18.768Z'
                    - type: destination
                      name: CHR Eden Prairie
                      address:
                        address1: 14701 Charlson Rd
                        city: Eden Prairie
                        stateProvinceCode: MN
                        postalCode: '55347'
                        country: US
                      openDateTime: '2026-09-06T19:05:18.770Z'
                      closeDateTime: '2026-09-06T19:05:18.770Z'
                    items:
                    - packagingType: Case
                      quantity: 50
                      description: Widgets
                      productCode: 123-45
                      freightClass: '70'
                      weight: 45000
                      weightUnitOfMeasure: Pounds
                      insuranceValue: 1000
                    loadValues:
                      equipmentLength: 48
                      equipmentWidth: 9
                      equipmentHeight: 12
                      trailerNum: T1234567
              Order with Hazmat:
                value:
                  customers:
                  - customerCode: C8283603
                    contacts:
                    - name: Customer One
                      type: Contact
                      companyName: Customer One Company
                      contactMethods:
                      - method: Phone
                        value: '5554678415'
                    referenceNumbers:
                    - type: MBOL
                      value: SIMPMBOL153138
                  billTos:
                  - customerCode: C8283603
                    charges:
                    - rate: 132.45
                      rateCode: '405'
                      alternateDescription: Fuel Surcharge
                    currencyCode: USD
                    contacts:
                    - name: Customer One
                      type: Contact
                      companyName: Customer One Company
                      contactMethods:
                      - method: Phone
                        value: '5554678415'
                    referenceNumbers:
                    - type: SHID
                      value: SIMPSHID153138
                  services:
                  - serviceLevel: Standard
                    sellMode: TL
                    locations:
                    - customerLocationId: W541849
                      type: origin
                      name: CHR Minneapolis
                      address:
                        address1: 410 Terry Ave. N
                        address2: Building 1
                        address3: Floor 3
                        address4: Suite 308
                        city: Minneapolis
                        county: Henepiny
                        lat: '44.989136'
                        long: '-93.278497'
                        stateProvinceCode: MN
                        postalCode: '55401'
                        country: US
                      openDateTime: '2026-09-05T19:05:18.768Z'
                      closeDateTime: '2026-09-05T19:05:18.768Z'
                      scheduledOpenDateTime: '2026-09-05T19:05:18.768Z'
                      scheduledCloseDateTime: '2026-09-05T19:05:18.768Z'
                      specialRequirement:
                        liftGate: 'true'
                        insidePickup: 'true'
                        residentialNonCommercial: 'true'
                        limitedAccess: 'true'
                        tradeShoworConvention: 'true'
                        constructionSite: 'true'
                        dropOffAtCarrierTerminal: 'true'
                      scalesRequired: false
                      hasDropTrailer: false
                      specialInstructions: Stay hungry. Stay foolish. -Steve Jobs
                      contacts:
                      - name: Pick Location Contact
                        type: Contact
                        companyName: Pick location
                        contactMethods:
                        - method: Phone
                          value: '5554678415'
                      referenceNumbers:
                      - type: PU
                        value: SIMPPU67890
                    - customerLocationId: W541849
                      type: destination
                      name: CHR Eden Prairie
                      address:
                        address1: 14701 Charlson Rd
                        address2: Building 2
                        address3: Floor 2
                        address4: Room 204
                        city: Eden Prairie
                        county: Hennepin
                        lat: '44.820839'
                        long: '-93.460654'
                        stateProvinceCode: MN
                        postalCode: '55347'
                        country: US
                      openDateTime: '2026-09-06T19:05:18.770Z'
                      closeDateTime: '2026-09-06T19:05:18.770Z'
                      scheduledOpenDateTime: '2026-09-06T19:05:18.770Z'
                      scheduledCloseDateTime: '2026-09-06T19:05:18.770Z'
                      specialRequirement:
                        liftGate: 'true'
                        insideDelivery: 'true'
                        residentialNonCommercial: 'true'
                        limitedAccess: 'true'
                        tradeShoworConvention: 'true'
                        constructionSite: 'true'
                        pickupAtCarrierTerminal: 'true'
                        sortAndSegregate: 'true'
                      scalesRequired: false
                      hasDropTrailer: false
                      specialInstructions: Whatever you are, be a good one. -Abraham Lincoln
                      contacts:
                      - name: Drop Location Contact
                        type: Contact
                        companyName: Drop Location
                        contactMethods:
                        - method: Phone
                          value: '5554678415'
                      referenceNumbers:
                      - type: DEL
                        value: SIMPDEL67890
                    items:
                    - packagingType: Case
                      quantity: 50
                      description: Widgets
                      productCode: 123-45
                      freightClass: '70'
                      weight: 45000
                      weightUnitOfMeasure: Pounds
                      packagingLength: 2
                      packagingWidth: 2
                      packagingHeight: 2
                      packagingUnitOfMeasure: Inches
                      equipmentLength: 48
                      equipmentHeight: 9
                      equipmentWidth: 8
                      equipmentUnitOfMeasure: Feet
                      packagingVolume: 7680
                      packagingVolumeUnitOfMeasure: CubicFeet
                      insuranceValue: 1000
                      pallets: 1
                      palletSpaces: 1
                      nationalMotorFreightClass: '50'
                      hazardousProperties:
                        description: Hazardous Material
                        technicalName: Technically Hazardous
                        unNumber: '2796'
                        classCode: '8'
                        packagingGroup: Group I
                        emergencyPhone: '911'
                        authCode: D
                        isPlacarded: false
                        isReportableQuantity: false
                        isPrimaryCommodity: false
                        isNOSCommodity: false
                      upcNumber: '1234567890'
                      skuNumber: 01234-001-F10-6
                      isStackable: false
                      isTemperatureSensitive: true
                      temperatureType: Dry
                      temperatureUnit: Celsius
                      requiredTemperatureHigh: 32
                      requiredTemperatureLow: 0
                      referenceNumbers:
                      - type: PO
                        value: SIMPPO67890
                    referenceNumbers:
                    - type: PRO
                      value: SIMPPRO67890
                  measurementSystem: Standard
                  referenceNumbers:
                  - type: JNO
                    value: NOT A REAL ORDER!!!!!!!!!!
                  loadValues:
                    equipmentLength: 48
                    equipmentWidth: 9
                    equipmentHeight: 12
                    trailerNum: T1234567
                  notes: Created through EAPI portal "try it now" feature
              Order with Package:
                value:
                  customers:
                  - customerCode: C8283603
                    contacts:
                    - name: Customer One
                      type: Contact
                      companyName: Customer One Company
                      contactMethods:
                      - method: Phone
                        value: '5554678415'
                    referenceNumbers:
                    - type: MBOL
                      value: '{{MBOL}}'
                  billTos:
                  - customerCode: C8283603
                    charges:
                    - rate: 132.45
                      rateCode: '405'
                      alternateDescription: Fuel Surcharge
                    currencyCode: USD
                    contacts:
                    - name: Customer One
                      type: Contact
                      companyName: Customer One Company
                      contactMethods:
                      - method: Phone
                        value: '5554678415'
                    referenceNumbers:
                    - type: SHID
                      value: SIMPSHID968874
                  services:
                  - serviceLevel: Standard
                    sellMode: TL
                    locations:
                    - customerLocationId: W541849
                      type: origin
                      name: CHR Minneapolis
                      address:
                        address1: 410 Terry Ave. N
                        address2: Building 1
                        address3: Floor 3
                        address4: Suite 308
                        city: Minneapolis
                        county: Henepiny
                        lat: '44.989136'
                        long: '-93.278497'
                        stateProvinceCode: MN
                        postalCode: '55401'
                        country: US
                      openDateTime: '2026-09-05T19:05:18.768Z'
                      closeDateTime: '2026-09-05T19:05:18.768Z'
                      scheduledOpenDateTime: '2026-09-05T19:05:18.768Z'
                      scheduledCloseDateTime: '2026-09-05T19:05:18.768Z'
                      scalesRequired: false
                      hasDropTrailer: false
                      specialInstructions: Stay hungry. Stay foolish. -Steve Jobs
                      contacts:
                      - name: Pick Location Contact
                        type: Contact
                        companyName: Pick location
                        contactMethods:
                        - method: Phone
                          value: '5554678415'
                      referenceNumbers:
                      - type: PU
                        value: SIMPPU67890
                    - customerLocationId: W541849
                      type: destination
                      name: CHR Eden Prairie
                      address:
                        address1: 14701 Charlson Rd
                        address2: Building 2
                        address3: Floor 2
                        address4: Room 204
                        city: Eden Prairie
                        county: Hennepin
                        lat: '44.820839'
                        long: '-93.460654'
                        stateProvinceCode: MN
                        postalCode: '55347'
                        country: US
                      openDateTime: '2026-09-06T19:05:18.770Z'
                      closeDateTime: '2026-09-06T19:05:18.770Z'
                      scheduledOpenDateTime: '2026-09-06T19:05:18.770Z'
                      scheduledCloseDateTime: '2026-09-06T19:05:18.770Z'
                      scalesRequired: false
                      hasDropTrailer: false
                      specialInstructions: Whatever you are, be a good one. -Abraham Lincoln
                      contacts:
                      - name: Drop Location Contact
                        type: Contact
                        companyName: Drop Location
                        contactMethods:
                        - method: Phone
                          value: '5554678415'
                      referenceNumbers:
                      - type: DEL
                        value: SIMPDEL67890
                    packages:
                    - packageType: BOX
                      weight: 5
                      length: 5
                      width: 5
                      height: 5
                      volume: 5
                      weightLb: 5
                      packageUnitOfMeasure: Inches
                      packageVolumeUnitOfMeasure: CubicFeet
                      codAmount: 20
                      declaredValue: 15
                      trackingNumber: '456789845137'
                    referenceNumbers:
                    - type: PRO
                      value: SIMPPRO67890
                  measurementSystem: Standard
                  referenceNumbers:
                  - type: JNO
                    value: NOT A REAL ORDER!!!!!!!!!!
                  loadValues:
                    equipmentLength: 48
                    equipmentWidth: 9
                    equipmentHeight: 12
                    trailerNum: T1234567
                  notes: Created through Postman request by EAPI Team
              Order Multi-Stop:
                value:
                  customers:
                  - customerCode: C8283603
                    referenceNumbers:
                    - type: MBOL
                      value: SIMPMBOL968874
                  billTos:
                  - customerCode: C8283603
                    currencyCode: USD
                    referenceNumbers:
                    - type: SHID
                      value: SIMPSHID968874
                  services:
                  - sellMode: TL
                    locations:
                    - customerLocationId: W6068742
                      type: origin
                      name: CHR California
                      address:
                        address1: 1600 Amphitheatre Pkwy
                        city: Mountain View
                        stateProvinceCode: CA
                        postalCode: '940431351'
                        country: US
                      openDateTime: '2019-06-05T18:36:13.131Z'
                      closeDateTime: '2019-06-06T18:36:13.131Z'
                    - customerLocationId: W541849
                      type: destination
                      name: CHR Minneapolis
                      address:
                        address1: 410 Terry Ave. N
                        address2: Building 1
                        address3: Floor 3
                        address4: Suite 308
                        city: Minneapolis
                        county: Henepiny
                        lat: '44.989136'
                        long: '-93.278497'
                        stateProvinceCode: MN
                        postalCode: '55401'
                        country: US
                      openDateTime: '2019-06-05T18:36:13.131Z'
                      closeDateTime: '2019-06-06T18:36:13.131Z'
                    items:
                    - packagingType: Case
                      quantity: 20
                      description: Widgets
                      productCode: 123-45
                      freightClass: '70'
                      weight: 15000
                      weightUnitOfMeasure: Pounds
                      insuranceValue: 1000
                  - sellMode: TL
                    locations:
                    - customerLocationId: W541849
                      type: origin
                      name: CHR Southern California
                      address:
                        address1: 2550 Brittannia Blvd
                        city: San Diego
                        stateProvinceCode: CA
                        postalCode: '92173'
                        country: US
                      openDateTime: '2019-06-05T18:36:13.131Z'
                      closeDateTime: '2019-06-06T18:36:13.131Z'
                    - customerLocationId: W541849
                      type: destination
                      name: CHR Minneapolis
                      address:
                        address1: 410 Terry Ave. N
                        address2: Building 1
                        address3: Floor 3
                        address4: Suite 308
                        city: Minneapolis
                        county: Henepiny
                        lat: '44.989136'
                        long: '-93.278497'
                        stateProvinceCode: MN
                        postalCode: '55401'
                        country: US
                      openDateTime: '2019-06-05T18:36:13.131Z'
                      closeDateTime: '2019-06-06T18:36:13.131Z'
                    items:
                    - packagingType: Pallet
                      quantity: 10
                      description: Stuff
                      productCode: 678-99
                      freightClass: '70'
                      weight: 10000
                      weightUnitOfMeasure: Pounds
                      insuranceValue: 1000
      x-code-samples:
      - lang: Curl
        source: "curl -X POST \\ \n https://sandbox-api.navisphere.com/v1/orders \\ \n -H 'Authorization: Bearer YOUR TOKEN' \\ \n -H 'Content-Type: application/json' \\ \n -d '{ \n \t\"customers\": [{ \n \t\t\"customerCode\": \"C8283603\",\n \t\t\"contacts\": [{\n \t\t\t\"name\": \"Contact One\",\n \t\t\t\"type\": \"Contact\",\n \t\t\t\"companyName\": \"Customer One\",\n \t\t\t\"contactMethods\": [{ \n \t\t\t\t\"method\": \"Phone\",\n \t\t\t\t\"value\": \"5554678415\"\n \t\t\t}]\n \t\t}],\n\n \t\t\"referenceNumbers\": [{\n \t\t\t\"type\": \"MBOL\",\n \t\t\t\"value\": \"SIMPMBOL67890\"\n \t\t}]\n \t}],\n \t\"billTos\": [{\n \t\t\"customerCode\": \"C8283603\",\n \t\t\"charges\": [{\n \t\t\t\"rate\": 132.45,\n \t\t\t\"rateCode\": \"405\",\n \t\t\t\"alternateDescription\": \"Fuel Surcharge\"\n \t\t}],\n \t\t\"currencyCode\": \"USD\",\n \t\t\"contacts\": [{\n \t\t\t\"name\": \"Contact One\",\n \t\t\t\"type\": \"Contact\",\n \t\t\t\"companyName\": \"Customer One\",\n \t\t\t\"contactMethods\": [{ \t\t\t\t\"method\": \"Phone\",\n \t\t\t\t\"value\": \"5554678415\"\n \t\t\t}]\n \t\t}],\n \t\t\"referenceNumbers\": [{ \t\t\t\"type\": \"SHID\",\n \t\t\t\"value\": \"SIMPSHID67890\"\n \t\t}]\n \t}],\n \t\"services\": [{\n \t\t\"serviceLevel\": \"Standard\",\n \t\t\"sellMode\": \"TL\",\n \t\t\"locations\": [{\n \t\t\t\"customerLocationId\": \"W541849\",\n \t\t\t\"type\": \"origin\",\n \t\t\t\"name\": \"Origin Location\",\n \t\t\t\"address\": {\n \t\t\t\t\"address1\": \"14800 Charlson Rd\",\n \t\t\t\t\"address2\": \"Building 1\",\n \t\t\t\t\"address3\": \"Floor 2\",\n \t\t\t\t\"address4\": \"Room 212\",\n \t\t\t\t\"city\": \"Eden Prairie\",\n \t\t\t\t\"county\": \"Hennepin\",\n \t\t\t\t\"lat\": 31.717096,\n \t\t\t\t\"long\": -99.132553,\n \t\t\t\t\"stateProvinceCode\": \"MN\",\n \t\t\t\t\"postalCode\": \"55347\",\n \t\t\t\t\"country\": \"US\" \t\t\t},\n \t\t\t\"openDateTime\": \"2019-03-18T17:23:48.983Z\",\n \t\t\t\"closeDateTime\": \"2019-03-19T17:23:48.984Z\",\n \t\t\t\"scheduledOpenDateTime\": \"2019-03-18T17:23:48.983Z\",\n \t\t\t\"scheduledCloseDateTime\": \"2019-03-19T17:23:48.984Z\",\n \t\t\t\"scalesRequired\": false,\n \t\t\t\"hasDropTrailer\": false,\n \t\t\t\"specialInstructions\": \"Stay hungry. Stay foolish. -Steve Jobs\",\n \t\t\t\"contacts\": [{\n \t\t\t\t\"name\": \"Warehouse Contact\",\n \t\t\t\t\"type\": \"Contact\",\n \t\t\t\t\"companyName\": \"Warehouse One\",\n \t\t\t\t\"contactMethods\": [{\n \t\t\t\t\t\"method\": \"Phone\",\n \t\t\t\t\t\"value\": \"5554678415\" \t\t\t\t}]\n \t\t\t}],\n \t\t\t\"referenceNumber\": [{ \n \t\t\t\t\"type\": \"PU\",\n \t\t\t\t\"value\": \"SIMPPU67890\"\n \t\t\t}]\n \t\t},{ \n \t\t\t\"customerLocationId\": \"W541849\",\n \t\t\t\"type\": \"destination\",\n \t\t\t\"name\": \"Destination Location\",\n \t\t\t\"address\": { \t\t\t\t\"address1\": \"800 Washington Avenue North\",\n \t\t\t\t\"address2\": \"Building 1\",\n \t\t\t\t\"address3\": \"Floor 5\",\n \t\t\t\t\"address4\": \"Suite 550\",\n \t\t\t\t\"city\": \"Minneapolis\",\n \t\t\t\t\"county\": \"Hennepin\",\n \t\t\t\t\"lat\": 44.989386,\n \t\t\t\t\"long\": -93.278626,\n \t\t\t\t\"stateProvinceCode\": \"MN\",\n \t\t\t\t\"postalCode\": \"55401\",\n \t\t\t\t\"country\": \"US\"\n \t\t\t},\n \t\t\t\"openDateTime\": \"2019-03-25T17:23:48.984Z\",\n \t\t\t\"closeDateTime\": \"2019-03-26T17:23:48.984Z\",\n \t\t\t\"scheduledOpenDateTime\": \"2019-03-25T17:23:48.984Z\",\n \t\t\t\"scheduledCloseDateTime\": \"2019-03-26T17:23:48.984Z\",\n \t\t\t\"scalesRequired\": false,\n \t\t\t\"hasDropTrailer\": false,\n \t\t\t\"specialInstructions\": \"Whatever you are, be a good one. -Abraham Lincoln\",\n \t\t\t\"contacts\": [{\n \t\t\t\t\"name\": \"Contact two\",\n \t\t\t\t\"type\": \"Contact\",\n \t\t\t\t\"companyName\": \"Warehouse Two\",\n \t\t\t\t\"contactMethods\": [{ \n \t\t\t\t\t\"method\": \"Phone\",\n \t\t\t\t\t\"value\": \"5554678415\"\n \t\t\t\t}]\n \t\t\t}],\n \t\t\t\"referenceNumbers\": [{\n \t\t\t\t\"type\": \"DEL\",\n \t\t\t\t\"value\": \"SIMPDEL67890\"\n \t\t\t}]\n \t\t\t}],\n \t\t\t\"items\": [{\n \t\t\t\t\"packagingType\": \"Case\",\n \t\t\t\t\"quantity\": 50,\n \t\t\t\t\"description\": \"Widgets\",\n \t\t\t\t\"productCode\": \"123-45\",\n \t\t\t\t\"freightClass\": \"70\",\n \t\t\t\t\"weight\": 45000,\n \t\t\t\t\"weightUnitOfMeasure\": \"Pounds\",\n \t\t\t\t\"packagingLength\": 2,\n \t\t\t\t\"packagingWidth\": 2,\n \t\t\t\t\"packagingHeight\": 2,\n \t\t\t\t\"packagingUnitOfMeasure\": \"Inches\",\n \t\t\t\t\"equipmentLength\": 48,\n \t\t\t\t\"equipmentHeight\": 9,\n \t\t\t\t\"equipmentWidth\": 8,\n \t\t\t\t\"equipmentUnitOfMeasure\": \"Feet\",\n \t\t\t\t\"packagingVolume\": 7680,\n \t\t\t\t\"packagingVolumeUnitOfMeasure\": \"CubicFeet\",\n \t\t\t\t\"insuranceValue\": 1000,\n \t\t\t\t\"pallets\": 1,\n \t\t\t\t\"palletSpaces\": 1,\n \t\t\t\t\"nationalMotorFreightClass\": \"50\",\n \t\t\t\t\"hazardousProperties\": {\n \t\t\t\t\t\"description\": \"Hazardous Material\",\n \t\t\t\t\t\"technicalName\": \"Technically Hazardous\",\n \t\t\t\t\t\"unNumber\": \"2796\",\n \t\t\t\t\t\"classCode\": \"8\",\n \t\t\t\t\t\"packagingGroup\": \"Group I\",\n \t\t\t\t\t\"emergencyPhone\": \"911\",\n \t\t\t\t\t\"authCode\": \"D\",\n \t\t\t\t\t\"isPlacarded\": false,\n \t\t\t\t\t\"isReportableQuantity\": false,\n \t\t\t\t\t\"isPrimaryCommodity\": false,\n \t\t\t\t\t\"isNOSCommodity\": false \t\t\t\t},\n \t\t\t\t\"upcNumber\": \"1234567890\",\n \t\t\t\t\"skuNumber\": \"01234-001-F10-6\",\n \t\t\t\t\"isStackable\": false,\n \t\t\t\t\"isTemperatureSensitive\": true,\n \t\t\t\t\"temperatureType\": \"Dry\",\n \t\t\t\t\"temperatureUnit\": \"Celsius\",\n \t\t\t\t\"requiredTemperatureHigh\": 32,\n \t\t\t\t\"requiredTemperatureLow\": 0,\n \t\t\t\t\"referenceNumbers\": [{\n \t\t\t\t\t\"type\": \"PO\",\n \t\t\t\t\t\"value\": \"SIMPPO67890\"\n \t\t\t\t}]\n \t\t\t}],\n \t\t\t\"collectOnDelivered\": [{\n \t\t\t\t\"amount\": 153.24,\n \t\t\t\t\"paymentType\": \"CC\",\n \t\t\t\t\"payableTo\": \"John Doe\",\n \t\t\t\t\"mailTo\": \"Jane Doe\",\n \t\t\t\t\"address\": {\n \t\t\t\t\t\"address1\": \"14800 Charlson Rd\",\n \t\t\t\t\t\"address2\": \"Building 1\",\n \t\t\t\t\t\"address3\": \"Floor 5\",\n \t\t\t\t\t\"address4\": \"Room 212\",\n \t\t\t\t\t\"city\": \"Eden Prairie\",\n \t\t\t\t\t\"county\": \"Hennepin\",\n \t\t\t\t\t\"lat\": 34.1548,\n \t\t\t\t\t\"long\": -84.46578,\n \t\t\t\t\t\"stateProvinceCode\": \"MN\",\n \t\t\t\t\t\"postalCode\": \"55347\",\n \t\t\t\t\t\"country\": \"US\"\n \t\t\t\t},\n \t\t\t\t\"referenceNumbers\": [{\n \t\t\t\t\t\"type\": \"MBOL\",\n \t\t\t\t\t\"value\": \"12345687\"\n \t\t\t\t}]\n \t\t\t}],\n \t\t\t\"referenceNumbers\": [{\n \t\t\t\t\"type\": \"PRO\",\n \t\t\t\t\"value\": \"SIMPPRO67890\"\n \t\t\t}]\n \t\t}],\n \t\t\"measurementSystem\": \"Standard\",\n \t\t\"referenceNumbers\": [{\n \t\t\t\"type\": \"CON\",\n \t\t\t\"value\": \"CON12321NOC\"\n \t\t},{\n \t\t\t\"type\": \"JNO\",\n \t\t\t\"value\": \"NOT A REAL ORDER!!!!!!!!!!\"\n \t\t}],\n \t\t\"loadValues\": {\n \t\t\t\"equipmentLength\": 48,\n \t\t\t\"equipmentWidth\": 9,\n \t\t\t\"trailerNum\": \"T1234567\"\n \t\t},\n \t\t\"onlineParties\": [{\n \t\t\t\"partyType\": \"CUSTOMER\",\n \t\t\t\"partyCode\": \"C1\",\n \t\t\t\"relationshipIdentifier\": \"456123\"\n \t\t}],\n \t\"notes\": \"Created through Schema Test\"\n }'"
      - lang: Java
        source: "HttpResponse<String> response = Unirest.post(\"https://sandbox-api.navisphere.com/v1/orders\")\n .header(\"Content-Type\", \"application/json\")\n .header(\"Authorization\", \"Bearer YOU TOKEN\")\n .body(\"{\n  \"customers\": [\n    {\n      \"customerCode\": \"C8283603\",\n      \"contacts\": [\n        {\n          \"name\": \"Contact One\",\n          \"type\": \"Contact\",\n          \"companyName\": \"Customer One\",\n          \"contactMethods\": [\n            {\n              \"method\": \"Phone\",\n              \"value\": \"5554678415\"\n            }\n          ]\n        }\n      ],\n      \"referenceNumbers\": [\n        {\n          \"type\": \"MBOL\",\n          \"value\": \"SIMPMBOL67890\"\n        }\n      ]\n    }\n  ],\n  \"billTos\": [\n    {\n      \"customerCode\": \"C8283603\",\n      \"charges\": [\n        {\n          \"rate\": 132.45,\n          \"rateCode\": \"405\",\n          \"alternateDescription\": \"Fuel Surcharge\"\n        }\n      ],\n      \"currencyCode\": \"USD\",\n      \"contacts\": [\n        {\n          \"name\": \"Contact One\",\n          \"type\": \"Contact\",\n          \"companyName\": \"Customer One\",\n          \"contactMethods\": [\n            {\n              \"method\": \"Phone\",\n              \"value\": \"5554678415\"\n            }\n          ]\n        }\n      ],\n      \"referenceNumbers\": [\n        {\n          \"type\": \"SHID\",\n          \"value\": \"SIMPSHID67890\"\n        }\n      ]\n    }\n  ],\n  \"services\": [\n    {\n      \"serviceLevel\": \"Standard\",\n      \"sellMode\": \"TL\",\n      \"locations\": [\n        {\n          \"customerLocationId\": \"W541849\",\n          \"type\": \"origin\",\n          \"name\": \"Origin Location\",\n          \"address\": {\n            \"address1\": \"14800 Charlson Rd\",\n            \"address2\": \"Building 1\",\n            \"address3\": \"Floor 2\",\n            \"address4\": \"Room 212\",\n            \"city\": \"Eden Prairie\",\n            \"county\": \"Hennepin\",\n            \"lat\": 31.717096,\n            \"long\": -99.132553,\n            \"stateProvinceCode\": \"MN\",\n            \"postalCode\": \"55347\",\n            \"country\": \"US\"\n          },\n          \"openDateTime\": \"2019-03-18T17:23:48.983Z\",\n          \"closeDateTime\": \"2019-03-19T17:23:48.984Z\",\n          \"scheduledOpenDateTime\": \"2019-03-18T17:23:48.983Z\",\n          \"scheduledCloseDateTime\": \"2019-03-19T17:23:48.984Z\",\n          \"scalesRequired\": false,\n          \"hasDropTrailer\": false,\n          \"specialInstructions\": \"Stay hungry. Stay foolish. -Steve Jobs\",\n          \"contacts\": [\n            {\n              \"name\": \"Warehouse Contact\",\n              \"type\": \"Contact\",\n              \"companyName\": \"Warehouse One\",\n              \"contactMethods\": [\n                {\n                  \"method\": \"Phone\",\n                  \"value\": \"5554678415\"\n                }\n              ]\n            }\n          ],\n          \"referenceNumber\": [\n            {\n              \"type\": \"PU\",\n              \"value\": \"SIMPPU67890\"\n            }\n          ]\n        },\n        {\n          \"customerLocationId\": \"W541849\",\n          \"type\": \"destination\",\n          \"name\": \"Destination Location\",\n          \"address\": {\n            \"address1\": \"800 Washington Avenue North\",\n            \"address2\": \"Building 1\",\n            \"address3\": \"Floor 5\",\n            \"address4\": \"Suite 550\",\n            \"city\": \"Minneapolis\",\n            \"county\": \"Hennepin\",\n            \"lat\": 44.989386,\n            \"long\": -93.278626,\n            \"stateProvinceCode\": \"MN\",\n            \"postalCode\": \"55401\",\n            \"country\": \"US\"\n          },\n          \"openDateTime\": \"2019-03-25T17:23:48.984Z\",\n          \"closeDateTime\": \"2019-03-26T17:23:48.984Z\",\n          \"scheduledOpenDateTime\": \"2019-03-25T17:23:48.984Z\",\n          \"scheduledCloseDateTime\": \"2019-03-26T17:23:48.984Z\",\n          \"scalesRequired\": false,\n          \"hasDropTrailer\": false,\n          \"specialInstructions\": \"Whatever you are, be a good one. -Abraham Lincoln\",\n          \"contacts\": [\n            {\n              \"name\": \"Contact two\",\n              \"type\": \"Contact\",\n              \"companyName\": \"Warehouse Two\",\n              \"contactMethods\": [\n                {\n                  \"method\": \"Phone\",\n                  \"value\": \"5554678415\"\n                }\n              ]\n            }\n          ],\n          \"referenceNumbers\": [\n            {\n              \"type\": \"DEL\",\n              \"value\": \"SIMPDEL67890\"\n            }\n          ]\n        }\n      ],\n      \"items\": [\n        {\n          \"packagingType\": \"Case\",\n          \"quantity\": 50,\n          \"description\": \"Widgets\",\n          \"productCode\": \"123-45\",\n          \"freightClass\": \"70\",\n          \"weight\": 45000,\n          \"weightUnitOfMeasure\": \"Pounds\",\n          \"packagingLength\": 2,\n          \"packagingWidth\": 2,\n          \"packagingHeight\": 2,\n          \"packagingUnitOfMeasure\": \"Inches\",\n          \"equipmentLength\": 48,\n          \"equipmentHeight\": 9,\n          \"equipmentWidth\": 8,\n          \"equipmentUnitOfMeasure\": \"Feet\",\n          \"packagingVolume\": 7680,\n          \"packagingVolumeUnitOfMeasure\": \"CubicFeet\",\n          \"insuranceValue\": 1000,\n          \"pallets\": 1,\n          \"palletSpaces\": 1,\n          \"nationalMotorFreightClass\": \"50\",\n          \"hazardousProperties\": {\n            \"description\": \"Hazardous Material\",\n            \"technicalName\": \"Technically Hazardous\",\n            \"unNumber\": \"2796\",\n            \"classCode\": \"8\",\n            \"packagingGroup\": \"Group I\",\n            \"emergencyPhone\": \"911\",\n            \"authCode\": \"D\",\n            \"isPlacarded\": false,\n            \"isReportableQuantity\": false,\n            \"isPrimaryCommodity\": false,\n            \"isNOSCommodity\": false\n          },\n          \"upcNumber\": \"1234567890\",\n          \"skuNumber\": \"01234-001-F10-6\",\n          \"isStackable\": false,\n          \"isTemperatureSensitive\": true,\n          \"temperatureType\": \"Dry\",\n          \"temperatureUnit\": \"Celsius\",\n          \"requiredTemperatureHigh\": 32,\n          \"requiredTemperatureLow\": 0,\n          \"referenceNumbers\": [\n            {\n              \"type\": \"PO\",\n              \"value\": \"SIMPPO67890\"\n            }\n          ]\n        }\n      ],\n      \"collectOnDelivered\": [\n        {\n          \"amount\": 153.24,\n          \"paymentType\": \"CC\",\n          \"payableTo\": \"John Doe\",\n          \"mailTo\": \"Jane Doe\",\n          \"address\": {\n            \"address1\": \"14800 Charlson Rd\",\n            \"address2\": \"Building 1\",\n            \"address3\": \"Floor 5\",\n            \"address4\": \"Room 212\",\n            \"city\": \"Eden Prairie\",\n            \"county\": \"Hennepin\",\n            \"lat\": 34.1548,\n            \"long\": -84.46578,\n            \"stateProvinceCode\": \"MN\",\n            \"postalCode\": \"55347\",\n            \"country\": \"US\"\n          },\n          \"referenceNumbers\": [\n            {\n              \"type\": \"MBOL\",\n              \"value\": \"12345687\"\n            }\n          ]\n        }\n      ],\n      \"referenceNumbers\": [\n        {\n          \"type\": \"PRO\",\n          \"value\": \"SIMPPRO67890\"\n        }\n      ]\n    }\n  ],\n  \"measurementSystem\": \"Standard\",\n  \"referenceNumbers\": [\n    {\n      \"type\": \"CON\",\n      \"value\": \"CON12321NOC\"\n    },\n    {\n      \"type\": \"JNO\",\n      \"value\": \"NOT A REAL ORDER!!!!!!!!!!\"\n    }\n  ],\n  \"loadValues\":\n  {\n    \"equipmentLength\": 48,\n    \"equipmentWidth\": 9,\n    \"trailerNum\": \"T1234567\"\n  },\n \"onlineParties\": [\n    {\n      \"partyType\": \"CUSTOMER\",\n      \"partyCode\": \"C1\",\n      \"relationshipIdentifier\": \"456123\"\n    }\n  ],\n \"notes\": \"Created through Schema Test\"\n}\")\n .asString();"
      - lang: NodeJS
        source: " var request = require(\"request\"); \n\n\nvar options = { method: 'POST',\n \turl: 'https://sandbox-api.navisphere.com/v1/orders',\n \theaders: \n \t{ Authorization: 'Bearer YOU TOKEN',\n \t\t'Content-Type': 'application/json' },\n \tbody: { \n \tcustomers: \n \t\t[ { customerCode: 'C8283603', \n \t\t\tcontacts: \n \t\t\t[ { name: 'Contact One',\n \t\t\t\ttype: 'Contact',\n \t\t\t\tcompanyName: 'Customer One',\n \t\t\t\tcontactMethods: [ { method: 'Phone', value: '5554678415' } ] } ],\n \t\t\treferenceNumbers: [ { type: 'MBOL', value: 'SIMPMBOL67890' } ] } ],\n \tbillTos: \n \t\t[ { customerCode: 'C8283603',\n \t\t\tcharges: \n \t\t\t[ { rate: 132.45,\n \t\t\t\trateCode: '405',\n \t\t\t\talternateDescription: 'Fuel Surcharge' } ],\n \t\t\tcurrencyCode: 'USD',\n \t\t\tcontacts: \n \t\t\t[ { name: 'Contact One',\n \t\t\t\ttype: 'Contact',\n \t\t\t\tcompanyName: 'Customer One',\n \t\t\t\tcontactMethods: [ { method: 'Phone', value: '5554678415' } ] } ],\n \t\t\treferenceNumbers: [ { type: 'SHID', value: 'SIMPSHID67890' } ] } ],\n \tservices: \n \t\t[ { serviceLevel: 'Standard',\n \t\t\tsellMode: 'TL',\n \t\t\tlocations: \n \t\t\t[ { customerLocationId: 'W541849',\n \t\t\t\ttype: 'origin',\n \t\t\t\tname: 'Origin Location',\n \t\t\t\taddress: { \n \t\t\t\t\taddress1: '14800 Charlson Rd',\n \t\t\t\t\taddress2: 'Building 1',\n \t\t\t\t\taddress3: 'Floor 2',\n \t\t\t\t\taddress4: 'Room 212',\n \t\t\t\t\tcity: 'Eden Prairie',\n \t\t\t\t\tcounty: 'Hennepin',\n \t\t\t\t\tlat: 31.717096,\n \t\t\t\t\tlong: -99.132553,\n \t\t\t\t\tstateProvinceCode: 'MN',\n \t\t\t\t\tpostalCode: '55347',\n \t\t\t\t\tcountry: 'US' },\n \t\t\t\topenDateTime: '2019-03-18T17:23:48.983Z',\n \t\t\t\tcloseDateTime: '2019-03-19T17:23:48.984Z',\n \t\t\t\tscheduledOpenDateTime: '2019-03-18T17:23:48.983Z',\n \t\t\t\tscheduledCloseDateTime: '2019-03-19T17:23:48.984Z',\n \t\t\t\tscalesRequired: false,\n \t\t\t\thasDropTrailer: false,\n \t\t\t\tspecialInstructions: 'Stay hungry. Stay foolish. -Steve Jobs',\n \t\t\t\tcontacts:[ {  \n \t\t\t\t\tname: 'Warehouse Contact',\n \t\t\t\t\ttype: 'Contact',\n \t\t\t\t\tcompanyName: 'Warehouse One',\n \t\t\t\t\tcontactMethods: [ { method: 'Phone', value: '5554678415' } ] } ],\n \t\t\t\treferenceNumber: [ { type: 'PU', value: 'SIMPPU67890' } ] },{ \n \t\t\t\tcustomerLocationId: 'W541849',\n \t\t\t\ttype: 'destination',\n \t\t\t\tname: 'Destination Location',\n \t\t\t\taddress: { \n \t\t\t\t\taddress1: '800 Washington Avenue North',\n \t\t\t\t\taddress2: 'Building 1',\n \t\t\t\t\taddress3: 'Floor 5',\n \t\t\t\t\taddress4: 'Suite 550',\n \t\t\t\t\tcity: 'Minneapolis',\n \t\t\t\t\tcounty: 'Hennepin',\n \t\t\t\t\tlat: 44.989386,\n \t\t\t\t\tlong: -93.278626,\n \t\t\t\t\tstateProvinceCode: 'MN',\n \t\t\t\t\tpostalCode: '55401',\n \t\t\t\t\tcountry: 'US' },\n \t\t\t\topenDateTime: '2019-03-25T17:23:48.984Z',\n \t\t\t\tcloseDateTime: '2019-03-26T17:23:48.984Z',\n \t\t\t\tscheduledOpenDateTime: '2019-03-25T17:23:48.984Z',\n \t\t\t\tscheduledCloseDateTime: '2019-03-26T17:23:48.984Z',\n \t\t\t\tscalesRequired: false,\n \t\t\t\thasDropTrailer: false,\n \t\t\t\tspecialInstructions: 'Whatever you are, be a good one. -Abraham Lincoln',\n \t\t\t\tcontacts: [ { \n \t\t\t\t\tname: 'Contact two',\n \t\t\t\t\ttype: 'Contact',\n \t\t\t\t\tcompanyName: 'Warehouse Two',\n \t\t\t\t\tcontactMethods: [ { method: 'Phone', value: '5554678415' } ] } ],\n \t\t\t\treferenceNumbers: [ { type: 'DEL', value: 'SIMPDEL67890' } ] } ],\n \t\t\titems: [ { \n \t\t\t\tpackagingType: 'Case',\n \t\t\t\tquantity: 50,\n \t\t\t\tdescription: 'Widgets',\n \t\t\t\tproductCode: '123-45',\n \t\t\t\tfreightClass: '70',\n \t\t\t\tweight: 45000,\n \t\t\t\tweightUnitOfMeasure: 'Pounds',\n \t\t\t\tpackagingLength: 2,\n \t\t\t\tpackagingWidth: 2,\n \t\t\t\tpackagingHeight: 2,\n \t\t\t\tpackagingUnitOfMeasure: 'Inches',\n \t\t\t\tequipmentLength: 48,\n \t\t\t\tequipmentHeight: 9,\n \t\t\t\tequipmentWidth: 8,\n \t\t\t\tequipmentUnitOfMeasure: 'Feet',\n \t\t\t\tpackagingVolume: 7680,\n \t\t\t\tpackagingVolumeUnitOfMeasure: 'CubicFeet',\n \t\t\t\tinsuranceValue: 1000,\n \t\t\t\tpallets: 1,\n \t\t\t\tpalletSpaces: 1,\n \t\t\t\tnationalMotorFreightClass: '50',\n \t\t\t\thazardousProperties: { \n \t\t\t\t\tdescription: 'Hazardous Material',\n \t\t\t\t\ttechnicalName: 'Technically Hazardous',\n \t\t\t\t\tunNumber: '2796',\n \t\t\t\t\tclassCode: '8',\n \t\t\t\t\tpackagingGroup: 'Group I',\n \t\t\t\t\temergencyPhone: '911',\n \t\t\t\t\tauthCode: 'D',\n \t\t\t\t\tisPlacarded: false,\n \t\t\t\t\tisReportableQuantity: false,\n \t\t\t\t\tisPrimaryCommodity: false,\n \t\t\t\t\tisNOSCommodity: false },\n \t\t\t\tupcNumber: '1234567890',\n \t\t\t\tskuNumber: '01234-001-F10-6',\n \t\t\t\tisStackable: false,\n \t\t\t\tisTemperatureSensitive: true,\n \t\t\t\ttemperatureType: 'Dry',\n \t\t\t\ttemperatureUnit: 'Celsius',\n \t\t\t\trequiredTemperatureHigh: 32,\n \t\t\t\trequiredTemperatureLow: 0,\n \t\t\t\treferenceNumbers: [ { type: 'PO', value: 'SIMPPO67890' } ] } ],\n \t\t\tcollectOnDelivered: [ { \n \t\t\t\tamount: 153.24,\n \t\t\t\tpaymentType: 'CC',\n \t\t\t\tpayableTo: 'John Doe',\n \t\t\t\tmailTo: 'Jane Doe',\n \t\t\t\taddress: { \n \t\t\t\t\taddress1: '14800 Charlson Rd',\n \t\t\t\t\taddress2: 'Building 1',\n \t\t\t\t\taddress3: 'Floor 5',\n \t\t\t\t\taddress4: 'Room 212',\n \t\t\t\t\tcity: 'Eden Prairie',\n \t\t\t\t\tcounty: 'Hennepin',\n \t\t\t\t\tlat: 34.1548,\n \t\t\t\t\tlong: -84.46578,\n \t\t\t\t\tstateProvinceCode: 'MN',\n \t\t\t\t\tpostalCode: '55347',\n \t\t\t\t\tcountry: 'US' },\n \t\t\t\treferenceNumbers: [ { type: 'MBOL', value: '12345687' } ] } ],\n \t\t\treferenceNumbers: [ { type: 'PRO', value: 'SIMPPRO67890' } ] } ],\n \t\tmeasurementSystem: 'Standard',\n \t\treferenceNumbers: [ { \n \t\t\ttype: 'CON', value: 'CON12321NOC' },{ \n \t\t\ttype: 'JNO', value: 'NOT A REAL ORDER!!!!!!!!!!' } ],\n \t\tloadValues:\n \t\t{ \n \t\t\tequipmentLength: 48 \n \t\t\tequipmentWidth: 9 \n \t\t\ttrailerNum: 'T1234567' \n \t\t}, \n \t\tonlineParties: [ { partyType: 'CUSTOMER', partyCode: 'C1', relationshipIdentifier: '456123' } ],\n \t\tnotes: 'Created through Schema Test' },\n \tjson: true };\n\n\nrequest(options, function (error, response, body) {\n \tif (error) throw new Error(error);\n\n\n\tconsole.log(body);\n });"
      - lang: C#
        source: " var client = new RestClient(\"https://sandbox-api.navisphere.com/v1/orders\"); \n var request = new RestRequest(Method.POST); \n request.AddHeader(\"Authorization\", \"Bearer YOU TOKEN\"); \n request.AddHeader(\"Content-Type\", \"application/json\"); \n request.AddParameter(\"undefined\", \" {\n  \"customers\": [\n    {\n      \"customerCode\": \"C8283603\",\n      \"contacts\": [\n        {\n          \"name\": \"Contact One\",\n \"type\": \"Contact\",\n          \"companyName\": \"Customer One\",\n          \"contactMethods\": [\n            {\n              \"method\": \"Phone\",\n \"value\": \"5554678415\"\n            }\n          ]\n        }\n      ],\n      \"referenceNumbers\": [\n        {\n          \"type\": \"MBOL\",\n \"value\": \"SIMPMBOL67890\"\n        }\n      ]\n    }\n  ],\n  \"billTos\": [\n    {\n      \"customerCode\": \"C8283603\",\n      \"charges\": [\n        {\n \"rate\": 132.45,\n          \"rateCode\": \"405\",\n          \"alternateDescription\": \"Fuel Surcharge\"\n        }\n      ],\n      \"currencyCode\": \"USD\",\n \"contacts\": [\n        {\n          \"name\": \"Contact One\",\n          \"type\": \"Contact\",\n          \"companyName\": \"Customer One\",\n          \"contactMethods\": [\n            {\n              \"method\": \"Phone\",\n              \"value\": \"5554678415\"\n            }\n          ]\n        }\n      ],\n      \"referenceNumbers\": [\n        {\n          \"type\": \"SHID\",\n          \"value\": \"SIMPSHID67890\"\n        }\n      ]\n    }\n  ],\n  \"services\": [\n {\n      \"serviceLevel\": \"Standard\",\n      \"sellMode\": \"TL\",\n      \"locations\": [\n        {\n          \"customerLocationId\": \"W541849\",\n          \"type\": \"origin\",\n          \"name\": \"Origin Location\",\n          \"address\": {\n            \"address1\": \"14800 Charlson Rd\",\n \"address2\": \"Building 1\",\n            \"address3\": \"Floor 2\",\n            \"address4\": \"Room 212\",\n            \"city\": \"Eden Prairie\",\n \"county\": \"Hennepin\",\n            \"lat\": 31.717096,\n            \"long\": -99.132553,\n            \"stateProvinceCode\": \"MN\",\n            \"postalCode\": \"55347\",\n            \"country\": \"US\"\n          },\n          \"openDateTime\": \"2019-03-18T17:23:48.983Z\",\n          \"closeDateTime\": \"2019-03-19T17:23:48.984Z\",\n \"scheduledOpenDateTime\": \"2019-03-18T17:23:48.983Z\",\n          \"scheduledCloseDateTime\": \"2019-03-19T17:23:48.984Z\",\n          \"scalesRequired\": false,\n \"hasDropTrailer\": false,\n          \"specialInstructions\": \"Stay hungry. Stay foolish. -Steve Jobs\",\n          \"contacts\": [\n            {\n              \"name\": \"Warehouse Contact\",\n              \"type\": \"Contact\",\n              \"companyName\": \"Warehouse One\",\n              \"contactMethods\": [\n                {\n \"method\": \"Phone\",\n                  \"value\": \"5554678415\"\n                }\n              ]\n            }\n          ],\n \"referenceNumber\": [\n            {\n              \"type\": \"PU\",\n              \"value\": \"SIMPPU67890\"\n            }\n          ]\n        },\n {\n          \"customerLocationId\": \"W541849\",\n          \"type\": \"destination\",\n          \"name\": \"Destination Location\",\n \"address\": {\n            \"address1\": \"800 Washington Avenue North\",\n            \"address2\": \"Building 1\",\n            \"address3\": \"Floor 5\",\n \"address4\": \"Suite 550\",\n            \"city\": \"Minneapolis\",\n            \"county\": \"Hennepin\",\n            \"lat\": 44.989386,\n \"long\": -93.278626,\n            \"stateProvinceCode\": \"MN\",\n            \"postalCode\": \"55401\",\n            \"country\": \"US\"\n },\n          \"openDateTime\": \"2019-03-25T17:23:48.984Z\",\n          \"closeDateTime\": \"2019-03-26T17:23:48.984Z\",\n \"scheduledOpenDateTime\": \"2019-03-25T17:23:48.984Z\",\n          \"scheduledCloseDateTime\": \"2019-03-26T17:23:48.984Z\",\n \"scalesRequired\": false,\n          \"hasDropTrailer\": false,\n \"specialInstructions\": \"Whatever you are, be a good one. -Abraham Lincoln\",\n \"contacts\": [\n            {\n              \"name\": \"Contact two\",\n \"type\": \"Contact\",\n              \"companyName\": \"Warehouse Two\",\n \"contactMethods\": [\n                {\n                  \"method\": \"Phone\",\n \"value\": \"5554678415\"\n                }\n              ]\n            }\n          ],\n \"referenceNumbers\": [\n            {\n              \"type\": \"DEL\",\n \"value\": \"SIMPDEL67890\"\n            }\n          ]\n        }\n      ],\n      \"items\": [\n {\n          \"packagingType\": \"Case\",\n          \"quantity\": 50,\n \"description\": \"Widgets\",\n          \"productCode\": \"123-45\",\n \"freightClass\": \"70\",\n          \"weight\": 45000,\n \"weightUnitOfMeasure\": \"Pounds\",\n          \"packagingLength\": 2,\n \"packagingWidth\": 2,\n          \"packagingHeight\": 2,\n          \"packagingUnitOfMeasure\": \"Inches\",\n          \"equipmentLength\": 48,\n \"equipmentHeight\": 9,\n          \"equipmentWidth\": 8,\n          \"equipmentUnitOfMeasure\": \"Feet\",\n          \"packagingVolume\": 7680,\n          \"packagingVolumeUnitOfMeasure\": \"CubicFeet\",\n \"insuranceValue\": 1000,\n          \"pallets\": 1,\n          \"palletSpaces\": 1,\n          \"nationalMotorFreightClass\": \"50\",\n          \"hazardousProperties\": {\n \"description\": \"Hazardous Material\",\n            \"technicalName\": \"Technically Hazardous\",\n \"unNumber\": \"2796\",\n            \"classCode\": \"8\",\n            \"packagingGroup\": \"Group I\",\n \"emergencyPhone\": \"911\",\n            \"authCode\": \"D\",\n            \"isPlacarded\": false,\n \"isReportableQuantity\": false,\n            \"isPrimaryCommodity\": false,\n            \"isNOSCommodity\": false\n },\n          \"upcNumber\": \"1234567890\",\n          \"skuNumber\": \"01234-001-F10-6\",\n \"isStackable\": false,\n          \"isTemperatureSensitive\": true,\n          \"temperatureType\": \"Dry\",\n \"temperatureUnit\": \"Celsius\",\n          \"requiredTemperatureHigh\": 32,\n \"requiredTemperatureLow\": 0,\n          \"referenceNumbers\": [\n            {\n \"type\": \"PO\",\n              \"value\": \"SIMPPO67890\"\n            }\n          ]\n        }\n      ],\n \"collectOnDelivered\": [\n        {\n          \"amount\": 153.24,\n \"paymentType\": \"CC\",\n          \"payableTo\": \"John Doe\",\n          \"mailTo\": \"Jane Doe\",\n \"address\": {\n            \"address1\": \"14800 Charlson Rd\",\n            \"address2\": \"Building 1\",\n \"address3\": \"Floor 5\",\n            \"address4\": \"Room 212\",\n            \"city\": \"Eden Prairie\",\n \"county\": \"Hennepin\",\n            \"lat\": 34.1548,\n            \"long\": -84.46578,\n \"stateProvinceCode\": \"MN\",\n            \"postalCode\": \"55347\",\n            \"country\": \"US\"\n },\n          \"referenceNumbers\": [\n            {\n              \"type\": \"MBOL\",\n \"value\": \"12345687\"\n            }\n          ]\n        }\n      ],\n      \"referenceNumbers\": [\n {\n          \"type\": \"PRO\",\n          \"value\": \"SIMPPRO67890\"\n        }\n      ]\n }\n  ],\n  \"measurementSystem\": \"Standard\",\n  \"referenceNumbers\": [\n    {\n \"type\": \"CON\",\n      \"value\": \"CON12321NOC\"\n    },\n    {\n      \"type\": \"JNO\",\n \"value\": \"NOT A REAL ORDER!!!!!!!!!!\"\n    }\n  ],\n \"loadValues\":\n  {\n    \"equipmentLength\": 48,\n    \"equipmentWidth\": 9,\n    \"trailerNum\": \"T1234567\"\n  },\n \"onlineParties\":\n  [{\n    \"partyType\": \"CUSTOMER\",\n    \"partyCode\": \"C1\",\n    \"relationshipIdentifier\": \"456123\"\n  }],\n \"notes\": \"Created through Schema Test\"\n}\", ParameterType.RequestBody);\n IRestResponse response = client.Execute(request);"
      responses:
        '201':
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
              example:
              - message: '"referenceNumber" is not allowed'
                path:
                - services
                - 0
                - locations
                - 0
                - referenceNumber
                type: object.allowUnknown
                context:
                  child: referenceNumber
                  value:
                  - type: PU
                    value: SIMPPU67890
                  key: referenceNumber
                  label: referenceNumber
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error404'
        '500':
          description: Internal Server Error. Please contact your C.H. Robinson rep.
      summary: Order create
      x-summary-source: derived
    put:
      description: Allows partner to update an existing order in C.H. Robinson's Navisphere® Order Management system.
      operationId: Order Update
      tags:
      - Orders and Booking
      requestBody:
        description: JSON object of shipment information.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order'
            example:
              orderNumber: 1234567
              customers:
              - customerCode: C8283603
                contacts:
                - name: Jeff Bezos
                  type: Contact
                  companyName: Amazon
                  contactMethods:
                  - method: Phone
                    value: '5554678415'
                referenceNumbers:
                - type: MBOL
                  value: SIMPMBOL67890
              billTos:
              - customerCode: C8283603
                charges:
                - rate: 132.45
                  rateCode: '405'
                  alternateDescription: Fuel Surcharge
                currencyCode: USD
                contacts:
                - name: Jeff Bezos
                  type: Contact
                  companyName: Amazon
                  contactMethods:
                  - method: Phone
                    value: '5554678415'
                referenceNumbers:
                - type: SHID
                  value: SIMPSHID67890
              services:
              - serviceLevel: Standard
                sellMode: TL
                locations:
                - customerLocationId: W541849
                  type: origin
                  name: Amazon Headquarters
                  address:
                    address1: 410 Terry Ave. N
                    address2: Building 1
                    address3: Floor 5
                    address4: Room 512
                    city: Seattle
                    county: King County
                    lat: '47.622375'
                    long: '-122.336553'
                    stateProvinceCode: WA
                    postalCode: '98109'
                    country: US
                  openDateTime: '2026-09-05T19:05:18.768Z'
                  closeDateTime: '2026-09-05T19:05:18.768Z'
                  scheduledOpenDateTime: '2026-09-05T19:05:18.768Z'
                  scheduledCloseDateTime: '2026-09-05T19:05:18.768Z'
                  scalesRequired: false
                  hasDropTrailer: false
                  specialInstructions: Stay hungry. Stay foolish. -Steve Jobs
                  contacts:
                  - name: Jeff Bezos
                    type: Contact
                    companyName: Amazon
                    contactMethods:
                    - method: Phone
                      value: '5554678415'
                  referenceNumbers:
                  - type: PU
                    value: SIMPPU67890
                - customerLocationId: W541849
                  type: destination
                  name: Google Headquarters
                  address:
                    address1: 1600 Amphitheatre Parkway
                    address2: Building 43
                    address3: Floor 1
                    address4: Room 112
                    city: Mountain View
                    county: Hennepin
                    lat: '37.421565'
                    long: '-122.084016'
                    stateProvinceCode: CA
                    postalCode: '94043'
                    country: US
                  openDateTime: '2026-09-06T19:05:18.770Z'
                  closeDateTime: '2026-09-06T19:05:18.770Z'
                  scheduledOpenDateTime: '2026-09-06T19:05:18.770Z'
                  scheduledCloseDateTime: '2026-09-06T19:05:18.770Z'
                  scalesRequired: false
                  hasDropTrailer: false
                  specialInstructions: Whatever you are, be a good one. -Abraham Lincoln
                  contacts:
                  - name: Sundar Pichai
                    type: Contact
                    companyName: Google
                    contactMethods:
                    - method: Phone
                      value: '5554678415'
                  referenceNumbers:
                  - type: DEL
                    value: SIMPDEL67890
                items:
                - packagingType: Case
                  quantity: 29
                  description: Widgets
                  productCode: 123-45
                  freightClass: '70'
                  weight: 40000
                  weightUnitOfMeasure: Pounds
                  packagingLength: 2
                  packagingWidth: 2
                  packagingHeight: 2
                  packagingUnitOfMeasure: Inches
                  equipmentLength: 48
                  equipmentHeight: 9
                  equipmentWidth: 8
                  equipmentUnitOfMeasure: Feet
                  packagingVolume: 7680
                  packagingVolumeUnitOfMeasure: CubicFeet
                  insuranceValue: 1000
                  pallets: 1
                  palletSpaces: 1
                  nationalMotorFreightClass: '50'
                  upcNumber: '1234567890'
                  skuNumber: 01234-001-F10-6
                  isStackable: false
                  isTemperatureSensitive: true
                  temperatureType: Dry
                  temperatureUnit: Celsius
                  requiredTemperatureHigh: 32
                  requiredTemperatureLow: 0
                  referenceNumbers:
                  - type: PO
                    value: SIMPPO67890
                referenceNumbers:
                - type: PRO
                  value: SIMPPRO67890
                isTeam: false
              measurementSystem: Standard
              referenceNumbers:
              - type: CON
                value: CON12321NOC
              - type: JNO
                value: NOT A REAL ORDER!!!!!!!!!!
              loadValues:
                equipmentLength: 48
                equipmentWidth: 9
                trailerNum: T1234567
              onlineParties:
              - partyType: CUSTOMER
                partyCode: C1
                relationshipIdentifier: '456123'
              notes: Created through Postman Schema Test
      x-code-samples:
      - lang: Curl
        source: "curl -X PUT \\ \n https://sandbox-api.navisphere.com/v1/orders \\ \n -H 'Authorization: Bearer YOU TOKEN' \\ \n -H 'Content-Type: application/json' \\ \n -d '{ \n \t\"customers\": [{ \n \t\t\"customerCode\": \"C8283603\",\n \t\t\"contacts\": [{\n \t\t\t\"name\": \"Contact One\",\n \t\t\t\"type\": \"Contact\",\n \t\t\t\"companyName\": \"Customer One\",\n \t\t\t\"contactMethods\": [{ \n \t\t\t\t\"method\": \"Phone\",\n \t\t\t\t\"value\": \"5554678415\"\n \t\t\t}]\n \t\t}],\n\n \t\t\"referenceNumbers\": [{\n \t\t\t\"type\": \"MBOL\",\n \t\t\t\"value\": \"SIMPMBOL67890\"\n \t\t}]\n \t}],\n \t\"billTos\": [{\n \t\t\"customerCode\": \"C8283603\",\n \t\t\"charges\": [{\n \t\t\t\"rate\": 132.45,\n \t\t\t\"rateCode\": \"405\",\n \t\t\t\"alternateDescription\": \"Fuel Surcharge\"\n \t\t}],\n \t\t\"currencyCode\": \"USD\",\n \t\t\"contacts\": [{\n \t\t\t\"name\": \"Contact One\",\n \t\t\t\"type\": \"Contact\",\n \t\t\t\"companyName\": \"Customer One\",\n \t\t\t\"contactMethods\": [{ \t\t\t\t\"method\": \"Phone\",\n \t\t\t\t\"value\": \"5554678415\"\n \t\t\t}]\n \t\t}],\n \t\t\"referenceNumbers\": [{ \t\t\t\"type\": \"SHID\",\n \t\t\t\"value\": \"SIMPSHID67890\"\n \t\t}]\n \t}],\n \t\"services\": [{\n \t\t\"serviceLevel\": \"Standard\",\n \t\t\"sellMode\": \"TL\",\n \t\t\"locations\": [{\n \t\t\t\"customerLocationId\": \"W541849\",\n \t\t\t\"type\": \"origin\",\n \t\t\t\"name\": \"Origin Location\",\n \t\t\t\"address\": {\n \t\t\t\t\"address1\": \"14800 Charlson Rd\",\n \t\t\t\t\"address2\": \"Building 1\",\n \t\t\t\t\"address3\": \"Floor 2\",\n \t\t\t\t\"address4\": \"Room 212\",\n \t\t\t\t\"city\": \"Eden Prairie\",\n \t\t\t\t\"county\": \"Hennepin\",\n \t\t\t\t\"lat\": 31.717096,\n \t\t\t\t\"long\": -99.132553,\n \t\t\t\t\"stateProvinceCode\": \"MN\",\n \t\t\t\t\"postalCode\": \"55347\",\n \t\t\t\t\"country\": \"US\" \t\t\t},\n \t\t\t\"openDateTime\": \"2019-03-18T17:23:48.983Z\",\n \t\t\t\"closeDateTime\": \"2019-03-19T17:23:48.984Z\",\n \t\t\t\"scheduledOpenDateTime\": \"2019-03-18T17:23:48.983Z\",\n \t\t\t\"scheduledCloseDateTime\": \"2019-03-19T17:23:48.984Z\",\n \t\t\t\"scalesRequired\": false,\n \t\t\t\"hasDropTrailer\": false,\n \t\t\t\"specialInstructions\": \"Stay hungry. Stay foolish. -Steve Jobs\",\n \t\t\t\"contacts\": [{\n \t\t\t\t\"name\": \"Warehouse Contact\",\n \t\t\t\t\"type\": \"Contact\",\n \t\t\t\t\"companyName\": \"Warehouse One\",\n \t\t\t\t\"contactMethods\": [{\n \t\t\t\t\t\"method\": \"Phone\",\n \t\t\t\t\t\"value\": \"5554678415\" \t\t\t\t}]\n \t\t\t}],\n \t\t\t\"referenceNumbers\": [{ \n \t\t\t\t\"type\": \"PU\",\n \t\t\t\t\"value\": \"SIMPPU67890\"\n \t\t\t}]\n \t\t},{ \n \t\t\t\"customerLocationId\": \"W541849\",\n \t\t\t\"type\": \"destination\",\n \t\t\t\"name\": \"Destination Location\",\n \t\t\t\"address\": { \t\t\t\t\"address1\": \"800 Washington Avenue North\",\n \t\t\t\t\"address2\": \"Building 1\",\n \t\t\t\t\"address3\": \"Floor 5\",\n \t\t\t\t\"address4\": \"Suite 550\",\n \t\t\t\t\"city\": \"Minneapolis\",\n \t\t\t\t\"county\": \"Hennepin\",\n \t\t\t\t\"lat\": 44.989386,\n \t\t\t\t\"long\": -93.278626,\n \t\t\t\t\"stateProvinceCode\": \"MN\",\n \t\t\t\t\"postalCode\": \"55401\",\n \t\t\t\t\"country\": \"US\"\n \t\t\t},\n \t\t\t\"openDateTime\": \"2019-03-25T17:23:48.984Z\",\n \t\t\t\"closeDateTime\": \"2019-03-26T17:23:48.984Z\",\n \t\t\t\"scheduledOpenDateTime\": \"2019-03-25T17:23:48.984Z\",\n \t\t\t\"scheduledCloseDateTime\": \"2019-03-26T17:23:48.984Z\",\n \t\t\t\"scalesRequired\": false,\n \t\t\t\"hasDropTrailer\": false,\n \t\t\t\"specialInstructions\": \"Whatever you are, be a good one. -Abraham Lincoln\",\n \t\t\t\"contacts\": [{\n \t\t\t\t\"name\": \"Contact two\",\n \t\t\t\t\"type\": \"Contact\",\n \t\t\t\t\"companyName\": \"Warehouse Two\",\n \t\t\t\t\"contactMethods\": [{ \n \t\t\t\t\t\"method\": \"Phone\",\n \t\t\t\t\t\"value\": \"5554678415\"\n \t\t\t\t}]\n \t\t\t}],\n \t\t\t\"referenceNumbers\": [{\n \t\t\t\t\"type\": \"DEL\",\n \t\t\t\t\"value\": \"SIMPDEL67890\"\n \t\t\t}]\n \t\t\t}],\n \t\t\t\"items\": [{\n \t\t\t\t\"packagingType\": \"Case\",\n \t\t\t\t\"quantity\": 50,\n \t\t\t\t\"description\": \"Widgets\",\n \t\t\t\t\"productCode\": \"123-45\",\n \t\t\t\t\"freightClass\": \"70\",\n \t\t\t\t\"weight\": 45000,\n \t\t\t\t\"weightUnitOfMeasure\": \"Pounds\",\n \t\t\t\t\"packagingLength\": 2,\n \t\t\t\t\"packagingWidth\": 2,\n \t\t\t\t\"packagingHeight\": 2,\n \t\t\t\t\"packagingUnitOfMeasure\": \"Inches\",\n \t\t\t\t\"equipmentLength\": 48,\n \t\t\t\t\"equipmentHeight\": 9,\n \t\t\t\t\"equipmentWidth\": 8,\n \t\t\t\t\"equipmentUnitOfMeasure\": \"Feet\",\n \t\t\t\t\"packagingVolume\": 7680,\n \t\t\t\t\"packagingVolumeUnitOfMeasure\": \"CubicFeet\",\n \t\t\t\t\"insuranceValue\": 1000,\n \t\t\t\t\"pallets\": 1,\n \t\t\t\t\"palletSpaces\": 1,\n \t\t\t\t\"nationalMotorFreightClass\": \"50\",\n \t\t\t\t\"hazardousProperties\": {\n \t\t\t\t\t\"description\": \"Hazardous Material\",\n \t\t\t\t\t\"technicalName\": \"Technically Hazardous\",\n \t\t\t\t\t\"unNumber\": \"2796\",\n \t\t\t\t\t\"classCode\": \"8\",\n \t\t\t\t\t\"packagingGroup\": \"Group I\",\n \t\t\t\t\t\"emergencyPhone\": \"911\",\n \t\t\t\t\t\"authCode\": \"D\",\n \t\t\t\t\t\"isPlacarded\": false,\n \t\t\t\t\t\"isReportableQuantity\": false,\n \t\t\t\t\t\"isPrimaryCommodity\": false,\n \t\t\t\t\t\"isNOSCommodity\": false \t\t\t\t},\n \t\t\t\t\"upcNumber\": \"1234567890\",\n \t\t\t\t\"skuNumber\": \"01234-001-F10-6\",\n \t\t\t\t\"isStackable\": false,\n \t\t\t\t\"isTemperatureSensitive\": true,\n \t\t\t\t\"temperatureType\": \"Dry\",\n \t\t\t\t\"temperatureUnit\": \"Celsius\",\n \t\t\t\t\"requiredTemperatureHigh\": 32,\n \t\t\t\t\"requiredTemperatureLow\": 0,\n \t\t\t\t\"referenceNumbers\": [{\n \t\t\t\t\t\"type\": \"PO\",\n \t\t\t\t\t\"value\": \"SIMPPO67890\"\n \t\t\t\t}]\n \t\t\t}],\n \t\t\t\"collectOnDelivered\": [{\n \t\t\t\t\"amount\": 153.24,\n \t\t\t\t\"paymentType\": \"CC\",\n \t\t\t\t\"payableTo\": \"John Doe\",\n \t\t\t\t\"mailTo\": \"Jane Doe\",\n \t\t\t\t\"address\": {\n \t\t\t\t\t\"address1\": \"14800 Charlson Rd\",\n \t\t\t\t\t\"address2\": \"Building 1\",\n \t\t\t\t\t\"address3\": \"Floor 5\",\n \t\t\t\t\t\"address4\": \"Room 212\",\n \t\t\t\t\t\"city\": \"Eden Prairie\",\n \t\t\t\t\t\"county\": \"Hennepin\",\n \t\t\t\t\t\"lat\": 34.1548,\n \t\t\t\t\t\"long\": -84.46578,\n \t\t\t\t\t\"stateProvinceCode\": \"MN\",\n \t\t\t\t\t\"postalCode\": \"55347\",\n \t\t\t\t\t\"country\": \"US\"\n \t\t\t\t},\n \t\t\t\t\"referenceNumbers\": [{\n \t\t\t\t\t\"type\": \"MBOL\",\n \t\t\t\t\t\"value\": \"12345687\"\n \t\t\t\t}]\n \t\t\t}],\n \t\t\t\"referenceNumbers\": [{\n \t\t\t\t\"type\": \"PRO\",\n \t\t\t\t\"value\": \"SIMPPRO67890\"\n \t\t\t}],\n \t\t\t\"isTeam\": false\n \t\t}],\n \t\t\"measurementSystem\": \"Standard\",\n \t\t\"referenceNumbers\": [{\n \t\t\t\"type\": \"CON\",\n \t\t\t\"value\": \"CON12321NOC\"\n \t\t},{\n \t\t\t\"type\": \"JNO\",\n \t\t\t\"value\": \"NOT A REAL ORDER!!!!!!!!!!\"\n \t\t}],\n \t\t\"loadValues\": {\n \t\t\t\"equipmentLength\": 48,\n \t\t\t\"equipmentWidth\": 9,\n \t\t\t\"trailerNum\": \"T1234567\"\n \t\t},\n \t\t\"onlineParties\": [{\n \t\t\t\"partyType\": \"CUSTOMER\",\n \t\t\t\"partyCode\": \"C1\",\n \t\t\t\"relationshipIdentifier\": \"456123\"\n \t\t}],\n \t\t\"notes\": \"Created through Schema Test\"\n }'"
      - lang: Java
        source: "HttpResponse<String> response = Unirest.put(\"https://sandbox-api.navisphere.com/v1/orders\")\n .header(\"Content-Type\", \"application/json\")\n .header(\"Authorization\", \"Bearer YOU TOKEN\")\n .body(\"{\n  \"customers\": [\n    {\n      \"customerCode\": \"C8283603\",\n      \"contacts\": [\n        {\n          \"name\": \"Contact One\",\n          \"type\": \"Contact\",\n          \"companyName\": \"Customer One\",\n          \"contactMethods\": [\n            {\n              \"method\": \"Phone\",\n              \"value\": \"5554678415\"\n            }\n          ]\n        }\n      ],\n      \"referenceNumbers\": [\n        {\n          \"type\": \"MBOL\",\n          \"value\": \"SIMPMBOL67890\"\n        }\n      ]\n    }\n  ],\n  \"billTos\": [\n    {\n      \"customerCode\": \"C8283603\",\n      \"charges\": [\n        {\n          \"rate\": 132.45,\n          \"rateCode\": \"405\",\n          \"alternateDescription\": \"Fuel Surcharge\"\n        }\n      ],\n      \"currencyCode\": \"USD\",\n      \"contacts\": [\n        {\n          \"name\": \"Contact One\",\n          \"type\": \"Contact\",\n          \"companyName\": \"Customer One\",\n          \"contactMethods\": [\n            {\n              \"method\": \"Phone\",\n              \"value\": \"5554678415\"\n            }\n          ]\n        }\n      ],\n      \"referenceNumbers\": [\n        {\n          \"type\": \"SHID\",\n          \"value\": \"SIMPSHID67890\"\n        }\n      ]\n    }\n  ],\n  \"services\": [\n    {\n      \"serviceLevel\": \"Standard\",\n      \"sellMode\": \"TL\",\n      \"locations\": [\n        {\n          \"customerLocationId\": \"W541849\",\n          \"type\": \"origin\",\n          \"name\": \"Origin Location\",\n          \"address\": {\n            \"address1\": \"14800 Charlson Rd\",\n            \"address2\": \"Building 1\",\n            \"address3\": \"Floor 2\",\n            \"address4\": \"Room 212\",\n            \"city\": \"Eden Prairie\",\n            \"county\": \"Hennepin\",\n            \"lat\": 31.717096,\n            \"long\": -99.132553,\n            \"stateProvinceCode\": \"MN\",\n            \"postalCode\": \"55347\",\n            \"country\": \"US\"\n          },\n          \"openDateTime\": \"2019-03-18T17:23:48.983Z\",\n          \"closeDateTime\": \"2019-03-19T17:23:48.984Z\",\n          \"scheduledOpenDateTime\": \"2019-03-18T17:23:48.983Z\",\n          \"scheduledCloseDateTime\": \"2019-03-19T17:23:48.984Z\",\n          \"scalesRequired\": false,\n          \"hasDropTrailer\": false,\n          \"specialInstructions\": \"Stay hungry. Stay foolish. -Steve Jobs\",\n          \"contacts\": [\n            {\n              \"name\": \"Warehouse Contact\",\n              \"type\": \"Contact\",\n              \"companyName\": \"Warehouse One\",\n              \"contactMethods\": [\n                {\n                  \"method\": \"Phone\",\n                  \"value\": \"5554678415\"\n                }\n              ]\n            }\n          ],\n          \"referenceNumber\": [\n            {\n              \"type\": \"PU\",\n              \"value\": \"SIMPPU67890\"\n            }\n          ]\n        },\n        {\n          \"customerLocationId\": \"W541849\",\n          \"type\": \"destination\",\n          \"name\": \"Destination Location\",\n          \"address\": {\n            \"address1\": \"800 Washington Avenue North\",\n            \"address2\": \"Building 1\",\n            \"address3\": \"Floor 5\",\n            \"address4\": \"Suite 550\",\n            \"city\": \"Minneapolis\",\n            \"county\": \"Hennepin\",\n            \"lat\": 44.989386,\n            \"long\": -93.278626,\n            \"stateProvinceCode\": \"MN\",\n            \"postalCode\": \"55401\",\n            \"country\": \"US\"\n          },\n          \"openDateTime\": \"2019-03-25T17:23:48.984Z\",\n          \"closeDateTime\": \"2019-03-26T17:23:48.984Z\",\n          \"scheduledOpenDateTime\": \"2019-03-25T17:23:48.984Z\",\n          \"scheduledCloseDateTime\": \"2019-03-26T17:23:48.984Z\",\n          \"scalesRequired\": false,\n          \"hasDropTrailer\": false,\n          \"specialInstructions\": \"Whatever you are, be a good one. -Abraham Lincoln\",\n          \"contacts\": [\n            {\n              \"name\": \"Contact two\",\n              \"type\": \"Contact\",\n              \"companyName\": \"Warehouse Two\",\n              \"contactMethods\": [\n                {\n                  \"method\": \"Phone\",\n                  \"value\": \"5554678415\"\n                }\n              ]\n            }\n          ],\n          \"referenceNumbers\": [\n            {\n              \"type\": \"DEL\",\n              \"value\": \"SIMPDEL67890\"\n            }\n          ]\n        }\n      ],\n      \"items\": [\n        {\n          \"packagingType\": \"Case\",\n          \"quantity\": 50,\n          \"description\": \"Widgets\",\n          \"productCode\": \"123-45\",\n          \"freightClass\": \"70\",\n          \"weight\": 45000,\n          \"weightUnitOfMeasure\": \"Pounds\",\n          \"packagingLength\": 2,\n          \"packagingWidth\": 2,\n          \"packagingHeight\": 2,\n          \"packagingUnitOfMeasure\": \"Inches\",\n          \"equipmentLength\": 48,\n          \"equipmentHeight\": 9,\n          \"equipmentWidth\": 8,\n          \"equipmentUnitOfMeasure\": \"Feet\",\n          \"packagingVolume\": 7680,\n          \"packagingVolumeUnitOfMeasure\": \"CubicFeet\",\n          \"insuranceValue\": 1000,\n          \"pallets\": 1,\n          \"palletSpaces\": 1,\n          \"nationalMotorFreightClass\": \"50\",\n          \"hazardousProperties\": {\n            \"description\": \"Hazardous Material\",\n            \"technicalName\": \"Technically Hazardous\",\n            \"unNumber\": \"2796\",\n            \"classCode\": \"8\",\n            \"packagingGroup\": \"Group I\",\n            \"emergencyPhone\": \"911\",\n            \"authCode\": \"D\",\n            \"isPlacarded\": false,\n            \"isReportableQuantity\": false,\n            \"isPrimaryCommodity\": false,\n            \"isNOSCommodity\": false\n          },\n          \"upcNumber\": \"1234567890\",\n          \"skuNumber\": \"01234-001-F10-6\",\n          \"isStackable\": false,\n          \"isTemperatureSensitive\": true,\n          \"temperatureType\": \"Dry\",\n          \"temperatureUnit\": \"Celsius\",\n          \"requiredTemperatureHigh\": 32,\n          \"requiredTemperatureLow\": 0,\n          \"referenceNumbers\": [\n            {\n              \"type\": \"PO\",\n              \"value\": \"SIMPPO67890\"\n            }\n          ]\n        }\n      ],\n      \"collectOnDelivered\": [\n        {\n          \"amount\": 153.24,\n          \"paymentType\": \"CC\",\n          \"payableTo\": \"John Doe\",\n          \"mailTo\": \"Jane Doe\",\n          \"address\": {\n            \"address1\": \"14800 Charlson Rd\",\n            \"address2\": \"Building 1\",\n            \"address3\": \"Floor 5\",\n            \"address4\": \"Room 212\",\n            \"city\": \"Eden Prairie\",\n            \"county\": \"Hennepin\",\n            \"lat\": 34.1548,\n            \"long\": -84.46578,\n            \"stateProvinceCode\": \"MN\",\n            \"postalCode\": \"55347\",\n            \"country\": \"US\"\n          },\n          \"referenceNumbers\": [\n            {\n              \"type\": \"MBOL\",\n              \"value\": \"12345687\"\n            }\n          ]\n        }\n      ],\n      \"referenceNumbers\": [\n        {\n          \"type\": \"PRO\",\n          \"value\": \"SIMPPRO67890\"\n        }\n      ]\n    }\n  ],\n  \"measurementSystem\": \"Standard\",\n  \"referenceNumbers\": [\n    {\n      \"type\": \"CON\",\n      \"value\": \"CON12321NOC\"\n    },\n    {\n      \"type\": \"JNO\",\n      \"value\": \"NOT A REAL ORDER!!!!!!!!!!\"\n    }\n  ],\n \"loadValues\":\n {\n    \"equipmentLength\": 48,\n    \"equipmentWidth\": 9,\n    \"trailerNum\": \"T1234567\"\n  },\n  \"onlineParties\": [\n    {\n      \"partyType\": \"CUSTOMER\",\n      \"partyCode\": \"C1\",\n      \"relationshipIdentifier\": \"456123\"\n    }\n  ],\n  \"notes\": \"Created through Schema Test\"\n}\")\n .asString();"
      - lang: NodeJS
        source: " var request = require(\"request\"); \n\n\nvar options = { method: 'PUT',\n \turl: 'https://sandbox-api.navisphere.com/v1/orders',\n \theaders: \n \t{ Authorization: 'Bearer YOU TOKEN',\n \t\t'Content-Type': 'application/json' },\n \tbody: { \n \tcustomers: \n \t\t[ { customerCode: 'C8283603', \n \t\t\tcontacts: \n \t\t\t[ { name: 'Contact One',\n \t\t\t\ttype: 'Contact',\n \t\t\t\tcompanyName: 'Customer One',\n \t\t\t\tcontactMethods: [ { method: 'Phone', value: '5554678415' } ] } ],\n \t\t\treferenceNumbers: [ { type: 'MBOL', value: 'SIMPMBOL67890' } ] } ],\n \tbillTos: \n \t\t[ { customerCode: 'C8283603',\n \t\t\tcharges: \n \t\t\t[ { rate: 132.45,\n \t\t\t\trateCode: '405',\n \t\t\t\talternateDescription: 'Fuel Surcharge' } ],\n \t\t\tcurrencyCode: 'USD',\n \t\t\tcontacts: \n \t\t\t[ { name: 'Contact One',\n \t\t\t\ttype: 'Contact',\n \t\t\t\tcompanyName: 'Customer One',\n \t\t\t\tcontactMethods: [ { method: 'Phone', value: '5554678415' } ] } ],\n \t\t\treferenceNumbers: [ { type: 'SHID', value: 'SIMPSHID67890' } ] } ],\n \tservices: \n \t\t[ { serviceLevel: 'Standard',\n \t\t\tsellMode: 'TL',\n \t\t\tlocations: \n \t\t\t[ { customerLocationId: 'W541849',\n \t\t\t\ttype: 'origin',\n \t\t\t\tname: 'Origin Location',\n \t\t\t\taddress: { \n \t\t\t\t\taddress1: '14800 Charlson Rd',\n \t\t\t\t\taddress2: 'Building 1',\n \t\t\t\t\taddress3: 'Floor 2',\n \t\t\t\t\taddress4: 'Room 212',\n \t\t\t\t\tcity: 'Eden Prairie',\n \t\t\t\t\tcounty: 'Hennepin',\n \t\t\t\t\tlat: 31.717096,\n \t\t\t\t\tlong: -99.132553,\n \t\t\t\t\tstateProvinceCode: 'MN',\n \t\t\t\t\tpostalCode: '55347',\n \t\t\t\t\tcountry: 'US' },\n \t\t\t\topenDateTime: '2019-03-18T17:23:48.983Z',\n \t\t\t\tcloseDateTime: '2019-03-19T17:23:48.984Z',\n \t\t\t\tscheduledOpenDateTime: '2019-03-18T17:23:48.983Z',\n \t\t\t\tscheduledCloseDateTime: '2019-03-19T17:23:48.984Z',\n \t\t\t\tscalesRequired: false,\n \t\t\t\thasDropTrailer: false,\n \t\t\t\tspecialInstructions: 'Stay hungry. Stay foolish. -Steve Jobs',\n \t\t\t\tcontacts:[ {  \n \t\t\t\t\tname: 'Warehouse Contact',\n \t\t\t\t\ttype: 'Contact',\n \t\t\t\t\tcompanyName: 'Warehouse One',\n \t\t\t\t\tcontactMethods: [ { method: 'Phone', value: '5554678415' } ] } ],\n \t\t\t\treferenceNumbers: [ { type: 'PU', value: 'SIMPPU67890' } ] },{ \n \t\t\t\tcustomerLocationId: 'W541849',\n \t\t\t\ttype: 'destination',\n \t\t\t\tname: 'Destination Location',\n \t\t\t\taddress: { \n \t\t\t\t\taddress1: '800 Washington Avenue North',\n \t\t\t\t\taddress2: 'Building 1',\n \t\t\t\t\taddress3: 'Floor 5',\n \t\t\t\t\taddress4: 'Suite 550',\n \t\t\t\t\tcity: 'Minneapolis',\n \t\t\t\t\tcounty: 'Hennepin',\n \t\t\t\t\tlat: 44.989386,\n \t\t\t\t\tlong: -93.278626,\n \t\t\t\t\tstateProvinceCode: 'MN',\n \t\t\t\t\tpostalCode: '55401',\n \t\t\t\t\tcountry: 'US' },\n \t\t\t\topenDateTime: '2019-03-25T17:23:48.984Z',\n \t\t\t\tcloseDateTime: '2019-03-26T17:23:48.984Z',\n \t\t\t\tscheduledOpenDateTime: '2019-03-25T17:23:48.984Z',\n \t\t\t\tscheduledCloseDateTime: '2019-03-26T17:23:48.984Z',\n \t\t\t\tscalesRequired: false,\n \t\t\t\thasDropTrailer: false,\n \t\t\t\tspecialInstructions: 'Whatever you are, be a good one. -Abraham Lincoln',\n \t\t\t\tcontacts: [ { \n \t\t\t\t\tname: 'Contact two',\n \t\t\t\t\ttype: 'Contact',\n \t\t\t\t\tcompanyName: 'Warehouse Two',\n \t\t\t\t\tcontactMethods: [ { method: 'Phone', value: '5554678415' } ] } ],\n \t\t\t\treferenceNumbers: [ { type: 'DEL', value: 'SIMPDEL67890' } ] } ],\n \t\t\titems: [ { \n \t\t\t\tpackagingType: 'Case',\n \t\t\t\tquantity: 50,\n \t\t\t\tdescription: 'Widgets',\n \t\t\t\tproductCode: '123-45',\n \t\t\t\tfreightClass: '70',\n \t\t\t\tweight: 45000,\n \t\t\t\tweightUnitOfMeasure: 'Pounds',\n \t\t\t\tpackagingLength: 2,\n \t\t\t\tpackagingWidth: 2,\n \t\t\t\tpackagingHeight: 2,\n \t\t\t\tpackagingUnitOfMeasure: 'Inches',\n \t\t\t\tequipmentLength: 48,\n \t\t\t\tequipmentHeight: 9,\n \t\t\t\tequipmentWidth: 8,\n \t\t\t\tequipmentUnitOfMeasure: 'Feet',\n \t\t\t\tpackagingVolume: 7680,\n \t\t\t\tpackagingVolumeUnitOfMeasure: 'CubicFeet',\n \t\t\t\tinsuranceValue: 1000,\n \t\t\t\tpallets: 1,\n \t\t\t\tpalletSpaces: 1,\n \t\t\t\tnationalMotorFreightClass: '50',\n \t\t\t\thazardousProperties: { \n \t\t\t\t\tdescription: 'Hazardous Material',\n \t\t\t\t\ttechnicalName: 'Technically Hazardous',\n \t\t\t\t\tunNumber: '2796',\n \t\t\t\t\tclassCode: '8',\n \t\t\t\t\tpackagingGroup: 'Group I',\n \t\t\t\t\temergencyPhone: '911',\n \t\t\t\t\tauthCode: 'D',\n \t\t\t\t\tisPlacarded: false,\n \t\t\t\t\tisReportableQuantity: false,\n \t\t\t\t\tisPrimaryCommodity: false,\n \t\t\t\t\tisNOSCommodity: false },\n \t\t\t\tupcNumber: '1234567890',\n \t\t\t\tskuNumber: '01234-001-F10-6',\n \t\t\t\tisStackable: false,\n \t\t\t\tisTemperatureSensitive: true,\n \t\t\t\ttemperatureType: 'Dry',\n \t\t\t\ttemperatureUnit: 'Celsius',\n \t\t\t\trequiredTemperatureHigh: 32,\n \t\t\t\trequiredTemperatureLow: 0,\n \t\t\t\treferenceNumbers: [ { type: 'PO', value: 'SIMPPO67890' } ] } ],\n \t\t\tcollectOnDelivered: [ { \n \t\t\t\tamount: 153.24,\n \t\t\t\tpaymentType: 'CC',\n \t\t\t\tpayableTo: 'John Doe',\n \t\t\t\tmailTo: 'Jane Doe',\n \t\t\t\taddress: { \n \t\t\t\t\taddress1: '14800 Charlson Rd',\n \t\t\t\t\taddress2: 'Building 1',\n \t\t\t\t\taddress3: 'Floor 5',\n \t\t\t\t\taddress4: 'Room 212',\n \t\t\t\t\tcity: 'Eden Prairie',\n \t\t\t\t\tcounty: 'Hennepin',\n \t\t\t\t\tlat: 34.1548,\n \t\t\t\t\tlong: -84.46578,\n \t\t\t\t\tstateProvinceCode: 'MN',\n \t\t\t\t\tpostalCode: '55347',\n \t\t\t\t\tcountry: 'US' },\n \t\t\t\treferenceNumbers: [ { type: 'MBOL', value: '12345687' } ] } ],\n \t\t\treferenceNumbers: [ { type: 'PRO', value: 'SIMPPRO67890' } ], \t\t\tisTeam: false } ],\n \t\tmeasurementSystem: 'Standard',\n \t\treferenceNumbers: [ { \n \t\t\ttype: 'CON', value: 'CON12321NOC' },{ \n \t\t\ttype: 'JNO', value: 'NOT A REAL ORDER!!!!!!!!!!' } ],\n \t\tloadValues:\n \t\t{ \n \t\t\tequipmentLength: 48 \n \t\t\tequipmentWidth: 9 \n \t\t\ttrailerNum: 'T1234567' \n \t\t}, \n \t\tonlineParties: [ { partyType: 'CUSTOMER', partyCode: 'C1', relationshipIdentifier: '456123' } ],\n \t\tnotes: 'Created through Schema Test' },\n \tjson: true };\n\n\nrequest(options, function (error, response, body) {\n \tif (error) throw new Error(error);\n\n\n\tconsole.log(body);\n });"
      - lang: C#
        source: " var client = new RestClient(\"https://sandbox-api.navisphere.com/v1/orders\"); \n var request = new RestRequest(Method.PUT); \n request.AddHeader(\"Authorization\", \"Bearer YOU TOKEN\"); \n request.AddHeader(\"Content-Type\", \"application/json\"); \n request.AddParameter(\"undefined\", \" {\n  \"customers\": [\n    {\n      \"customerCode\": \"C8283603\",\n      \"contacts\": [\n        {\n          \"name\": \"Contact One\",\n \"type\": \"Contact\",\n          \"companyName\": \"Customer One\",\n          \"contactMethods\": [\n            {\n              \"method\": \"Phone\",\n \"value\": \"5554678415\"\n            }\n          ]\n        }\n      ],\n      \"referenceNumbers\": [\n        {\n          \"type\": \"MBOL\",\n \"value\": \"SIMPMBOL67890\"\n        }\n      ]\n    }\n  ],\n  \"billTos\": [\n    {\n      \"customerCode\": \"C8283603\",\n      \"charges\": [\n        {\n \"rate\": 132.45,\n          \"rateCode\": \"405\",\n          \"alternateDescription\": \"Fuel Surcharge\"\n        }\n      ],\n      \"currencyCode\": \"USD\",\n \"contacts\": [\n        {\n          \"name\": \"Contact One\",\n          \"type\": \"Contact\",\n          \"companyName\": \"Customer One\",\n          \"contactMethods\": [\n            {\n              \"method\": \"Phone\",\n              \"value\": \"5554678415\"\n            }\n          ]\n        }\n      ],\n      \"referenceNumbers\": [\n        {\n          \"type\": \"SHID\",\n          \"value\": \"SIMPSHID67890\"\n        }\n      ]\n    }\n  ],\n  \"services\": [\n {\n      \"serviceLevel\": \"Standard\",\n      \"sellMode\": \"TL\",\n      \"locations\": [\n        {\n          \"customerLocationId\": \"W541849\",\n          \"type\": \"origin\",\n          \"name\": \"Origin Location\",\n          \"address\": {\n            \"address1\": \"14800 Charlson Rd\",\n \"address2\": \"Building 1\",\n            \"address3\": \"Floor 2\",\n            \"address4\": \"Room 212\",\n            \"city\": \"Eden Prairie\",\n \"county\": \"Hennepin\",\n            \"lat\": 31.717096,\n            \"long\": -99.132553,\n            \"stateProvinceCode\": \"MN\",\n            \"postalCode\": \"55347\",\n            \"country\": \"US\"\n          },\n          \"openDateTime\": \"2019-03-18T17:23:48.983Z\",\n          \"closeDateTime\": \"2019-03-19T17:23:48.984Z\",\n \"scheduledOpenDateTime\": \"2019-03-18T17:23:48.983Z\",\n          \"scheduledCloseDateTime\": \"2019-03-19T17:23:48.984Z\",\n          \"scalesRequired\": false,\n \"hasDropTrailer\": false,\n          \"specialInstructions\": \"Stay hungry. Stay foolish. -Steve Jobs\",\n          \"contacts\": [\n            {\n              \"name\": \"Warehouse Contact\",\n              \"type\": \"Contact\",\n              \"companyName\": \"Warehouse One\",\n              \"contactMethods\": [\n                {\n \"method\": \"Phone\",\n                  \"value\": \"5554678415\"\n                }\n              ]\n            }\n          ],\n \"referenceNumbers\": [\n            {\n              \"type\": \"PU\",\n              \"value\": \"SIMPPU67890\"\n            }\n          ]\n        },\n {\n          \"customerLocationId\": \"W541849\",\n          \"type\": \"destination\",\n          \"name\": \"Destination Location\",\n \"address\": {\n            \"address1\": \"800 Washington Avenue North\",\n            \"address2\": \"Building 1\",\n            \"address3\": \"Floor 5\",\n \"address4\": \"Suite 550\",\n            \"city\": \"Minneapolis\",\n            \"county\": \"Hennepin\",\n            \"lat\": 44.989386,\n \"long\": -93.278626,\n            \"stateProvinceCode\": \"MN\",\n            \"postalCode\": \"55401\",\n            \"country\": \"US\"\n },\n          \"openDateTime\": \"2019-03-25T17:23:48.984Z\",\n          \"closeDateTime\": \"2019-03-26T17:23:48.984Z\",\n \"scheduledOpenDateTime\": \"2019-03-25T17:23:48.984Z\",\n          \"scheduledCloseDateTime\": \"2019-03-26T17:23:48.984Z\",\n \"scalesRequired\": false,\n          \"hasDropTrailer\": false,\n \"specialInstructions\": \"Whatever you are, be a good one. -Abraham Lincoln\",\n \"contacts\": [\n            {\n              \"name\": \"Contact two\",\n \"type\": \"Contact\",\n              \"companyName\": \"Warehouse Two\",\n \"contactMethods\": [\n                {\n                  \"method\": \"Phone\",\n \"value\": \"5554678415\"\n                }\n              ]\n            }\n          ],\n \"referenceNumbers\": [\n            {\n              \"type\": \"DEL\",\n \"value\": \"SIMPDEL67890\"\n            }\n          ]\n        }\n      ],\n      \"items\": [\n {\n          \"packagingType\": \"Case\",\n          \"quantity\": 50,\n \"description\": \"Widgets\",\n          \"productCode\": \"123-45\",\n \"freightClass\": \"70\",\n          \"weight\": 45000,\n \"weightUnitOfMeasure\": \"Pounds\",\n          \"packagingLength\": 2,\n \"packagingWidth\": 2,\n          \"packagingHeight\": 2,\n          \"packagingUnitOfMeasure\": \"Inches\",\n          \"equipmentLength\": 48,\n \"equipmentHeight\": 9,\n          \"equipmentWidth\": 8,\n          \"equipmentUnitOfMeasure\": \"Feet\",\n          \"packagingVolume\": 7680,\n          \"packagingVolumeUnitOfMeasure\": \"CubicFeet\",\n \"insuranceValue\": 1000,\n          \"pallets\": 1,\n          \"palletSpaces\": 1,\n          \"nationalMotorFreightClass\": \"50\",\n          \"hazardousProperties\": {\n \"description\": \"Hazardous Material\",\n            \"technicalName\": \"Technically Hazardous\",\n \"unNumber\": \"2796\",\n            \"classCode\": \"8\",\n            \"packagingGroup\": \"Group I\",\n \"emergencyPhone\": \"911\",\n            \"authCode\": \"D\",\n            \"isPlacarded\": false,\n \"isReportableQuantity\": false,\n            \"isPrimaryCommodity\": false,\n            \"isNOSCommodity\": false\n },\n          \"upcNumber\": \"1234567890\",\n          \"skuNumber\": \"01234-001-F10-6\",\n \"isStackable\": false,\n          \"isTemperatureSensitive\": true,\n          \"temperatureType\": \"Dry\",\n \"temperatureUnit\": \"Celsius\",\n          \"requiredTemperatureHigh\": 32,\n \"requiredTemperatureLow\": 0,\n          \"referenceNumbers\": [\n            {\n \"type\": \"PO\",\n              \"value\": \"SIMPPO67890\"\n            }\n          ]\n        }\n      ],\n \"collectOnDelivered\": [\n        {\n          \"amount\": 153.24,\n \"paymentType\": \"CC\",\n          \"payableTo\": \"John Doe\",\n          \"mailTo\": \"Jane Doe\",\n \"address\": {\n            \"address1\": \"14800 Charlson Rd\",\n            \"address2\": \"Building 1\",\n \"address3\": \"Floor 5\",\n            \"address4\": \"Room 212\",\n            \"city\": \"Eden Prairie\",\n \"county\": \"Hennepin\",\n            \"lat\": 34.1548,\n            \"long\": -84.46578,\n \"stateProvinceCode\": \"MN\",\n            \"postalCode\": \"55347\",\n            \"country\": \"US\"\n },\n          \"referenceNumbers\": [\n            {\n              \"type\": \"MBOL\",\n \"value\": \"12345687\"\n            }\n          ]\n        }\n      ],\n      \"referenceNumbers\": [\n {\n          \"type\": \"PRO\",\n          \"value\": \"SIMPPRO67890\"\n        }\n      ]\n }\n  ],\n  \"measurementSystem\": \"Standard\",\n  \"referenceNumbers\": [\n    {\n \"type\": \"CON\",\n      \"value\": \"CON12321NOC\"\n    },\n    {\n      \"type\": \"JNO\",\n \"value\": \"NOT A REAL ORDER!!!!!!!!!!\"\n    }\n  ],\n \"loadValues\":\n  {\n    \"equipmentLength\": 48,\n    \"equipmentWidth\": 9,\n    \"trailerNum\": \"T1234567\"\n  },\n \"onlineParties\":\n  [{\n    \"partyType\": \"CUSTOMER\",\n    \"partyCode\": \"C1\",\n    \"relationshipIdentifier\": \"456123\"\n  }],\n \"notes\": \"Created through Schema Test\"\n}\", ParameterType.RequestBody);\n IRestResponse response = client.Execute(request);"
      responses:
        '200':
          description: Request successful
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
              example:
              - message: '"referenceNumber" is not allowed'
                path:
                - services
                - 0
                - locations
                - 0
                - referenceNumber
                type: object.allowUnknown
                context:
                  child: referenceNumber
                  value:
                  - type: PU
                    value: SIMPPU67890
                  key: referenceNumber
                  label: referenceNumber
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error404'
        '500':
          description: Internal Server Error. Please contact your C.H. Robinson rep.
      summary: Order update
      x-summary-source: derived
  /v1/orders/quotes:
    post:
      description: 'Allows partner to create an order in C.H. Robinson''s Navisphere® Order Management system using a Quote ID. See Rating for more information on retrieving quotes.


        The powerful quote to order process eliminates the need for time consuming double entry. Our customers only need to input information into their ERP or TMS systems once, and get their quotes and execute orders with the click of a couple of buttons.'
      operationId: Order Create with Quote ID
      tags:
      - Orders and Booking
      requestBody:
        description: JSON array of quote to order information.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/quotes'
            example:
            - quoteId: '320008172'
              customer:
                customerCode: C8283603
                contacts:
                - name: Contact One
                  type: Contact
                  companyName: Customer One
                  contactMethods:
                  - method: Phone
                    value: '5554678415'
                referenceNumbers:
                - type: MBOL
                  value: Q2OMBOL54971564
              billTo:
                contacts:
                - name: Contact One
                  type: Contact
                  companyName: Customer One
                  contactMethods:
                  - method: Phone
                    value: '5554678415'
                referenceNumbers:
                - type: SHID
                  value: Q2OSHID54971564
              service:
                referenceNumbers:
                - type: PRO
                  value: Q2OPro123456789
                suggestedScac: '4695'
                suggestedCarrierPartyCode: T2383
              origin:
                customerLocationId: W13246
                name: Origin Location
                address:
                  address1: 14800 Charlson Rd
                  address2: Building 1
                  address3: Floor 5
                  address4: Room 212
                  city: Eden Prairie
                  county: Hennepin
                  lat: 31.717096
                  long: -99.132553
                  stateProvinceCode: MN
                  postalCode: '55347'
                  country: US
                phone: '5558675309'
                emailAddress: jsmith@customer1.com
                contactName: John Smith
                openDateTime: '2019-03-18T18:24:14.782Z'
                closeDateTime: '2019-03-18T18:24:14.782Z'
                specialInstructions: Notes go here
[...]
