openapi: 3.2.0
info:
  version: 2.0.0
  title: A guide to C.H. Robinson's REST Events API
  description: '# Introduction

    Welcome to C.H.'
servers:
- url: https://sandbox-api.navisphere.com
  description: Test environment.
- url: https://api.navisphere.com
  description: Production environment.
security:
- sandbox: []
tags:
- name: Events
  description: 'C.H. Robinson''s Events product gives complete, near real-time order and shipment information, including all transportation updates.

    Integrating with C.H. Robinson''s Events API give partners near visibility into their supply chain directly to their own TMS or ERP system.

    There are two ways to integrate with C.H. Robinson events: via a callback/webhook (preferred and most real-time) or via a periodic event retrieval (easiest to implement and less real-time).'
paths:
  /REPLACE_ME_WITH_YOUR_CALLBACK_URL:
    servers:
    - url: https://yourserver.com
      description: partner defined endpoint
    post:
      security:
      - bearerAuth: []
      description: 'C.H. Robinson provides a callback solution for our customers. In a Callback integration type (also known as a Webhook or an HTTP Push API), users set up their own API and ask C.H. Robinson to call it whenever an order or shipment update occurs.


        The callback product provides the following features:

        - Pushes individual real-time event messages from the Navisphere system to the receiving system for all active transactions.

        - Allows the partner to choose from a list of event types to receive.

        - Minimizes outbound calls to CHR systems.


        **Requirements:**

        - All that is needed is a URL and an authorization methodology, and C.H. Robinson takes care of the rest.

        - The URL needs to be a RESTful API that supports `Content-Type: application/json`.


        **Supported Authorization Strategies:**

        - Basic Auth (username/password).

        - OAuth 1.0

        - OAuth 2.0

        - Api_key

        - No Auth'
      x-beta: false
      operationId: Events Callback
      tags:
      - Events
      requestBody:
        description: JSON object of Load Detail message.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventResponse'
      responses:
        2XX:
          description: Your server returns this code if it accepts the callback
          content:
            text/plain:
              schema:
                type: string
                example: OK
      summary: Events callback
      x-summary-source: derived
  /v2/events:
    get:
      security:
      - bearerAuth: []
      description: 'For customers that cannot integrate via callbacks, C.H. Robinson also provides an Event Retrieval solution.


        This retrieval product provides the following features:

        - Updates from Navisphere are made available in real-time.

        - Provides available data for all desired transactions, even those in the past, available as one call or one per transaction.

        - Retrieval intervals are controlled by the partner.

        - Allows the partner to choose from a list of event types to receive.


        Compared to the Callback solution, this product has the following weaknesses:

        - Shipment updates are only as real-time as the interval to call CH Robinson.

        - Some calls will use unnecessary resources when a call yields no new updates.


        **Note:** Values are case sensitive, for example, customerReferenceNumber will return different results for MN compared to mn.'
      operationId: Event Retrieval
      tags:
      - Events
      parameters:
      - in: query
        name: from
        required: false
        schema:
          type: string
          format: date-time
        description: Starting date/time of event search.
        example: '2019-04-20T20:30:00.0000000Z'
      - in: query
        name: to
        required: false
        schema:
          type: string
          format: date-time
        description: Ending date/time of event search.
        example: '2019-04-27T20:30:00.0000000Z'
      - in: query
        name: loadNumber
        required: false
        schema:
          type: string
        description: C.H. Robinson defined shipment number.
        example: 293045309
      - in: query
        name: orderNumber
        required: false
        schema:
          type: string
        description: C.H. Robinson defined order number.
        example: 79308056
      - in: query
        name: billToReferenceNumber
        required: false
        schema:
          type: string
        description: 'Customer bill to reference number. Typically this is the customer''s order number. The following special characters are allowed: - _ , . : ; | # * ^ & ! ~ ` /'
        example: 2120147
      - in: query
        name: customerReferenceNumber
        required: false
        schema:
          type: string
        description: 'Customer reference number. The following special characters are allowed: - _ , . : ; | # * ^ & ! ~ ` /'
        example: 14411
      - in: query
        name: navisphereTrackingNumber
        required: false
        schema:
          type: string
        description: C.H. Robinson online tracking reference number.
        example: YT6RHXA2PD6PY
      - in: query
        name: eventType
        required: false
        schema:
          type: string
        description: "Identify specific event(s) you want returned. To select multiple events use a comma-delimited string.\nIf empty, will default to all events.\n\n<details><summary><h5><strong>Possible Event Types: (click to expand)</strong></h5></summary>\n\n  <strong>Order Event:</strong><br>\n  ORDER CREATED, ORDER REJECTED, ORDER UPDATED, ORDER CANCELED, ORDER COMPLETED\n\n  <strong>Load Event:</strong><br>\n  LOAD CREATED, LOAD BOOKED, LOAD CANCELLED, PRO NUMBER ADDED\n\n  <strong>Stop Event:</strong><br>\n  CARRIER ARRIVED, CARRIER DEPARTED, LOAD PICKED UP, LOAD DELIVERED\n\n  <strong>Appointment Event:</strong><br>\n  APPOINTMENT UPDATED\n\n  <strong>In Transit Event:</strong><br>\n  IN TRANSIT, IN TRANSIT TO ORIGIN\n\n  <strong>Package In Transit Event:</strong><br>\n  PACKAGE IN TRANSIT, PACKAGE PICKED UP, PACKAGE DELIVERED\n\n  <strong>Global Forwarding Event:</strong>\n  <details><summary>Generic events (click to expand)</summary>\n    SHIPMENT CREATED, SHIPMENT BOOKED, SHIPMENT CANCELLED, CONTAINER CREATED, CONTAINER CANCELLED, CONTAINER UPDATED\n  </details>\n\n  <details><summary>Estimated Dates (click to expand)</summary>\n    SHIPMENT ESTIMATED DELIVERY DATE CHANGED, ESTIMATED DELIVERY DATE CHANGED, ESTIMATED TIME OF VESSEL DEPARTURE CHANGED, ESTIMATED TIME OF VESSEL ARRIVAL CHANGED, ESTIMATED TIME OF VESSEL ARRIVAL/DEPARTURE CHANGED, ESTIMATED TIME OF FLIGHT DEPARTURE CHANGED, ESTIMATED TIME OF FLIGHT ARRIVAL CHANGED, ESTIMATED TIME OF FLIGHT ARRIVAL/DEPARTURE CHANGED, ESTIMATED ARRIVAL TO DESTINATION RAIL CHANGED\n  </details>\n\n  <details><summary>Actual Dates (click to expand)</summary>\n    <div><strong>Pick up warehouse:</strong> ARRIVED AT PICKUP, CARGO PICKED UP</div>\n    <div><strong>Origin ramp:</strong> ARRIVED AT ORIGIN RAMP, DEPARTED FROM ORIGIN RAMP</div>\n    <div><strong>Origin terminal:</strong> ARRIVED AT ORIGIN TERMINAL, DEPARTED FROM ORIGIN TERMINAL</div>\n    <strong>Origin port/airport:</strong>\n    <div>Ocean: IN GATE AT ORIGIN PORT, VESSEL DEPARTED FROM ORIGIN PORT</div>\n    <div>Air: IN GATE AT ORIGIN AIRPORT, FLIGHT DEPARTED FROM ORIGIN AIRPORT</div>\n    <strong>Intermediary port/airport:</strong>\n    <div>Ocean: VESSEL ARRIVED AT INTERMEDIARY PORT, VESSEL DEPARTED FROM INTERMEDIARY PORT</div>\n    <div>Air: FLIGHT ARRIVED AT INTERMEDIARY AIRPORT, FLIGHT DEPARTED FROM INTERMEDIARY AIRPORT</div>\n    <strong>Destination port/airport:</strong>\n    <div>Ocean: VESSEL ARRIVED AT DESTINATION PORT, OUT GATE FROM DESTINATION PORT</div>\n    <div>Air: FLIGHT ARRIVED AT DESTINATION AIRPORT, DEPARTED FROM DESTINATION AIRPORT</div>\n    <div><strong>Destination terminal:</strong> ARRIVED AT DESTINATION TERMINAL, DEPARTED FROM DESTINATION TERMINAL</div>\n    <div><strong>Destination ramp:</strong> ARRIVED AT DESTINATION RAMP, DEPARTED FROM DESTINATION RAMP</div>\n    <div><strong>Drop warehouse:</strong> ARRIVED AT FINAL DESTINATION, CARGO DELIVERED\n    EMPTY CONTAINER RETURNED</div>\n    <strong>Customs:</strong>\n    CUSTOMS PENDING, CUSTOMS CANCELLED, CUSTOMS NOT RELEASED, CUSTOMS INTENSIVE EXAM, CUSTOMS ADMISSIBLE, CUSTOMS DOCUMENT REQUIRED, CUSTOMS REQUIRES BROKER REVIEW, PGA RELEASED, CUSTOMS RELEASED\n  </details>\n\n\n  <strong>Catch-All:</strong> SHIPMENT UPDATED\n</details>\n"
        example: LOAD BOOKED,LOAD PICKED UP,LOAD DELIVERED
      - in: query
        name: skip
        required: false
        schema:
          type: integer
        description: Identify how many results the call will skip.
        example: 1
      - in: query
        name: take
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 500
        description: Identify how many results the call will retrieve.
        example: 250
      x-code-samples:
      - lang: Curl
        source: "curl -X GET \\ \n 'https://sandbox-api.navisphere.com/v2/events?loadNumber=20015434520' \\ \n -H 'Authorization: Bearer YOU TOKEN' \\ \n -H 'Content-Type: application/json'"
      - lang: Java
        source: "HttpResponse<String> response = Unirest.get(\"https://sandbox-api.navisphere.com/v2/events?loadNumber=20015434520\")\n .header(\"Content-Type\", \"application/json\")\n .header(\"Authorization\", \"Bearer YOU TOKEN\")\n .asString();"
      - lang: NodeJS
        source: " var request = require(\"request\");\n\n var options = { method: 'GET',\n url: 'https://sandbox-api.navisphere.com/v2/events',\n qs: { loadNumber: '20015434520' },\n headers: { \n \tAuthorization: 'Bearer YOU TOKEN',\n \t'Content-Type': 'application/json' \n }};\n\n request(options, function (error, response, body) {\n \tif (error) throw new Error(error);\n\n \tconsole.log(body);\n });"
      - lang: C#
        source: " var client = new RestClient(\"https://sandbox-api.navisphere.com/v2/events?loadNumber=20015434520\");\n var request = new RestRequest(Method.GET);\n request.AddHeader(\"Authorization\", \"Bearer YOU TOKEN\");\n request.AddHeader(\"Content-Type\", \"application/json\");\n IRestResponse response = client.Execute(request);"
      responses:
        '200':
          description: Event Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventResponses'
              example:
                totalCount: 13
                results:
                - customer: C8283603
                  eventTime: '2022-08-11T17:44:14.162Z'
                  customerReferenceNumber: null
                  billToReferenceNumber: Reference 123
                  event:
                    eventType: ORDER CREATED
                    referenceNumbers:
                    - type: CITTN
                      value: Reference 123
                    - type: CON
                      value: Reference 123
                    - type: ORDTRK
                      value: XM86H2B2RT4
                    orderDetail:
                    - navisphereTrackingNumber: XM86H2B2RT4
                      navisphereTrackingLink: https://trn-online.chrobinson.com/tracking/#/?trackingNumber=XM86H2B2RT4
                      orderNumber: 123456789
                      condition: Active
                      services:
                      - condition: Active
                        mode: LessThanTruckLoad
                        description: LTL Transportation
                        serviceLevel: Standard
                        locations:
                        - chrLocationId: W123456
                          customerLocationId: W123456
                          type: Pick
                          style: Warehouse
                          name: Test Pick
                          address:
                            addressLine1: 123 Test Pick Drive
                            addressLine2: ''
                            city: Chicago
                            stateProvinceCode: null
                            postalCode: '60605'
                            country: US
                            latitude: 41.862169
                            longitude: -87.616946
                          referenceNumbers: null
                        - chrLocationId: W654321
                          customerLocationId: W654321
                          type: Drop
                          style: Warehouse
                          name: Test Drop
                          address:
                            addressLine1: 123 Test Drop Street
                            addressLine2: ''
                            city: Minneapolis
                            stateProvinceCode: null
                            postalCode: '32218'
                            country: US
                            latitude: 44.972965
                            longitude: -93.258926
                          referenceNumbers: null
                        items:
                        - quantity: 1
                          packagingType: KIT
                          description: Widgets
                          productCode: '123456'
                          freightClass: '85'
                          pluNumber: null
                          skuNumber: null
                          upcNumber: null
                          insuranceValue: null
                          minWeight: null
                          minWeightUnitOfMeasure: null
                          maxWeight: 230
                          maxWeightUnitOfMeasure: Pounds
                          length: null
                          lengthUnitOfMeasure: null
                          height: null
                          heightUnitOfMeasure: null
                          width: null
                          widthUnitOfMeasure: null
                          volume: null
                          volumeUnitOfMeasure: null
                          pallets: 1
                          palletSpaces: 2
                          trailerLengthUsed: 3
                          trailerLengthUsedUnitOfMeasure: Feet
                          referenceNumbers: null
                          isHazardous: true
                          hazardousProperties:
                            authCode: D
                            cargoAircraftLimitation: Cargo limitation
                            classCode: 8
                            description: Lithium Ion Batteries
                            emergencyPhone: 911
                            emergencyResponseGuidePage: page 56
                            exemptionNotes: Some exemption notes
                            flashpoint: 500
                            flashpointTemperatureUnitOfMeasure: Celsius
                            isEnvironmentallyHazardous: true
                            isNOSCommodity: true
                            isPlacarded: true
                            isPrimaryCommodity: true
                            isReportableQuantity: false
                            marinePollutantCategory: MP
                            packingGroup: I
                            passengerLimitation: passenger limitation
                            specialProvisions: special provisions
                            subsidiaryHazmatClasses: subcode
                            technicalName: Lithium Ion Batteries
                            unNumber: UN2796
                            vesselStowageCategory: A
                        - quantity: 1
                          packagingType: KIT
                          description: Widgets
                          productCode: '123456'
                          freightClass: '85'
                          pluNumber: null
                          skuNumber: null
                          upcNumber: null
                          insuranceValue: null
                          minWeight: null
                          minWeightUnitOfMeasure: null
                          maxWeight: 230
                          maxWeightUnitOfMeasure: Pounds
                          length: null
                          lengthUnitOfMeasure: null
                          height: null
                          heightUnitOfMeasure: null
                          width: null
                          widthUnitOfMeasure: null
                          volume: null
                          volumeUnitOfMeasure: null
                          pallets: null
                          palletSpaces: null
                          trailerLengthUsed: 0
                          trailerLengthUsedUnitOfMeasure: Feet
                          referenceNumbers: null
                          isHazardous: true
                          hazardousProperties:
                            authCode: D
                            cargoAircraftLimitation: Cargo limitation
                            classCode: 8
                            description: Lithium Ion Batteries
                            emergencyPhone: 911
                            emergencyResponseGuidePage: page 56
                            exemptionNotes: Some exemption notes
                            flashpoint: 500
                            flashpointTemperatureUnitOfMeasure: Celsius
                            isEnvironmentallyHazardous: true
                            isNOSCommodity: true
                            isPlacarded: true
                            isPrimaryCommodity: true
                            isReportableQuantity: false
                            marinePollutantCategory: MP
                            packingGroup: I
                            passengerLimitation: passenger limitation
                            specialProvisions: special provisions
                            subsidiaryHazmatClasses: subcode
                            technicalName: Lithium Ion Batteries
                            unNumber: UN2796
                            vesselStowageCategory: A
                    loadNumbers: []
                  time: '2022-08-11T17:44:45.233Z'
                - customer: C8283603
                  eventTime: '2022-08-12T18:18:26.575Z'
                  customerReferenceNumber: null
                  billToReferenceNumber: Reference 123
                  event:
                    eventType: ORDER UPDATED
                    referenceNumbers:
                    - type: CITTN
                      value: Reference 123
                    - type: ORDTRK
                      value: XM86H2B2RT4
                    - type: CON
                      value: Reference 123
                    orderDetail:
                    - navisphereTrackingNumber: XM86H2B2RT4
                      navisphereTrackingLink: https://trn-online.chrobinson.com/tracking/#/?trackingNumber=XM86H2B2RT4
                      orderNumber: 123456789
                      condition: Active
                      services:
                      - condition: Active
                        mode: LessThanTruckLoad
                        description: LTL Transportation
                        serviceLevel: Standard
                        locations:
                        - chrLocationId: W123456
                          customerLocationId: W123456
                          type: Pick
                          style: Warehouse
                          name: Test Pick
                          address:
                            addressLine1: 123 Test Pick Drive
                            addressLine2: null
                            city: Chicago
                            stateProvinceCode: null
                            postalCode: '60605'
                            country: US
                            latitude: 41.862169
                            longitude: -87.616946
                          referenceNumbers:
                          - type: PU
                            value: Reference 123
                        - chrLocationId: W654321
                          customerLocationId: W654321
                          type: Drop
                          style: Warehouse
                          name: Test Drop
                          address:
                            addressLine1: 123 Test Drop Street
                            addressLine2: null
                            city: Minneapolis
                            stateProvinceCode: null
                            postalCode: '32218'
                            country: US
                            latitude: 44.972965
                            longitude: -93.258926
                          referenceNumbers:
                          - type: DEL
                            value: Reference 123
                        items:
                        - quantity: 1
                          packagingType: KIT
                          description: Widgets
                          productCode: '123456'
                          freightClass: '85'
                          pluNumber: null
                          skuNumber: null
                          upcNumber: null
                          insuranceValue: null
                          minWeight: null
                          minWeightUnitOfMeasure: null
                          maxWeight: 230
                          maxWeightUnitOfMeasure: Pounds
                          length: null
                          lengthUnitOfMeasure: null
                          height: null
                          heightUnitOfMeasure: null
                          width: null
                          widthUnitOfMeasure: null
                          volume: null
                          volumeUnitOfMeasure: null
                          pallets: 1
                          palletSpaces: 2
                          trailerLengthUsed: 3
                          trailerLengthUsedUnitOfMeasure: Feet
                          referenceNumbers:
                          - type: PO
                            value: Reference 123
                          isHazardous: true
                          hazardousProperties:
                            authCode: D
                            cargoAircraftLimitation: Cargo limitation
                            classCode: 8
                            description: Lithium Ion Batteries
                            emergencyPhone: 911
                            emergencyResponseGuidePage: page 56
                            exemptionNotes: Some exemption notes
                            flashpoint: 500
                            flashpointTemperatureUnitOfMeasure: Celsius
                            isEnvironmentallyHazardous: true
                            isNOSCommodity: true
                            isPlacarded: true
                            isPrimaryCommodity: true
                            isReportableQuantity: false
                            marinePollutantCategory: MP
                            packingGroup: I
                            passengerLimitation: passenger limitation
                            specialProvisions: special provisions
                            subsidiaryHazmatClasses: subcode
                            technicalName: Lithium Ion Batteries
                            unNumber: UN2796
                            vesselStowageCategory: A
                        - quantity: 1
                          packagingType: KIT
                          description: Widgets
                          productCode: '123456'
                          freightClass: '85'
                          pluNumber: null
                          skuNumber: null
                          upcNumber: null
                          insuranceValue: null
                          minWeight: null
                          minWeightUnitOfMeasure: null
                          maxWeight: 230
                          maxWeightUnitOfMeasure: Pounds
                          length: null
                          lengthUnitOfMeasure: null
                          height: null
                          heightUnitOfMeasure: null
                          width: null
                          widthUnitOfMeasure: null
                          volume: null
                          volumeUnitOfMeasure: null
                          pallets: null
                          palletSpaces: null
                          trailerLengthUsed: 0
                          trailerLengthUsedUnitOfMeasure: Feet
                          referenceNumbers:
                          - type: PO
                            value: Reference 123
                          isHazardous: true
                          hazardousProperties:
                            authCode: D
                            cargoAircraftLimitation: Cargo limitation
                            classCode: 8
                            description: Lithium Ion Batteries
                            emergencyPhone: 911
                            emergencyResponseGuidePage: page 56
                            exemptionNotes: Some exemption notes
                            flashpoint: 500
                            flashpointTemperatureUnitOfMeasure: Celsius
                            isEnvironmentallyHazardous: true
                            isNOSCommodity: true
                            isPlacarded: true
                            isPrimaryCommodity: true
                            isReportableQuantity: false
                            marinePollutantCategory: MP
                            packingGroup: I
                            passengerLimitation: passenger limitation
                            specialProvisions: special provisions
                            subsidiaryHazmatClasses: subcode
                            technicalName: Lithium Ion Batteries
                            unNumber: UN2796
                            vesselStowageCategory: A
                    loadNumbers:
                    - 987654321
                  time: '2022-08-12T18:18:57.143Z'
                - customer: C8283603
                  eventTime: '2022-08-12T18:00:28.072Z'
                  customerReferenceNumber: null
                  billToReferenceNumber: Reference 123
                  event:
                    eventType: ORDER CANCELED
                    referenceNumbers:
                    - type: CITTN
                      value: Reference 123
                    - type: ORDTRK
                      value: XM86H2B2RT4
                    - type: CON
                      value: Reference 123
                    orderDetail:
                    - navisphereTrackingNumber: XM86H2B2RT4
                      navisphereTrackingLink: https://trn-online.chrobinson.com/tracking/#/?trackingNumber=XM86H2B2RT4
                      orderNumber: 123456789
                      condition: Canceled
                      services:
                      - condition: Canceled
                        mode: LessThanTruckLoad
                        description: LTL Transportation
                        serviceLevel: Standard
                        locations:
                        - chrLocationId: W123456
                          customerLocationId: W123456
                          type: Pick
                          style: Warehouse
                          name: Test Pick
                          address:
                            addressLine1: 123 Test Pick Drive
                            addressLine2: null
                            city: Chicago
                            stateProvinceCode: null
                            postalCode: '60605'
                            country: US
                            latitude: 41.862169
                            longitude: -87.616946
                          referenceNumbers:
                          - type: PU
                            value: Reference 123
                        - chrLocationId: W654321
                          customerLocationId: W654321
                          type: Drop
                          style: Warehouse
                          name: Test Drop
                          address:
                            addressLine1: 123 Test Drop Street
                            addressLine2: ''
                            city: Minneapolis
                            stateProvinceCode: null
                            postalCode: '32218'
                            country: US
                            latitude: 44.972965
                            longitude: -93.258926
                          referenceNumbers:
                          - type: DEL
                            value: Reference 123
                        items:
                        - quantity: 1
                          packagingType: KIT
                          description: Widgets
                          productCode: '123456'
                          freightClass: '85'
                          pluNumber: null
                          skuNumber: null
                          upcNumber: null
                          insuranceValue: null
                          minWeight: null
                          minWeightUnitOfMeasure: null
                          maxWeight: 230
                          maxWeightUnitOfMeasure: Pounds
                          length: null
                          lengthUnitOfMeasure: null
                          height: null
                          heightUnitOfMeasure: null
                          width: null
                          widthUnitOfMeasure: null
                          volume: null
                          volumeUnitOfMeasure: null
                          pallets: 1
                          palletSpaces: 2
                          trailerLengthUsed: 3
                          trailerLengthUsedUnitOfMeasure: Feet
                          referenceNumbers:
                          - type: PO
                            value: Reference 123
                          isHazardous: true
                          hazardousProperties:
                            authCode: D
                            cargoAircraftLimitation: Cargo limitation
                            classCode: 8
                            description: Lithium Ion Batteries
                            emergencyPhone: 911
                            emergencyResponseGuidePage: page 56
                            exemptionNotes: Some exemption notes
                            flashpoint: 500
                            flashpointTemperatureUnitOfMeasure: Celsius
                            isEnvironmentallyHazardous: true
                            isNOSCommodity: true
                            isPlacarded: true
                            isPrimaryCommodity: true
                            isReportableQuantity: false
                            marinePollutantCategory: MP
                            packingGroup: I
                            passengerLimitation: passenger limitation
                            specialProvisions: special provisions
                            subsidiaryHazmatClasses: subcode
                            technicalName: Lithium Ion Batteries
                            unNumber: UN2796
                            vesselStowageCategory: A
                        - quantity: 1
                          packagingType: KIT
                          description: Widgets
                          productCode: '123456'
                          freightClass: '85'
                          pluNumber: null
                          skuNumber: null
                          upcNumber: null
                          insuranceValue: null
                          minWeight: null
                          minWeightUnitOfMeasure: null
                          maxWeight: 230
                          maxWeightUnitOfMeasure: Pounds
                          length: null
                          lengthUnitOfMeasure: null
                          height: null
                          heightUnitOfMeasure: null
                          width: null
                          widthUnitOfMeasure: null
                          volume: null
                          volumeUnitOfMeasure: null
                          pallets: null
                          palletSpaces: null
                          trailerLengthUsed: 0
                          trailerLengthUsedUnitOfMeasure: Feet
                          referenceNumbers:
                          - type: PO
                            value: Reference 123
                          isHazardous: true
                          hazardousProperties:
                            authCode: D
                            cargoAircraftLimitation: Cargo limitation
                            classCode: 8
                            description: Lithium Ion Batteries
                            emergencyPhone: 911
                            emergencyResponseGuidePage: page 56
                            exemptionNotes: Some exemption notes
                            flashpoint: 500
                            flashpointTemperatureUnitOfMeasure: Celsius
                            isEnvironmentallyHazardous: true
                            isNOSCommodity: true
                            isPlacarded: true
                            isPrimaryCommodity: true
                            isReportableQuantity: false
                            marinePollutantCategory: MP
                            packingGroup: I
                            passengerLimitation: passenger limitation
                            specialProvisions: special provisions
                            subsidiaryHazmatClasses: subcode
                            technicalName: Lithium Ion Batteries
                            unNumber: UN2796
                            vesselStowageCategory: A
                    loadNumbers: []
                  time: '2022-08-12T18:00:58.320Z'
                - customer: C8283603
                  eventTime: '2022-08-12T20:43:34.231Z'
                  customerReferenceNumber: Reference 123
                  billToReferenceNumber: Reference 123
                  event:
                    eventType: ORDER REJECTED
                    referenceNumbers:
                    - type: CITTN
                      value: Reference 123
                    - type: SCAC
                      value: RBTW
                    - type: CRID
                      value: '0'
                    - type: GRGI
                      value: Reference 123
                    - type: MBOL
                      value: Reference 123
                    - type: ORDTRK
                      value: XM86H2B2RT4
                    - type: CON
                      value: Reference 123
                    orderDetail:
                    - navisphereTrackingNumber: XM86H2B2RT4
                      navisphereTrackingLink: https://trn-online.chrobinson.com/tracking/#/?trackingNumber=XM86H2B2RT4
                      orderNumber: 123456789
                      condition: Rejected
                      services:
                      - condition: Rejected
                        mode: Van
                        description: Truckload Transportation
                        serviceLevel: Standard
                        locations:
                        - chrLocationId: W123456
                          customerLocationId: W123456
                          type: Pick
                          style: Warehouse
                          name: Test Pick
                          address:
                            addressLine1: 123 Test Pick Drive
                            addressLine2: ''
                            city: Chicago
                            stateProvinceCode: null
                            postalCode: '60605'
                            country: US
                            latitude: 41.862169
                            longitude: -87.616946
                          referenceNumbers:
                          - type: SREF
                            value: Reference 123
                          - type: CRID
                            value: Reference 123
                          - type: PO
                            value: Reference 123
                          - type: PU
                            value: Reference 123
                        - chrLocationId: W654321
                          customerLocationId: W654321
                          type: Drop
                          style: Warehouse
                          name: Test Drop
                          address:
                            addressLine1: 3123 Test Drop Street
                            addressLine2: ''
                            city: Minneapolis
                            stateProvinceCode: null
                            postalCode: '32218'
                            country: US
                            latitude: 44.972965
                            longitude: -93.258926
                          referenceNumbers:
                          - type: SREF
                            value: Reference 123
                          - type: CRID
                            value: Reference 123
                          - type: PO
                            value: Reference 123
                          - type: DEL
                            value: Reference 123
                        items:
                        - quantity: 200
                          packagingType: PLT
                          description: Widgets
                          productCode: MISC
                          freightClass: Empty
                          pluNumber: null
                          skuNumber: '123'
                          upcNumber: null
                          insuranceValue: null
                          minWeight: 19986
                          minWeightUnitOfMeasure: Pounds
                          maxWeight: 19986
                          maxWeightUnitOfMeasure: Pounds
                          length: null
                          lengthUnitOfMeasure: null
                          height: null
                          heightUnitOfMeasure: null
                          width: null
                          widthUnitOfMeasure: null
                          volume: null
                          volumeUnitOfMeasure: null
                          pallets: null
                          palletSpaces: null
                          trailerLengthUsed: 48
                          trailerLengthUsedUnitOfMeasure: Feet
                          referenceNumbers:
                          - type: PO
                            value: Reference 123
                          isHazardous: true
                          hazardousProperties:
                            authCode: D
                            cargoAircraftLimitation: Cargo limitation
                            classCode: 8
                            description: Lithium Ion Batteries
                            emergencyPhone: 911
                            emergencyResponseGuidePage: page 56
                            exemptionNotes: Some exemption notes
                            flashpoint: 500
                            flashpointTemperatureUnitOfMeasure: Celsius
                            isEnvironmentallyHazardous: true
                            isNOSCommodity: true
                            isPlacarded: true
                            isPrimaryCommodity: true
                            isReportableQuantity: false
                            marinePollutantCategory: MP
                            packingGroup: I
                            passengerLimitation: passenger limitation
                            specialProvisions: special provisions
                            subsidiaryHazmatClasses: subcode
                            technicalName: Lithium Ion Batteries
                            unNumber: UN2796
                            vesselStowageCategory: A
                    loadNumbers: []
                  time: '2022-08-12T20:44:05.822Z'
                - customer: C8283603
                  eventTime: '2022-08-12T20:09:23.833Z'
                  customerReferenceNumber: Reference 123
                  billToReferenceNumber: Reference 123
                  event:
                    eventType: ORDER COMPLETED
                    referenceNumbers:
                    - type: CITTN
                      value: Reference 123
                    - type: SCAC
                      value: RBTW
                    - type: CRID
                      value: '0'
                    - type: GRGI
                      value: Reference 123
                    - type: MBOL
                      value: Reference 123
                    - type: ORDTRK
                      value: XM86H2B2RT4
                    - type: CON
                      value: Reference 123
                    orderDetail:
                    - navisphereTrackingNumber: XM86H2B2RT4
                      navisphereTrackingLink: https://trn-online.chrobinson.com/tracking/#/?trackingNumber=XM86H2B2RT4
                      orderNumber: 123456789
                      condition: FinanciallyLocked
                      services:
                      - condition: FinanciallyLocked
                        mode: TemperatureControlled
                        description: Produce Truckload Temp Controlled Transportation
                        serviceLevel: Standard
                        locations:
                        - chrLocationId: W123456
                          customerLocationId: W123456
                          type: Pick
                          style: Warehouse
                          name: Test Pick
                          address:
                            addressLine1: 123 Test Pick Drive
                            addressLine2: null
                            city: Chicago
                            stateProvinceCode: null
                            postalCode: '60605'
                            country: US
                            latitude: 41.862169
                            longitude: -87.616946
                          referenceNumbers:
                          - type: SREF
                            value: Reference 123
                          - type: CRID
                            value: Reference 123
                          - type: PU
                            value: Reference 123
                        - chrLocationId: W654321
                          customerLocationId: W654321
                          type: Drop
                          style: Warehouse
                          name: Test Drop
                          address:
                            addressLine1: 123 Test Drop Street
                            addressLine2: null
                            city: Minneapolis
                            stateProvinceCode: null
                            postalCode: '32218'
                            country: US
                            latitude: 44.972965
                            longitude: -93.258926
                          referenceNumbers:
                          - type: SREF
                            value: Reference 123
                          - type: CRID
                            value: Reference 123
                        items:
                        - quantity: 9
                          packagingType: PLT
                          description: Widgets
                          productCode: MISC
                          freightClass: Empty
                          pluNumber: null
                          skuNumber: null
                          upcNumber: null
                          insuranceValue: null
                          minWeight: 40000
                          minWeightUnitOfMeasure: Pounds
                          maxWeight: 40000
                          maxWeightUnitOfMeasure: Pounds
                          length: null
                          lengthUnitOfMeasure: null
                          height: null
                          heightUnitOfMeasure: null
                          width: null
                          widthUnitOfMeasure: null
                          volume: null
                          volumeUnitOfMeasure: null
                          pallets: null
                          palletSpaces: null
                          trailerLengthUsed: 48
                          trailerLengthUsedUnitOfMeasure: Feet
                          referenceNumbers:
                          - type: PO
                            value: Reference 123
                          isHazardous: true
                          hazardousProperties:
                            authCode: D
                            cargoAircraftLimitation: Cargo limitation
                            classCode: 8
                            description: Lithium Ion Batteries
                            emergencyPhone: 911
                            emergencyResponseGuidePage: page 56
                            exemptionNotes: Some exemption notes
                            flashpoint: 500
                            flashpointTemperatureUnitOfMeasure: Celsius
                            isEnvironmentallyHazardous: true
                            isNOSCommodity: true
                            isPlacarded: true
                            isPrimaryCommodity: true
                            isReportableQuantity: false
                            marinePollutantCategory: MP
                            packingGroup: I
                            passengerLimitation: passenger limitation
                            specialProvisions: special provisions
                            subsidiaryHazmatClasses: subcode
                            technicalName: Lithium Ion Batteries
                            unNumber: UN2796
                            vesselStowageCategory: A
                    loadNumbers:
                    - 987654321
                  time: '2022-08-12T20:09:56.739Z'
                - customer: C8283603
                  eventTime: '2022-08-12T20:17:29.470Z'
                  customerReferenceNumber: Reference 123
                  billToReferenceNumber: Reference 123
                  event:
                    eventType: LOAD CREATED
                    orderDetails:
                    - navisphereTrackingNumber: XM86H2B2RT4
                      navisphereTrackingLink: https://trn-online.chrobinson.com/tracking/#/?trackingNumber=XM86H2B2RT4
                      orderNumber: 123456789
                      customerOrderReferenceNumber: Reference 123
                      referenceNumbers:
                      - type: CITTN
                        value: Reference 123
                      - type: SCAC
                        value: RBTW
                      - type: CRID
                        value: '0'
                      - type: GRGI
                        value: Reference 123
                      - type: MBOL
                        value: Reference 123
                      - type: ORDTRK
                        value: XM86H2B2RT4
                      - type: CON
                        value: Reference 123
                      ordersPlannedOnLoad:
                      - orderNumber: 123456789
                    loadNumber: 987654321
                    equipmentType: Van
                    mode: null
                    serviceOffering: Produce Truckload Temp Controlled Transportation
                    readyByDate: '2022-08-13'
                    pickupByDate: '2022-08-13'
                    deliveryAvailableByDate: '2022-08-14'
                    deliveryByDate: '2022-08-14'
                    billTos:
                    - customerCode: C8283603
                      customerName: Test Customer Name
                      currencyCode: USD
                      invoiceMethod: CL
                      milesBilled: 62
                      exchangeRate: 1
                      charges:
                      - rate: 725
                        rateCode: '400'
                        quantity: 1
                        alternateDescription: Line Haul
                        chargeType: Actual Charge
                      - rate: 0.48
                        rateCode: '405'
                        quantity: 55
                        alternateDescription: 405 - Fuel Surcharge
                        chargeType: Actual Charge
                      contacts:
                      - name: ''
                        type: null
                        companyName: ''
                        contactMethods:
                        - method: Email
                          value: test@test.com
                        referenceNumbers: null
                      - name: test
                        type: null
                        companyName: ''
                        contactMethods:
                        - method: Phone
                          value: '1234567890'
                        - method: Email
                          value: test@test.com
                        referenceNumbers: null
                      referenceNumbers:
                      - type: SCAC
                        value: RBTW
                      - type: CRID
                        value: '0'
                      - type: GRGI
                        value: Reference 123
                      - type: SPRN
                        value: Reference 123
                    customers:
                    - customerCode: C8283603
                      customerName: Test Customer Name
                      referenceNumbers:
                      - type: OrderID
                        value: Reference 123
                      - type: SHID
                        value: Reference 123
                      contacts:
                      - name: test
                        type: Contact
                        companyName: null
                        contactMethods: []
                        referenceNumbers: null
                    carrier:
                      name: null
                      carrierCode: null
                      scac: null
                      proNumber: null
                      driverName: null
                      driverPhone: null
                      secondDriverName: null
                      sealNumber: null
                      licensePlate: null
                      tractorNumber: null
                      trailerNumber: null
                      dotNumber: null
                    locations:
                    - chrLocationId: W123456
                      customerLocationId: null
                      type: Pick
                      style: N
                      stopSequenceNumber: 0
                      sequenceNumber: 0
                      name: Test Pick
                      address:
                        addressLine1: 123 Test Pick Drive
                        addressLine2: null
                        city: Chicago
                        stateProvinceCode: IL
                        postalCode: '60605'
                        country: US
                        latitude: 41.862169
                        longitude: -87.616946
                      pickUpNumber: Reference 123
                      deliveryNumber: null
                      locationContact:
                        name: TEST
                        phoneNumber: (123) 456-7890
                        email: null
                      referenceNumbers:
                      - type: CRID
                        value: Reference 123
                      - type: PO
                        value: Reference 123
                      - type: PU
                        value: Reference 123
                      - type: SREF
                        value: Reference 123
                      appointmentNumber: null
                      scheduledOpenDateTime: null
                      scheduledCloseDateTime: null
                      scheduledEnteredDate: null
                      arrivalDateTime: null
                      departureDateTime: null
                      isDropTrailerNeeded: false
                      scheduledWith: null
                      etaDateTime: null
                    - chrLocationId: W654321
                      customerLocationId: null
                      type: Drop
                      style: N
                      stopSequenceNumber: 1
                      sequenceNumber: 1
                      name: Test Drop
                      address:
                        addressLine1: 123 Test Drop Street
                        addressLine2: null
                        city: Chicago
                        stateProvinceCode: IL
                        postalCode: '32218'
                        country: US
                        latitude: 44.972965
                        longitude: -93.258926
                      pickUpNumber: null
                      deliveryNumber: Reference 123
                      locationContact:
                        name: Main Office
                        phoneNumber: (888) 888-8888
                        email: test.test@test.com
                      referenceNumbers:
                      - type: CRID
                        value: Reference 123
                      - type: DEL
                        value: Reference 123
                      - type: PO
                        value: Reference 123
                      - type: SREF
                        value: Reference 123
                      appointmentNumber: null
                      scheduledOpenDateTime: null
                      scheduledCloseDateTime: null
                      scheduledEnteredDate: null
                      arrivalDateTime: null
                      departureDateTime: null
                      isDropTrailerNeeded: false
                      scheduledWith: null
                      etaDateTime: null
                    items:
                    - packagingType: PLT
                      description: Widgets
                      productCode: MISC
                      freightClass: null
                      insuranceValue: 99999.99999984796
                      primaryReferenceNumber: null
                      poNumber: '123456789'
                      skuNumber: '1'
                      pluNumber: null
                      actualQuantity: 1444
                      actualWeight: 37537.99999999967
                      actualWeightUnitOfMeasure: Pounds
                      actualPallets: null
                      actualVolume: 3128
                      actualVolumeUnitOfMeasure: Cubic Feet
                      actualPackagingLength: null
                      actualPackagingHeight: null
                      actualPackagingWidth: null
                      actualPackagingUnitOfMeasure: Inches
                      referenceNumbers:
                      - type: OrderItemId
                        value: Reference 123
                      associatedStop:
                        pickSequenceNumber: 0
                        dropSequenceNumber: 1
                      expectedPallets: null
                      expectedQuantity: 1444
                      expectedWeight: 37537.99999999967
                      expectedWeightUnitOfMeasure: Standard
                      expectedPackagingLength: null
                      expectedPackagingHeight: null
                      expectedPackagingWidth: null
                      expectedPackagingUnitOfMeasure: Inches
                      expectedVolume: null
                      expectedVolumeUnitOfMeasure: null
                    packages: []
                  time: '2022-08-12T20:17:55.503Z'
                - customer: C8283603
                  eventTime: '2022-08-12T20:46:00.000Z'
                  customerReferenceNumber: Reference 123
                  billToReferenceNumber: Reference 123
                  event:
                    eventType: LOAD BOOKED
                    orderDetails:
                    - navisphereTrackingNumber: XM86H2B2RT4
                      navisphereTrackingLink: https://trn-online.chrobinson.com/tracking/#/?trackingNumber=XM86H2B2RT4
                      orderNumber: 123456789
                      customerOrderReferenceNumber: Reference 123
                      referenceNumbers:
                      - type: CITTN
                        value: Reference 123
                      - type: SCAC
                        value: RBTW
                      - type: CRID
                        value: '0'
                      - type: GRGI
                        value: Reference 123
                      - type: MBOL
                        value: Reference 123
                      - type: ORDTRK
                        value: XM86H2B2RT4
                      - type: CON
                        value: Reference 123
                      ordersPlannedOnLoad:
                      - orderNumber: 123456789
                    loadNumber: 987654321
                    equipmentType: Van
                    mode: Truckload
                    serviceOffering: Truckload Transportation
                    readyByDate: '2022-08-18'
                    pickupByDate: '2022-08-18'
                    deliveryAvailableByDate: '2022-08-23'
                    deliveryByDate: '2022-08-23'
                    billTos:
                    - customerCode: C8283603
                      customerName: Test Customer Name
                      currencyCode: USD
                      invoiceMethod: CL
                      milesBilled: 2386.9999999995084
                      exchangeRate: 1
                      charges:
                      - rate: 0.42
                        rateCode: '405'
                        quantity: 2405
                        alternateDescription: 405 - Fuel Surcharge
                        chargeType: Actual Charge
                      - rate: 4756.02
                        rateCode: '400'
                        quantity: 1
                        alternateDescription: Line Haul
                        chargeType: Actual Charge
                      contacts:
                      - name: ''
                        type: null
                        companyName: ''
                        contactMethods:
                        - method: Email
                          value: test@test.com
                        referenceNumbers: null
                      - name: test
                        type: null
                        companyName: ''
                        contactMethods:
                        - method: Phone
                          value: '9999999999'
                        - method: Email
                          value: test.test@test.com
                        referenceNumbers: null
                      referenceNumbers:
                      - type: SCAC
                        value: RBTW
                      - type: CRID
                        value: '0'
                      - type: GRGI
                        value: Reference 123
                      - type: SPRN
                        value: Reference 123
                      - type: SHIPREF
                        value: Reference 123
                      - type: MBOL
                        value: Reference 123
                      - type: SHID
                        value: Reference 123
                    customers:
                    - customerCode: C8283603
                      customerName: Test Customer Name
                      referenceNumbers:
                      - type: OrderID
                        value: Reference 123
                      - type: SHID
                        value: Reference 123
                      contacts:
                      - name: test
                        type: Contact
                        companyName: null
                        contactMethods: []
                        referenceNumbers: null
                    carrier:
                      name: Test Carrier
                      carrierCode: T12345678
                      scac: RBTW
                      proNumber: null
                      driverName: null
                      driverPhone: null
                      secondDriverName: null
                      sealNumber: null
                      licensePlate: null
                      tractorNumber: null
                      trailerNumber: null
                      dotNumber: '1234567'
                    locations:
                    - chrLocationId: W654321
                      customerLocationId: null
                      type: Drop
                      style: N
                      stopSequenceNumber: 1
                      sequenceNumber: 0
                      name: Test Drop
                      address:
                        addressLine1: 123 Test Drop Street
                        addressLine2: null
                        city: Minneapolis
                        stateProvinceCode: MN
                        postalCode: '32218'
                        country: US
                        latitude: 44.972965
                        longitude: -93.258926
                      pickUpNumber: null
                      deliveryNumber: Reference 123
                      locationContact:
                        name: Shipping
                        phoneNumber: '8888888888'
                        email: null
                      referenceNumbers:
                      - type: CRID
                        value: Reference 123
                      - type: DEL
                        value: Reference 123
                      - type: PO
                        value: Reference 123
                      - type: SREF
                        value: Reference 123
                      appointmentNumber: '123456789'
                      scheduledOpenDateTime: '2022-08-23T09:00:00.000Z'
                      scheduledCloseDateTime: '2022-08-23T09:00:00.000Z'
                      scheduledEnteredDate: '2022-08-12T23:25:00.000Z'
                      arrivalDateTime: null
                      departureDateTime: null
                      isDropTrailerNeeded: false
                      scheduledWith: '123456789'
                      etaDateTime: '2022-08-23T08:00:00.000Z'
                    - chrLocationId: W123456
                      customerLocationId: null
                      type: Pick
                      style: N
                      stopSequenceNumber: 0
                      sequenceNumber: 1
                      name: Test Pick
                      address:
                        addressLine1: 123 Test Pick Drive
                        addressLine2: null
                        city: Chicago
                        stateProvinceCode: IL
                        postalCode: '60605'
                        country: US
                        latitude: 41.862169
                        longitude: -87.616946
                      pickUpNumber: Reference 123
                      deliveryNumber: null
                      locationContact:
                        name: Shipping
                        phoneNumber: '8888888888'
                        email: null
                      referenceNumbers:
                      - type: CRID
                        value: Reference 123
                      - type: PO
                        value: Reference 123
                      - type: PU
                        value: Reference 123
                      - type: SREF
                        value: Reference 123
                      appointmentNumber: null
                      scheduledOpenDateTime: '2022-08-18T18:00:00.000Z'
                      scheduledCloseDateTime: '2022-08-18T18:00:00.000Z'
                      scheduledEnteredDate: '2022-08-13T02:14:00.000Z'
                      arrivalDateTime: null
                      departureDateTime: null
                      isDropTrailerNeeded: false
                      scheduledWith: Shipping
                      etaDateTime: '2022-08-18T18:00:00.000Z'
                    items:
                    - packagingType: PLT
                      description: Widgets
                      productCode: MISC
                      freightClass: null
                      insuranceValue: 99999.99999984796
                      primaryReferenceNumber: null
                      poNumber: '123456789'
                      skuNumber: '123'
                      pluNumber: null
                      actualQuantity: 294
                      actualWeight: 11760
                      actualWeightUnitOfMeasure: Pounds
                      actualPallets: null
                      actualVolume: 2990.9999999995084
                      actualVolumeUnitOfMeasure: Cubic Feet
                      actualPackagingLength: null
                      actualPackagingHeight: null
                      actualPackagingWidth: null
                      actualPackagingUnitOfMeasure: Inches
                      referenceNumbers:
                      - type: OrderItemId
                        value: Reference 123
                      associatedStop:
                        pickSequenceNumber: 0
                        dropSequenceNumber: 1
                      expectedPallets: null
                      expectedQuantity: 294
                      expectedWeight: 11760
                      expectedWeightUnitOfMeasure: Standard
                      expectedPackagingLength: null
                      expectedPackagingHeight: null
                      expectedPackagingWidth: null
                      expectedPackagingUnitOfMeasure: Inches
                      expectedVolume: null
                      expectedVolumeUnitOfMeasure: null
                    packages: []
                  time: '2022-08-12T20:47:01.946Z'
                - customer: C8283603
                  eventTime: '2022-08-12T20:49:56.207Z'
                  customerReferenceNumber: Reference 123
                  billToReferenceNumber: Reference 123
                  event:
                    eventType: LOAD CANCELLED
                    orderDetails:
                    - navisphereTrackingNumber: XM86H2B2RT4
                      navisphereTrackingLink: https://trn-online.chrobinson.com/tracking/#/?trackingNumber=XM86H2B2RT4
                      orderNumber: 123456789
                      customerOrderReferenceNumber: Reference 123
                      referenceNumbers:
                      - type: CITTN
                        value: Reference 123
                      - type: SCAC
                        value: RBTW
                      - type: CRID
                        value: '0'
                      - type: GRGI
                        value: Reference 123
                      - type: MBOL
                        value: Reference 123
                      - type: ORDTRK
                        value: XM86H2B2RT4
                      - type: CON
                        value: Reference 123
                      ordersPlannedOnLoad:
                      - orderNumber: 123456789
                    loadNumber: 987654321
                    equipmentType: Reefer
                    mode: null
                    serviceOffering: Produce Truckload Temp Controlled Transportation
                    readyByDate: '2022-08-11'
                    pickupByDate: '2022-08-11'
                    deliveryAvailableByDate: '2022-08-13'
                    deliveryByDate: '2022-08-13'
                    billTos:
                    - customerCode: C8283603
                      customerName: Test Customer Name
                      currencyCode: USD
                      invoiceMethod: CL
                      milesBilled: 958.9999999995085
                      exchangeRate: 1
                      charges:
                      - rate: 3.5
                        rateCode: '400'
                        quantity: 951
                        alternateDescription: Line Haul
                        chargeType: Actual Charge
                      - rate: 453.54
                        rateCode: '405'
                        quantity: 1
                        alternateDescription: 405 - Fuel Surcharge
                        chargeType: Actual Charge
                      contacts:
                      - name: ''
                        type: null
                        companyName: ''
                        contactMethods:
                        - method: Email
                          value: test@test.com
                        referenceNumbers: null
                      - name: test
                        type: null
                        companyName: ''
                        contactMethods:
                        - method: Phone
                          value: '1234567890'
                        - method: Email
                          value: test@test.com
                        referenceNumbers: null
                      referenceNumbers:
                      - type: SCAC
                        value: RBTW
                      - type: CRID
                        value: '0'
                      - type: GRGI
                        value: Reference 123
                      - type: SPRN
                        value: Reference 123
                      - type: SHIPREF
                        value: Reference 123
                      - type: MBOL
                        value: Reference 123
                      - type: SHID
                        value: Reference 123
                    customers:
                    - customerCode: C8283603
                      customerName: Test Customer Name
                      referenceNumbers:
                      - type: OrderID
                        value: Reference 123
                      - type: SHID
                        value: Reference 123
                      contacts:
                      - name: test
                        type: Contact
                        companyName: null
                        contactMethods: []
                        referenceNumbers: null
                    carrier:
                      name: null
                      carrierCode: null
                      scac: null
                      proNumber: null
                      driverName: null
                      driverPhone: null
                      secondDriverName: null
                      sealNumber: null
                      licensePlate: null
                      tractorNumber: null
                      trailerNumber: null
                      dotNumber: null
                    locations:
                    - chrLocationId: W654321
                      customerLocationId: null
                      type: Drop
                      style: N
                      stopSequenceNumber: 1
                      sequenceNumber: 0
                      name: Test Drop
                      address:
                        addressLine1: 123 Test Drop Street
                        addressLine2: null
                        city: Minneapolis
                        stateProvinceCode: MN
                        postalCode: '32218'
                        country: US
                        latitude: 44.972965
                        longitude: -93.258926
                      pickUpNumber: null
                      deliveryNumber: null
                      locationContact:
                        name: Receiving
                        phoneNumber: (888) 888-8888
                        email: null
                      referenceNumbers:
                      - type: CRID
                        value: Reference 123
                      - type: SREF
                        value: Reference 123
                      appointmentNumber: null
                      scheduledOpenDateTime: null
                      scheduledCloseDateTime: null
                      scheduledEnteredDate: '2022-08-05T19:49:00.000Z'
                      arrivalDateTime: null
                      departureDateTime: null
                      isDropTrailerNeeded: false
                      scheduledWith: null
                      etaDateTime: null
                    - chrLocationId: W123456
                      customerLocationId: null
                      type: Pick
                      style: N
                      stopSequenceNumber: 0
                      sequenceNumber: 1
                      name: Test Pick
                      address:
                        addressLine1: 123 Test Pick Drive
                        addressLine2: null
                        city: Chicago
                        stateProvinceCode: IL
                        postalCode: '60605'
                        country: US
                        latitude: 41.862169
                        longitude: -87.616946
                      pickUpNumber: Reference 123
                      deliveryNumber: null
                      locationContact:
                        name: test
                        phoneNumber: '8888888888'
                        email: test.test@test.com
                      referenceNumbers:
                      - type: CRID
                        value: Reference 123
                      - type: PU
                        value: Reference 123
                      - type: SREF
                        value: Reference 123
                      appointmentNumber: null
                      scheduledOpenDateTime: '2022-08-11T19:00:00.000Z'
                      scheduledCloseDateTime: '2022-08-11T19:00:00.000Z'
                      scheduledEnteredDate: null
                      arrivalDateTime: '2022-08-11T18:49:00.000Z'
                      departureDateTime: '2022-08-11T21:48:00.000Z'
                      isDropTrailerNeeded: false
                      scheduledWith: LoadBuild
                      etaDateTime: null
                    items:
                    - packagingType: PLT
                      description: Widgets
                      productCode: MISC
                      freightClass: null
                      insuranceValue: 99999.99999984796
                      primaryReferenceNumber: null
                      poNumber: '9999999999'
                      skuNumber: null
                      pluNumber: null
                      actualQuantity: 9
                      actualWeight: 40000
                      actualWeightUnitOfMeasure: Pounds
                      actualPallets: null
                      actualVolume: 1500
                      actualVolumeUnitOfMeasure: Cubic Feet
                      actualPackagingLength: null
                      actualPackagingHeight: null
                      actualPackagingWidth: null
                      actualPackagingUnitOfMeasure: Inches
                      referenceNumbers:
                      - type: OrderItemId
                        value: Reference 123
                      associatedStop:
                        pickSequenceNumber: 0
                        dropSequenceNumber: 1
                      expectedPallets: null
                      expectedQuantity: 9
                      expectedWeight: 40000
                      expectedWeightUnitOfMeasure: Standard
                      expectedPackagingLength: null
                      expectedPackagingHeight: null
                      expectedPackagingWidth: null
                      expectedPackagingUnitOfMeasure: Inches
                      expectedVolume: null
                      expectedVolumeUnitOfMeasure: null
                    packages: []
                  time: '2022-08-12T20:50:00.689Z'
                - customer: C8283603
                  eventTime: '2022-08-12T20:49:00.000Z'
                  customerReferenceNumber: Reference 123
                  billToReferenceNumber: Reference 123
                  event:
                    eventType: CARRIER ARRIVED
                    orderDetails:
                    - navisphereTrackingNumber: XM86H2B2RT4
                      navisphereTrackingLink: https://trn-online.chrobinson.com/tracking/#/?trackingNumber=XM86H2B2RT4
                      orderNumber: 123456789
                      customerOrderReferenceNumber: Reference 123
                      referenceNumbers:
                      - type: CITTN
                        value: Reference 123
                      - type: SCAC
                        value: RBTW
                      - type: CRID
                        value: '0'
                      - type: GRGI
                        value: Reference 123
                      - type: MBOL
                        value: Reference 123
                      - type: ORDTRK
                        value: XM86H2B2RT4
                      - type: CON
                        value: Reference 123
                    loadNumber: 987654321
                    carrier:
                      name: Test Carrier
                      carrierCode: T1234567
                      scac: RBTW
                      proNumber: null
                      driverName: null
                      driverPhone: '8888888888'
                      secondDriverName: null
                      sealNumber: null
                      licensePlate: null
                      tractorNumber: '123'
                      trailerNumber: '123'
                      dotNumber: '1234567'
                    location:
                      chrLocationId: W123456
                      customerLocationId: null
                      type: Pick
                      style: N
                      stopSequenceNumber: 0
                      sequenceNumber: 0
                      name: Test Pick
                      address:
                        addressLine1: 123 Test Pick Drive
                        addressLine2: null
                        city: Chicago
                        stateProvinceCode: IL
                        postalCode: '60605'
                        country: US
                        latitude: 41.862169
                        longitude: -87.616946
                      pickUpNumber: null
                      deliveryNumber: null
                      locationContact:
                        name: Receiving Appt
                        phoneNumber: '8888888888'
                        email: null
                      referenceNumbers:
                      - type: CRID
                        value: Reference 123
                      - type: PU
                        value: Reference 123
                      - type: SREF
                        value: Reference 123
                      isOrderStop: true
                    loadStops:
                    - stopType: Pick
                      stopStyle: N
                      stopSequenceNumber: 0
                      warehouseCode: W123456
                    - stopType: Drop
                      stopStyle: N
                      stopSequenceNumber: 1
                      warehouseCode: W543210
                    items:
                    - packagingType: PLT
                      description: Widgets
                      productCode: MISC
                      freightClass: null
                      insuranceValue: 99999.99999984796
                      primaryReferenceNumber: null
                      poNumber: '9999999999'
                      skuNumber: null
                      pluNumber: null
                      actualQuantity: 9
                      actualWeight: 40000
                      actualWeightUnitOfMeasure: Pounds
                      actualPallets: null
                      actualVolume: 3000
                      actualVolumeUnitOfMeasure: Cubic Feet
                      actualPackagingLength: null
                      actualPackagingHeight: null
                      actualPackagingWidth: null
                      actualPackagingUnitOfMeasure: Inches
                      referenceNumbers:
                      - type: OrderItemId
                        value: Reference 123
                      associatedStop:
                        pickSequenceNumber: null
                        dropSequenceNumber: null
                    packages: []
                  time: '2022-08-12T20:48:35.790Z'
                - customer: C8283603
                  eventTime: '2022-08-12T20:14:00.000Z'
                  customerReferenceNumber: Reference 123
                  billToReferenceNumber: Reference 123
                  event:
                    eventType: CARRIER DEPARTED
                    orderDetails:
                    - navisphereTrackingNumber: XM86H2B2RT4
                      navisphereTrackingLink: https://trn-online.chrobinson.com/tracking/#/?trackingNumber=XM86H2B2RT4
                      orderNumber: 123456789
                      customerOrderReferenceNumber: Reference 123
                      referenceNumbers:
                      - type: CITTN
                        value: Reference 123
                      - type: SCAC
                        value: RBTW
                      - type: CRID
                        value: '0'
                      - type: GRGI
                        value: Reference 123
                      - type: MBOL
                        value: Reference 123
                      - type: ORDTRK
                        value: XM86H2B2RT4
                      - type: CON
                        value: Reference 123
                    loadNumber: 987654321
                    carrier:
                      name: Test Carrier
                      carrierCode: T1234567
                      scac: RBTW
                      proNumber: null
                      driverName: Test name
                      driverPhone: '+8888888888'
                      secondDriverName: null
                      sealNumber: null
                      licensePlate: null
                      tractorNumber: Truck 123
                      trailerNumber: '123'
                      dotNumber: '1234567'
                    location:
                      chrLocationId: W123456
                      customerLocationId: null
                      type: Pick
                      style: N
                      stopSequenceNumber: 0
                      sequenceNumber: 2
                      name: Test Pick
                      address:
                        addressLine1: 123 Test Pick Drive
                        addressLine2: null
                        city: Chicago
                        stateProvinceCode: IL
                        postalCode: '60605'
                        country: US
                        latitude: 41.862169
                        longitude: -87.616946
                      pickUpNumber: null
                      deliveryNumber: null
                      locationContact:
                        name: test
                        phoneNumber: '88888888888'
                        email: null
                      referenceNumbers:
                      - type: CRID
                        value: Reference 123
                      - type: PO
                        value: Reference 123
                    items:
                    - packagingType: PLT
                      description: Widgets
                      productCode: MISC
                      freightClass: null
                      insuranceValue: 25000
                      primaryReferenceNumber: null
                      poNumber: '1234567890'
                      skuNumber: '1'
                      pluNumber: null
                      actualQuantity: 224
                      actualWeight: 3096
                      actualWeightUnitOfMeasure: Pounds
                      actualPallets: null
                      actualVolume: 269
                      actualVolumeUnitOfMeasure: Cubic Feet
                      actualPackagingLength: null
                      actualPackagingHeight: null
                      actualPackagingWidth: null
                      actualPackagingUnitOfMeasure: Inches
                      referenceNumbers:
                      - type: OrderItemId
                        value: Reference 123
                      associatedStop:
                        pickSequenceNumber: null
                        dropSequenceNumber: null
                    - packagingType: PLT
                      description: Widgets
                      productCode: MISC
                      freightClass: null
                      insuranceValue: 25000
                      primaryReferenceNumber: null
                      poNumber: '1234567890'
                      skuNumber: '2'
                      pluNumber: null
                      actualQuantity: 592
                      actualWeight: 7488
                      actualWeightUnitOfMeasure: Pounds
                      actualPallets: null
                      actualVolume: 672.9999999998362
                      actualVolumeUnitOfMeasure: Cubic Feet
                      actualPackagingLength: null
                      actualPackagingHeight: null
                      actualPackagingWidth: null
                      actualPackagingUnitOfMeasure: Inches
                      referenceNumbers:
                      - type: OrderItemId
                        value: Reference 123
                      associatedStop:
                        pickSequenceNumber: null
                        dropSequenceNumber: null
                    packages: []
                  time: '2022-08-12T20:14:18.310Z'
                - customer: C8283603
                  eventTime: '2022-08-12T20:51:03.883Z'
                  customerReferenceNumber: Reference 123
                  billToReferenceNumber: Reference 123
                  event:
                    eventType: APPOINTMENT UPDATED
                    orderDetails:
                    - navisphereTrackingNumber: XM86H2B2RT4
                      navisphereTrackingLink: https://trn-online.chrobinson.com/tracking/#/?trackingNumber=XM86H2B2RT4
                      orderNumber: 123456789
                      customerOrderReferenceNumber: Reference 123
                      referenceNumbers:
                      - type: CITTN
                        value: Reference 123
                      - type: SCAC
                        value: RBTW
                      - type: CRID
                        value: '0'
                      - type: GRGI
                        value: Reference 123
                      - type: MBOL
                        value: Reference 123
                      - type: ORDTRK
                        value: XM86H2B2RT4
                      - type: CON
                        value: Reference 123
                    loadNumber: 987654321
                    carrier:
                      name: null
                      carrierCode: null
                      scac: null
                      proNumber: null
                      driverName: null
                      driverPhone: null
                      secondDriverName: null
                      sealNumber: null
                      licensePlate: null
                      tractorNumber: null
                      trailerNumber: null
                      dotNumber: null
                    location:
                      chrLocationId: W123456
                      customerLocationId: null
                      type: Pick
                      style: N
                      stopSequenceNumber: 0
                      sequenceNumber: 1
                      name: Test Pick
                      address:
                        addressLine1: 123 Test Pick Drive
                        addressLine2: null
                        city: Chicago
                        stateProvinceCode: IL
                        postalCode: '60605'
                        country: US
                        latitude: 41.862169
                        longitude: -87.616946
                      pickUpNumber: null
                      deliveryNumber: null
                      locationContact:
                        name: test
                        phoneNumber: '1111111111'
                        email: test@test.com; test@test.com
                      referenceNumbers:
                      - type: CRID
                        value: Reference 123
                      - type: PO
                        value: Reference 123
                      - type: PU
                        value: Reference 123
                      - type: SREF
                        value: Reference 123
                    appointment:
                      scheduledOpenDateTimeUTC: '2022-08-16T16:00:00.000Z'
                      scheduledCloseDateTimeUTC: '2022-08-16T16:00:00.000Z'
                      changeReason: '00'
                      scheduledCompany: test
                      scheduledWithName: test
                  time: '2022-08-12T20:51:10.771Z'
                - customer: C8283603
                  eventTime: '2022-08-12T20:55:22.967Z'
                  customerReferenceNumber: Reference 123
                  billToReferenceNumber: Reference 123
                  event:
                    eventType: IN TRANSIT
                    orderDetails:
                    - navisphereTrackingNumber: XM86H2B2RT4
                      navisphereTrackingLink: https://trn-online.chrobinson.com/tracking/#/?trackingNumber=XM86H2B2RT4
                      orderNumber: 123456789
                      customerOrderReferenceNumber: Reference 123
                      referenceNumbers:
                      - type: CITTN
                        value: Reference 123
                      - type: SCAC
                        value: RBTW
                      - type: CRID
                        value: '0'
                      - type: GRGI
                        value: Reference 123
                      - type: MBOL
                        value: Reference 123
                      - type: ORDTRK
                        value: XM86H2B2RT4
                      - type: CON
                        value: Reference 123
                    loadNumber: 987654321
                    carrier:
                      name: Test Carrier
                      carrierCode: T1234567
                      scac: RBTW
                      proNumber: null
                      driverName: test
                      driverPhone: '+8888888888'
                      secondDriverName: null
                      sealNumber: null
                      licensePlate: null
                      tractorNumber: '123456'
                      trailerNumber: '123456'
                      dotNumber: '123546'
                    location:
                      city: Seward
                      stateProvinceCode: null
                      country: null
                      latitude: 40.82175829999872
                      longitude: -97.0626068
                    deliveryEta: '2022-08-13T15:00:00.000Z'
                    nextStop:
                      eta: '2022-08-15T23:49:00Z'
                      stopId: '1'
                      stopType: D
                      city: TACOMA
                      state: WA
                    loadStops:
                    - stopType: Pick
                      stopStyle: N
                      stopSequenceNumber: 0
                      warehouseCode: W123456
                    - stopType: Drop
                      stopStyle: N
                      stopSequenceNumber: 1
                      warehouseCode: W543210
                    notes: null
                  time: '2022-08-12T20:55:35.315Z'
                - customer: C7471956
                  event:
                    agentReferenceNumber: null
                    airShipment: null
                    consignee:
                      name: Sample Distributors, Inc.
                    customer:
                      name: Example Corporation
                    customerReferenceNumber: PO#PARTS123
                    customs:
                      auCustoms:
                        n10: null
                      nzCustoms:
                        n10: null
                    customsEntry: null
                    estimatedCargoReadyDate:
                      currentValue: '2024-06-10'
                      hasChanged: false
                      previousValue: '2024-06-10'
                    estimatedDeliverByDate:
                      currentValue: '2024-07-10'
                      hasChanged: false
                      previousValue: '2024-07-10'
                    eventType: CARGO DELIVERED
                    freightTerms: Collect
                    incoLocation: SHANGHAI
                    incoTerms: Free On-Board Vessel
                    mode: Ocean
                    oceanShipment:
                      actualVesselArrivalDate:
                        currentValue: '2024-07-01T09:30:00.0000000-07:00'
                        hasChanged: false
                        previousValue: '2024-07-01T09:30:00.0000000-07:00'
                      actualVesselDepartureDate:
                        currentValue: '2024-06-19T14:45:00.0000000+08:00'
                        hasChanged: false
                        previousValue: '2024-06-19T14:45:00.0000000+08:00'
                      containers:
                      - actualDeliveryDate:
                          currentValue: '2024-07-09T13:25:00.0000000-05:00'
                          hasChanged: false
                          previousValue: '2024-07-09T13:25:00.0000000-05:00'
                        actualPickupDate:
                          currentValue: '2024-06-19T10:15:00.0000000+08:00'
                          hasChanged: false
                          previousValue: '2024-06-19T10:15:00.0000000+08:00'
                        containerNumber: MEDU8365429
                        containerType: 20FT
                        emptyPickupDate:
                          currentValue: null
                          hasChanged: false
                          previousValue: null
                        emptyReturnDate:
                          currentValue: '2024-07-12T16:30:00.0000000-07:00'
                          hasChanged: false
                          previousValue: '2024-07-12T16:30:00.0000000-07:00'
                        estimatedDeliveryDate:
                          currentValue: '2024-07-09T11:30:00.0000000-05:00'
                          hasChanged: false
                          previousValue: '2024-07-09T11:30:00.0000000-05:00'
                        estimatedPickupDate:
                          currentValue: '2024-06-17T08:00:00.0000000+08:00'
                          hasChanged: false
                          previousValue: '2024-06-17T08:00:00.0000000+08:00'
                        innerPacks:
                        - unitOfMeasure: ''
                          value: 0
                        isAffectedByEvent: false
                        lastFreeDay:
                          currentValue: null
                          hasChanged: false
                          previousValue: null
                        lastFreeDayForEmptyReturn:
                          currentValue: null
                          hasChanged: false
                          previousValue: null
                        outerPacks:
                        - unitOfMeasure: Package
                          value: 25
                        purchaseOrderNumbers: []
                        requestedDeliveryDate:
                          currentValue: null
                          hasChanged: false
                          previousValue: null
                        requestedPickupDate:
                          currentValue: null
                          hasChanged: false
                          previousValue: null
                        sealNumber: S2457831
                        stops:
                        - actualArrivalDate:
                            currentValue: '2024-06-14T09:30:00.0000000+08:00'
                            hasChanged: false
                            previousValue: '2024-06-14T09:30:00.0000000+08:00'
                          actualDepartureDate:
                            currentValue: '2024-06-19T14:45:00.0000000+08:00'
                            hasChanged: false
                            previousValue: '2024-06-19T14:45:00.0000000+08:00'
                          address:
                            address1: SHANGHAI PORT
                            address2: null
                            city: SHANGHAI
                            country: CN
                            postalCode: '200000'
                            stateProvinceCode: CN
                          estimatedArrivalDate:
                            currentValue: '2024-06-17T08:00:00.0000000+08:00'
                            hasChanged: false
                            previousValue: '2024-06-17T08:00:00.0000000+08:00'
                          locationCode: '57041'
                          name: Port Shanghai
                          sequenceNumber: 0
                          stopType: Origin Port
                          unLocode: CNSHA
                        - actualArrivalDate:
                            currentValue: '2024-07-01T09:30:00.0000000-07:00'
                            hasChanged: false
                            previousValue: '2024-07-01T09:30:00.0000000-07:00'
                          actualDepartureDate:
                            currentValue: '2024-07-01T16:45:00.0000000-07:00'
                            hasChanged: false
                            previousValue: '2024-07-01T16:45:00.0000000-07:00'
                          address:
                            address1: Seattle
                            address2: null
                            city: Seattle
                            country: US
                            postalCode: '98101'
                            stateProvinceCode: WA
                          estimatedArrivalDate:
                            currentValue: '2024-07-01T08:15:00.0000000-07:00'
                            hasChanged: false
                            previousValue: '2024-07-01T08:15:00.0000000-07:00'
                          locationCode: '3592'
                          name: Port of Seattle
                          sequenceNumber: 1
                          stopType: Destination Port
                          unLocode: USSEA
                        - actualArrivalDate:
                            currentValue: '2024-07-02T10:20:00.0000000-07:00'
                            hasChanged: false
                            previousValue: '2024-07-02T10:20:00.0000000-07:00'
                          actualDepartureDate:
                            currentValue: '2024-07-02T18:30:00.0000000-07:00'
                            hasChanged: false
                            previousValue: '2024-07-02T18:30:00.0000000-07:00'
                          address:
                            address1: Seattle
                            address2: null
                            city: SEATTLE
[...]
