openapi: 3.0.0
info:
  version: 2.0.0
  title: A guide to C.H. Robinson's REST APIs
  description: "
    \n# Introduction
    \nWelcome to C.H. Robinson's API reference page!
    \n\nOur modern REST APIs enable partners to leverage the vast C.H. Robinson transportation and supply chain expertise and technology capabilities.
    C.H. Robinson APIs bring everything you love about our business directly into your ERP or TMS system.
    \n### **How we drive customer success:**
    \n* Allow our customers to retrieve real-time quotes, and if desired, turn those quotes into orders.
    \n* Customers can submit, update, and delete orders.
    \n* Provide our customers with real-time order and shipment tracking events.
    \n* Allow customers to retrieve summary and detail invoice data while also providing the physical invoice document.
    \n* Allow customers to retrive any documents needed for their orders and shipments.

    \n\n **For the customers interested in starting the onboarding process please click <a href=\"https://api.navisphere.com/api/B2B/Portal/v1/documents/descriptions/Customer_Integration.docx\" target=\"_blank\">here</a>.**

    \n### **How we drive carrier connectivity:**
    \n* Allow carriers to search the C.H. Robinson available shipment store.
    \n* Allow carriers to make offers on loads from the available shipment store.
    \n* Allow carriers to book loads from the available shipment store when there are load costs attached.
    \n* Allow carriers to provide stop and location updates on the load(s) they are transporting.
    \n* Allow carriers to post relevant documents directly to C.H. Robinson.
    \n* We provide Load Details through a callback upon booking to allow carriers to electronically build the
          load in their TMS platform.

    \n\n **For the carriers interested in starting the onboarding process please click <a href=\"https://developer.chrobinson.com/carrier\" target=\"_blank\">here</a>.**"
servers:
  - url: https://sandbox-api.navisphere.com
    description: Test environment.
  - url: https://api.navisphere.com
    description: Production environment.
security:
  - sandbox: []
tags:
- name: Resources
  description: "<a href=\"https://api.navisphere.com/api/B2B/Portal/v1/documents/customerApiOnboardingCollectionPublic.json\" target=\"_blank\">Public Postman Collection</a> \n\n
    Clicking this link will open an additional tab - select 'save as' from your browser, and import the downloaded file into Postman"
- name: Authentication
  description: "\nC.H. Robinson uses OAuth v2.0 to secure connections to its APIs. oAuth v2 works by delegating user authentication to the service that hosts the user
    account and authorizing third-party applications to access the user account. For a user to authenticate and use any of C.H. Robinson's APIs,
    the user must [generate a token](https://developer.chrobinson.com/api-reference#operation/Generate%20Token).
    \n\n <span style=\"color:red\">**Special Note**</span>
    \n\n <span style=\"color:red\">Generated tokens are valid for 24 hours. Users should only be hitting the C.H. Robinson authentication endpoint once every 24 hours.
    Calling the authentication endpoint multiple times within the same 24 hour period may result in users being subjected to rate limiting.</span>
    \n\nClick the image to open it in a new tab to resize it.\n\n<a href=\"https://api.navisphere.com/api/B2B/Portal/v1/documents/descriptions/Auth_flow.jpeg\"
    target=\"_blank\"><img src=\"https://api.navisphere.com/api/B2B/Portal/v1/documents/descriptions/Auth_flow.jpeg\" alt=\"Authorization Object Model Diagram\"></a>"
- name: Rating
  description: "C.H. Robinson's rating product allows our customers to retrieve contractual or transactional quotes. Customers can generate quotes with nothing more
    than weights and zip codes! However, the more detailed the rate request, the more refined the quote is. C.H. Robinson has taken this functionality a step further and can accommodate our customer's e-commerce platforms
    to be the rating engine they use to give their customers shipping costs. One of the great features of C.H. Robinson's rating API is the ability for customers to turn the received quote into an order.
    \n## Rating and Quote to Order
    \n\nTo maximize the quote to order experience, we require more information than the bare minimum required parameters. Each parameter that has these \"conditional\" requirements
    has been specifically called out in the parameter description.\n See [Order Create With Quote ID](https://developer.chrobinson.com/api-reference#operation/Order%20Create%20with%20Quote%20ID)
    to learn more about the Quote to Order process.
    \n\n #### Notes:
    \n * **Multi-Stop Shipments:** For shipments with more than two stops (that is more than one pick and one drop), the Order
        Create with Quote ID endpoint can receive only a quote ID and no other supplemental shipment data.
    \n * **Incomplete Orders:** Orders created in C.H. Robinson's Navisphere® Order Management system will be marked as incomplete
        if any data fields marked as “required” are not included. Incomplete orders will require manual intervention by C.H. Robinson team members to be processed.

    \n## Rating and Order Create
    \n\nAlternatively, you may also use the rating endpoint to retrieve a quote and use the Order Create method to complete the resulting order tender into C.H. Robinson.
    Please review the
    <a href=\"https://api.navisphere.com/api/B2B/Portal/v1/documents/descriptions/RatingWorkflowOptionsGuide.pdf\" target=\"_blank\">Rating Workflow Options Guide</a>
    to understand the advantages and tradeoffs between the Order Create and Order Create with QuoteID workflows.
    \n## Rating and Transactional Truckload Quotes
    \n\nOur rating API can provide Real-time Transactional truckload quotes. These are also known as Spot-Bid quotes or market rates. Please review the
      <a href=\"https://api.navisphere.com/api/B2B/Portal/v1/documents/descriptions/TransactionalTruckloadQuotingAndEquipmentGuide.pdf\" target=\"_blank\">Transactional Truckload and Equipment Handling Guide</a>
    for more detail.
    \n## Density Based Freight Classification
    \n\nThe NMFTA (National Motor Freight Traffic Association) publishes the NMFC (National Motor Freight Classification) which is a standard for evaluating product classifications for use in transportation.
    There are four transportation characteristics that are used to determine product classifications:
      \n * Density
      \n * Stowability
      \n * Handling
      \n * Liability

   \nIn many instances, all four characteristics hold equal weight in determining the product's classification. However, in some instances, one characteristic can hold more weight than the other.
     For those commodities that use Density as the primary determining factor for freight classification, C.H. Robinson provides a service for retrieving the estimated classification,
     based solely on density, for further use in the actual rate requests."
- name: Orders and Booking
  description: "C.H. Robinson’s Orders and Bookings products are the starting point for all freight execution in Navisphere®.
They provide a unified gateway for customers to submit and manage shipment and booking details—whether leveraging C.H. Robinson’s brokerage services or using Navisphere® for tracking and transportation management."
- name: Events
  description: |
    C.H. Robinson's Events product gives complete, near real-time order and shipment information, including all transportation updates.
    Integrating with C.H. Robinson's Events API give partners near visibility into their supply chain directly to their own TMS or ERP system.
    There are two ways to integrate with C.H. Robinson events: via a callback/webhook (preferred and most real-time) or via a periodic event retrieval (easiest to implement and less real-time).
- name: Visibility
  description: "Navisphere® Vision and Visibility tool is a global visibility technology that allows select customers to view and proactively manage their
    supply chain movements from a single platform. The tool combines real-time order and shipment information with transportation updates and external factors
    that can influence a supply chain, including weather, traffic, and current events to help customers prevent potential disruptions."
- name: Shipments
  description: "C.H. Robinson's Shipments product allows our partner base to access C.H. Robinson's available shipments, send offers on those shipments,
   and book those shipments. Additionally, our partners can update C.H. Robinson on any shipments that C.H. Robinson is responsible for, as well as view status
   of payment."
- name: Financials
  description: "C.H. Robinson's financial product provides customers and carriers insight into their invoicing.
    \n\nCurrently, customers can retrieve their invoice information
    from the Financials product. C.H. Robinson gives customers the ability to retrieve all active invoices in a single call along with the flexibility to retrieve detailed
    information from each invoice if desired.
    \n\n Carries can use C.H. Robinsons Financials product to check the status of payment for invoices they have submitted."
- name: Documents
  description: "C.H. Robinson's Documents product allows our partners to generate, post, and retrieve documents. C.H. Robinson currently offers customers the ability to generate blank
    BOLs and retrieve signed BOLs, PODs, and Lumper receipts. Additionally, carriers can post documents to their shipments."
#- name: Purchase Orders
#  description: "Purchase Order (PO management) is a service that combines reporting capabilities through our single global technology platform, Navisphere®, and operational
#    expertise through skilled people who understand our customers' perspective and the logistics industry at large."
- name: Labels
  description: "A service for generating small parcel shipping labels. An associated C.H. Robinson order is also created to track the package updates through Navisphere®.
    Note: Configuration of your company’s parcel carrier account details within Navisphere® is required as a prerequisite for using this API. Contact your C.H. Robinson or TMC account representative to begin this process."
paths:
 #---Authentication---------------------------------------------------------------------------------------
  /v1/oauth/token:
    post:
      description: Allows partner to retrieve their own auth token.
      operationId: Generate Token
      security: []
      tags:
        - Authentication
      requestBody:
        description: generate auth token
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tokenRequest'
          application/ x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/tokenRequest'
      x-code-samples:
        - lang: Curl
          source: "curl -X POST \\ \n
                   https://sandbox-api.navisphere.com/v1/oauth/token \\ \n
                  -H 'Content-Type: application/json' \\ \n
                  -d '{ \n
                    \"client_id\": \"Your Client ID\", \n
                    \"client_secret\": \"Your Client Secret\", \n
                    \"audience\": \"https://inavisphere.chrobinson.com\", \n
                    \"grant_type\": \"client_credentials\" \n
                  }'"
        - lang: Java
          source: "HttpResponse<String> response = Unirest.post(\"https://sandbox-api.navisphere.com/v1/oauth/token\") \n
                  .header(\"Content-Type\", \"application/json\") \n
                  .body(\"{\n    \"client_id\": \"Your Client ID\",\n    \"client_secret\": \"Your Client Secret\",\n    \"audience\": \"https://inavisphere.chrobinson.com\",\n    \"grant_type\": \"client_credentials\"\n}\") \n
                  .asString();"
        - lang: NodeJS
          source: "
                var request = require(\"request\"); \n\n
                var options = { method: 'POST', \n
                url: 'https://sandbox-api.navisphere.com/v1/oauth/token', \n
                headers: { 'Content-Type': 'application/json' }, \n
                body: { \n
                  \tclient_id: 'Your Client ID', \n
                  \tclient_secret: 'Your Client Secret', \n
                  \taudience: 'https://inavisphere.chrobinson.com', \n
                  \tgrant_type: 'client_credentials' \n
                }, \n
                json: true }; \n\n
                request(options, function (error, response, body) { \n
                  \tif (error) throw new Error(error); \n\n
                  \tconsole.log(body);\n
                });"
        - lang: C#
          source: "
            var client = new RestClient(\"https://sandbox-api.navisphere.com/v1/oauth/token\"); \n
            var request = new RestRequest(Method.POST); \n
            request.AddHeader(\"Content-Type\", \"application/json\"); \n
            request.AddParameter(\"undefined\", \n
             \"{\n    \"client_id\": \"Your Client ID\",\n    \"client_secret\": \"Your Client Secret\",\n    \"audience\": \"https://inavisphere.chrobinson.com\",\n    \"grant_type\": \"client_credentials\"\n}\", ParameterType.RequestBody); \n
            IRestResponse response = client.Execute(request);"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tokenSuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error404'
        '500':
          description: Internal Server Error. Please contact you C.H. Robinson rep.
 #---Rating-----------------------------------------------------------------------------------------------
  /v1/quotes:
    post:
      description: "Allows partner to generate quote from posted shipment information."
      operationId: Rating Request
      tags:
        - Rating
      requestBody:
        description: JSON object of shipment information.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ratingPost'
            examples:
              Payload:
                value:
                  items:
                  - description: widgets
                    freightClass: 400
                    weight: 250
                    weightUnitOfMeasure: Pounds
                    packagingLength: 24
                    packagingWidth: 10
                    packagingHeight: 10
                    packagingUnitOfMeasure: Inches
                    pallets: 1
                    quantity: 1
                    palletSpaces: 1
                    packagingVolume: 3
                    packagingVolumeUnitOfMeasure: CubicFeet
                    density: 25
                    linearSpace: 8
                    insuranceValue: 50000
                    packagingType: BIN
                    productCode: wdgt
                    temperatureType: Dry
                    temperatureUnit: Fahrenheit
                    requiredTemperatureHigh: 85
                    requiredTemperatureLow: 35
                    unitsPerPallet: 36
                    unitWeight: 14
                    unitVolume: 3
                    isStackable: 'true'
                    isOverWeightOverDimensional: 'false'
                    isUsedGood: 'false'
                    isHazardous: 'false'
                    hazardousDescription: Car Battery
                    hazardousEmergencyPhone: '5555555555'
                    nationalMotorFreightClass: '156600'
                    upcNumber: '1234567890'
                    skuNumber: 01234-001-F10-6
                    pluNumber: '4026'
                    pickupSequenceNumber: 1
                    dropSequenceNumber: 2
                    referenceNumbers:
                    - type: PO
                      value: PO12345
                    unNumber: UN2796
                    packagingGroup: I
                    hazmatClassCode: '8'
                  origin:
                    name: Origin Location
                    address1: 14800 Charlson Rd
                    address2: Building 1
                    address3: Room 212
                    city: Eden Prairie
                    stateProvinceCode: MN
                    countryCode: US
                    postalCode: '55347'
                    openDateTime: 2022-01-28T13:00:00.000Z
                    closeDateTime: 2022-01-28T21:00:00.000Z
                    latitude: 31.717096
                    longitude: -99.132553
                    specialRequirement:
                      liftGate: 'false'
                      insidePickup: 'false'
                      residentialNonCommercial: 'false'
                      limitedAccess: 'false'
                      tradeShoworConvention: 'false'
                      constructionSite: 'false'
                      dropOffAtCarrierTerminal: 'false'
                      hasDropTrailer: 'true'
                    isPort: 'false'
                    unLocode: US AC8
                    iata: ACB
                    customerLocationId: '541849'
                    sequenceNumber: 1
                    referenceNumbers:
                    - type: PU
                      value: PickUpNumber1
                  destination:
                    name: Destination Location
                    address1: 800 Washington Avenue North
                    address2: Building 1
                    address3: Suite 550
                    city: Minneapolis
                    stateProvinceCode: MN
                    countryCode: US
                    postalCode: '55401'
                    openDateTime: 2022-01-29T13:00:00.000Z
                    closeDateTime: 2022-01-29T21:00:00.000Z
                    latitude: 44.989386
                    longitude: -93.278626
                    specialRequirement:
                      liftGate: 'false'
                      insidePickup: 'false'
                      insideDelivery: 'false'
                      residentialNonCommercial: 'false'
                      limitedAccess: 'false'
                      tradeShoworConvention: 'false'
                      constructionSite: 'false'
                      dropOffAtCarrierTerminal: 'false'
                      pickupAtCarrierTerminal: 'false'
                      hasDropTrailer: 'true'
                    isPort: 'false'
                    unLocode: US AC8
                    iata: ACB
                    customerLocationId: '948145'
                    sequenceNumber: 3
                    referenceNumbers:
                    - type: DEL
                      value: DeliverNumber1
                  additionalLocations:
                  - name: Additional Location
                    address1: 800 Washington Avenue North
                    address2: Building 1
                    address3: Suite 550
                    city: Minneapolis
                    stateProvinceCode: MN
                    countryCode: US
                    postalCode: '55401'
                    latitude: 44.989386
                    longitude: -93.278626
                    openDateTime: 2022-01-29T13:00:00.000Z
                    closeDateTime: 2022-01-29T21:00:00.000Z
                    specialRequirement:
                      liftGate: 'false'
                      insidePickup: 'false'
                      insideDelivery: 'false'
                      residentialNonCommercial: 'false'
                      limitedAccess: 'false'
                      tradeShoworConvention: 'false'
                      constructionSite: 'false'
                      dropOffAtCarrierTerminal: 'false'
                      pickupAtCarrierTerminal: 'false'
                      dropTrailer: 'false'
                    isPort: 'false'
                    unLocode: US AC8
                    iata: ACB
                    customerLocationId: '948145'
                    sequenceNumber: 2
                    referenceNumbers:
                    - type: DEL
                      value: DeliverNumber1
                  shipDate: 2026-09-05T19:05:18.768Z
                  platform: 5FF4892D-17C4-4D4D-A958-9784D3124
                  transactionId: "1234567899456"
                  customerCode: C8283603
                  transportModes:
                  - mode: LTL
                    equipments:
                    - equipmentType: Van
                      quantity: 1
                  referenceNumbers:
                  - type: "MBOL"
                    value: MBOL12345
                  optionalAccessorials:
                  - EXL
              Minimum:
                value:
                  items:
                  - actualWeight: 40000
                    weightUnit: Pounds
                  origin:
                    countryCode: US
                    postalCode: '55347'
                  destination:
                    countryCode: US
                    postalCode: '33830'
                  shipDate: 2026-09-05T19:05:18.768Z
                  customerCode: C8283603
                  transportModes:
                  - mode: TL
              Minimum for Q2O:
                value:
                  items:
                  - freightClass: 400
                    weight: 250
                    weightUnitOfMeasure: Pounds
                    insuranceValue: 50000
                    packagingCode: BIN
                    productCode: wdgt
                  origin:
                    name: Origin Location
                    address1: 14800 Charlson Rd
                    city: Eden Prairie
                    stateProvinceCode: MN
                    countryCode: US
                    postalCode: '55347'
                  destination:
                    name: Destination Location
                    address1: 800 Washington Avenue North
                    city: Minneapolis
                    stateProvinceCode: MN
                    countryCode: US
                    postalCode: '55401'
                  shipDate: "2026-09-05T19:05:18.768Z"
                  customerCode: "C8283603"
                  transportModes:
                  - mode: LTL
      x-code-samples:
        - lang: Curl
          source: "curl -X POST \\ \n
                  https://sandbox-api.navisphere.com/v1/quotes \\\n
                  -H 'Authorization: Bearer YOUR TOKEN' \\\n
                  -H 'Content-Type: application/json' \\\n
                  -d '{\n
                    \t\"items\": [{ \n
                      \t\t\"description\": \"widgets\",\n
                      \t\t\"freightClass\": 400,\n
                      \t\t\"actualWeight\": 250,\n
                      \t\t\"weightUnit\": \"Pounds\",\n
                      \t\t\"length\": 24,\n
                      \t\t\"width\": 10,\n
                      \t\t\"height\": 10,\n
                      \t\t\"linearUnit\": \"Inches\",\n
                      \t\t\"pallets\": 1,\n
                      \t\t\"pieces\": 1,\n
                      \t\t\"palletSpaces\": 1,\n
                      \t\t\"volume\": 3,\n
                      \t\t\"volumeUnit\": \"CubicFeet\",\n
                      \t\t\"density\": 25,\n
                      \t\t\"linearSpace\": 8,\n
                      \t\t\"declaredValue\": 50000,\n
                      \t\t\"packagingCode\": \"BIN\",\n
                      \t\t\"productCode\": \"wdgt\",\n
                      \t\t\"productName\": \"widgets\",\n
                      \t\t\"temperatureSensitive\": \"Dry\",\n
                      \t\t\"temperatureUnit\": \"Fahrenheit\",\n
                      \t\t\"requiredTemperatureHigh\": 85,\n
                      \t\t\"requiredTemperatureLow\": 35,\n
                      \t\t\"unitsPerPallet\": 36,\n
                      \t\t\"unitWeight\": 14,\n
                      \t\t\"unitVolume\": 3,\n
                      \t\t\"isStackable\": \"true\",\n
                      \t\t\"isOverWeightOverDimensional\": \"false\",\n
                      \t\t\"isUsedGood\": \"false\",\n
                      \t\t\"isHazardous\": \"false\",\n
                      \t\t\"hazardousDescription\": \"Car Battery\",\n
                      \t\t\"hazardousEmergencyPhone\": \"5555555555\",\n
                      \t\t\"nmfc\": \"156600\",\n
                      \t\t\"upc\": \"1234567890\",\n
                      \t\t\"sku\": \"01234-001-F10-6\",\n
                      \t\t\"plu\": \"4026\",\n
                      \t\t\"referenceNumbers\": [{ \n
                              \t\t\t\"type\": \"PO\",\n
                              \t\t\t\"value\": \"PO12345\"\n
                          \t\t}],\n
                      \t\t\"unNumber\": \"UN2796\",\n
                      \t\t\"packagingGroup\": \"I\",\n
                      \t\t\"hazmatClass\": \"8\"\n
                    \t}],\n
                    \t\"origin\": { \n
                      \t\t\"locationName\": \"Origin Location\",\n
                      \t\t\"address1\": \"14800 Charlson Rd\",\n
                      \t\t\"address2\": \"Building 1\",\n
                      \t\t\"address3\": \"Room 212\",\n
                      \t\t\"city\": \"Eden Prairie\",\n
                      \t\t\"stateProvinceCode\": \"MN\",\n
                      \t\t\"countryCode\": \"US\",\n
                      \t\t\"postalCode\": \"55347\",\n
                      \t\t\"latitude\": 31.717096,\n
                      \t\t\"longitude\": -99.132553,\n
                      \t\t\"specialRequirement\": { \n
                          \t\t\t\"liftGate\": \"false\",\n
                          \t\t\t\"insidePickup\": \"false\",\n
                          \t\t\t\"insideDelivery\": \"false\",\n
                          \t\t\t\"residentialNonCommercial\": \"false\",\n
                          \t\t\t\"limitedAccess\": \"false\",\n
                          \t\t\t\"tradeShoworConvention\": \"false\",\n
                          \t\t\t\"constructionSite\": \"false\",\n
                          \t\t\t\"dropOffAtCarrierTerminal\": \"false\",\n
                          \t\t\t\"pickupAtCarrierTerminal\": \"false\"
                      \t\t},\n
                      \t\t\"isPort\": \"false\",\n
                      \t\t\"unLocode\": \"US AC8\",\n
                      \t\t\"iata\": \"ACB\",\n
                      \t\t\"customerLocationId\": \"W541849\",\n
                      \t\t\"referenceNumbers\": [{\n
                        \t\t\t\"type\": \"PU\",\n
                        \t\t\t\"value\": \"PickUpNumber1\"
                      \t\t}]\n
                  \t},\n
                  \t\"destination\": {\n
                      \t\t\"locationName\": \"Destination Location\",\n
                      \t\t\"address1\": \"800 Washington Avenue North\",\n
                      \t\t\"address2\": \"Building 1\",\n
                      \t\t\"address3\": \"Suite 550\",\n
                      \t\t\"city\": \"Minneapolis\",\n
                      \t\t\"stateProvinceCode\": \"MN\",\n
                      \t\t\"countryCode\": \"US\",\n
                      \t\t\"postalCode\": \"55401\",\n
                      \t\t\"latitude\": 44.989386,\n
                      \t\t\"longitude\": -93.278626,\n
                      \t\t\"specialRequirement\": {\n
                          \t\t\t\"liftGate\": \"false\",\n
                          \t\t\t\"insidePickup\": \"false\",\n
                          \t\t\t\"insideDelivery\": \"false\",\n
                          \t\t\t\"residentialNonCommercial\": \"false\",\n
                          \t\t\t\"limitedAccess\": \"false\",\n
                          \t\t\t\"tradeShoworConvention\": \"false\",\n
                          \t\t\t\"constructionSite\": \"false\",\n
                          \t\t\t\"dropOffAtCarrierTerminal\": \"false\",\n
                          \t\t\t\"pickupAtCarrierTerminal\": \"false\"\n
                      \t\t},\n
                      \t\t\"isPort\": \"false\",\n
                      \t\t\"unLocode\": \"US AC8\",\n
                      \t\t\"iata\": \"ACB\",\n
                      \t\t\"customerLocationId\": \"W541849\",\n
                      \t\t\"referenceNumbers\": [{\n
                        \t\t\t\"type\": \"DEL\",\n
                        \t\t\t\"value\": \"DeliverNumber1\"\n
                      \t\t}]\n
                  \t},\n
                  \t\"shipDate\": \"2019-03-20T20:30:00.0000000Z\",\n
                  \t\"customerCode\": \"C8283603\",\n
                  \t\"declaredValue\": 50000,\n
                  \t\"transportModes\": [{ \n
                    \t\t\"mode\": \"LTL\",\n
                    \t\t\"equipments\": [{\n
                      \t\t\t\"equipmentType\": \"Van\",\n
                      \t\t\t\"quantity\": 1\n
                    \t\t}]\n
                  \t}],\n
                  \t\"referenceNumbers\": [{\n
                    \t\t\"type\": \"MBOL\",\n
                    \t\t\"value\": \"MBOL12345\"\n
                  \t}],\n
                  \t\"optionalAccessorials\": [\"EXL\"] \n
              \t}'"
        - lang: Java
          source: "HttpResponse<String> response = Unirest.post(\"https://sandbox-api.navisphere.com/v1/quotes\")
                .header(\"Content-Type\", \"application/json\")\n
                .header(\"Authorization\", \"Bearer YOUR TOKEN\")\n
                .body(\"{\n    \"items\": [\n        {\n            \"description\": \"widgets\",\n            \"freightClass\": 400,\n            \"actualWeight\": 250,\n            \"weightUnit\": \"Pounds\",\n            \"length\": 24,\n            \"width\": 10,\n            \"height\": 10,\n            \"linearUnit\": \"Inches\",\n            \"pallets\": 1,\n            \"pieces\": 1,\n            \"palletSpaces\": 1,\n            \"volume\": 3,\n            \"volumeUnit\": \"CubicFeet\",\n            \"density\": 25,\n            \"linearSpace\": 8,\n            \"declaredValue\": 50000,\n            \"packagingCode\": \"BIN\",\n            \"productCode\": \"wdgt\",\n            \"productName\": \"widgets\",\n            \"temperatureSensitive\": \"Dry\",\n            \"temperatureUnit\": \"Fahrenheit\",\n            \"requiredTemperatureHigh\": 85,\n            \"requiredTemperatureLow\": 35,\n            \"unitsPerPallet\": 36,\n            \"unitWeight\": 14,\n            \"unitVolume\": 3,\n            \"isStackable\": \"true\",\n            \"isOverWeightOverDimensional\": \"false\",\n            \"isUsedGood\": \"false\",\n            \"isHazardous\": \"false\",\n            \"hazardousDescription\": \"Car Battery\",\n            \"hazardousEmergencyPhone\": \"5555555555\",\n            \"nmfc\": \"156600\",\n            \"upc\": \"1234567890\",\n            \"sku\": \"01234-001-F10-6\",\n            \"plu\": \"4026\",\n            \"referenceNumbers\": [\n                {\n                    \"type\": \"PO\",\n                    \"value\": \"PO12345\"\n                }\n            ]\n        }\n    ],\n    \"origin\": {\n        \"locationName\": \"Origin Location\",\n        \"address1\": \"14800 Charlson Rd\",\n        \"address2\": \"Building 1\",\n        \"address3\": \"Room 212\",\n        \"city\": \"Eden Prairie\",\n        \"stateProvinceCode\": \"MN\",\n        \"countryCode\": \"US\",\n        \"postalCode\": \"55347\",\n        \"latitude\": 31.717096,\n        \"longitude\": -99.132553,\n        \"specialRequirement\": {\n            \"liftGate\": \"false\",\n            \"insidePickup\": \"false\",\n            \"insideDelivery\": \"false\",\n            \"residentialNonCommercial\": \"false\",\n            \"limitedAccess\": \"false\",\n            \"tradeShoworConvention\": \"false\",\n            \"constructionSite\": \"false\",\n            \"dropOffAtCarrierTerminal\": \"false\",\n            \"pickupAtCarrierTerminal\": \"false\"\n        },\n        \"isPort\": \"false\",\n        \"unLocode\": \"US AC8\",\n        \"iata\": \"ACB\",\n        \"customerLocationId\": \"W541849\",\n        \"referenceNumbers\": [\n            {\n                \"type\": \"PU\",\n                \"value\": \"PickUpNumber1\"\n            }\n        ]\n    },\n    \"destination\": {\n        \"locationName\": \"Destination Location\",\n        \"address1\": \"800 Washington Avenue North\",\n        \"address2\": \"Building 1\",\n        \"address3\": \"Suite 550\",\n        \"city\": \"Minneapolis\",\n        \"stateProvinceCode\": \"MN\",\n        \"countryCode\": \"US\",\n        \"postalCode\": \"55401\",\n        \"latitude\": 44.989386,\n        \"longitude\": -93.278626,\n        \"specialRequirement\": {\n            \"liftGate\": \"false\",\n            \"insidePickup\": \"false\",\n            \"insideDelivery\": \"false\",\n            \"residentialNonCommercial\": \"false\",\n            \"limitedAccess\": \"false\",\n            \"tradeShoworConvention\": \"false\",\n            \"constructionSite\": \"false\",\n            \"dropOffAtCarrierTerminal\": \"false\",\n            \"pickupAtCarrierTerminal\": \"false\"\n        },\n        \"isPort\": \"false\",\n        \"unLocode\": \"US AC8\",\n        \"iata\": \"ACB\",\n        \"customerLocationId\": \"W541849\",\n        \"referenceNumbers\": [\n            {\n                \"type\": \"DEL\",\n                \"value\": \"DeliverNumber1\"\n            }\n        ]\n    },\n    \"shipDate\": \"2019-03-20T20:30:00.0000000Z\",\n    \"customerCode\": \"C8283603\",\n    \"declaredValue\": 50000,\n    \"transportModes\": [\n        {\n            \"mode\": \"LTL\",\n            \"equipments\": [\n                {\n                    \"equipmentType\": \"Van\",\n                    \"quantity\": 1\n                }\n            ]\n        }\n    ],\n    \"referenceNumbers\": [\n        {\n            \"type\": \"MBOL\",\n            \"value\": \"MBOL12345\"\n        }\n    ],\n    \"optionalAccessorials\": [\n        \"EXL\"\n    ]\n}\")\n
                .asString();"
        - lang: NodeJS
          source: "
                  var request = require(\"request\"); \n\n
                  var options = { method: 'POST', \n
                    url: 'https://sandbox-api.navisphere.com/v1/quotes', \n
                    headers: \n
                    { Authorization: 'Bearer YOUR TOKEN', \n
                      'Content-Type': 'application/json' },\n
                    body: { \n
                       \titems: [ { \n
                            \t\tdescription: 'widgets',\n
                            \t\tfreightClass: 400,\n
                            \t\tweight: 250,\n
                            \t\tweightUnitOfMeasure: 'Pounds',\n
                            \t\tpackagingLength: 24,\n
                            \t\tpackagingWidth: 10,\n
                            \t\tpackagingHeight: 10,\n
                            \t\tpackagingUnitOfMeasure: 'Inches',\n
                            \t\tpallets: 1,\n
                            \t\tquantity: 1,\n
                            \t\tpalletSpaces: 1,\n
                            \t\tpackagingVolume: 3,\n
                            \t\tpackagingVolumeUnitOfMeasure: 'CubicFeet',\n
                            \t\tdensity: 25,\n
                            \t\tlinearSpace: 8,\n
                            \t\tinsuranceValue: 50000,\n
                            \t\tpackagingCode: 'BIN',\n
                            \t\tproductCode: 'wdgt',\n
                            \t\ttemperatureType: 'Dry',\n
                            \t\ttemperatureUnit: 'Fahrenheit',\n
                            \t\trequiredTemperatureHigh: 85,\n
                            \t\trequiredTemperatureLow: 35,\n
                            \t\tunitsPerPallet: 36,\n
                            \t\tunitWeight: 14,\n
                            \t\tunitVolume: 3,\n
                            \t\tisStackable: 'true',\n
                            \t\tisOverWeightOverDimensional: 'false',\n
                            \t\tisUsedGood: 'false',\n
                            \t\tisHazardous: 'false',\n
                            \t\thazardousDescription: 'Car Battery',\n
                            \t\thazardousEmergencyPhone: '5555555555',\n
                            \t\tnationalMotorFreightClass: '156600',\n
                            \t\tupcNumber: '1234567890',\n
                            \t\tskuNumber: '01234-001-F10-6',\n
                            \t\tpluNumber: '4026',\n
                            \t\treferenceNumbers: [ { \n
                              \t\t\ttype: 'PO',\n
                              \t\t\tvalue: 'PO12345' \n
                            \t\t} ], \n
                            \t\tunNumber: 'UN2796',\n
                            \t\tpackagingGroup: 'I',\n
                            \t\thazmatClass: '8'\n
                      \t} ],\n
                      \torigin: {\n
                          \t\tname: 'Origin Location',\n
                          \t\taddress1: '14800 Charlson Rd',\n
                          \t\taddress2: 'Building 1',\n
                          \t\taddress3: 'Room 212',\n
                          \t\tcity: 'Eden Prairie',\n
                          \t\tstateProvinceCode: 'MN',\n
                          \t\tcountryCode: 'US',\n
                          \t\tpostalCode: '55347',\n
                          \t\tlatitude: 31.717096,\n
                          \t\tlongitude: -99.132553,\n
                          \t\tspecialRequirement: { \n
                            \t\t\tliftGate: 'false',\n
                            \t\t\tinsidePickup: 'false',\n
                            \t\t\tinsideDelivery: 'false',\n
                            \t\t\tresidentialNonCommercial: 'false',\n
                            \t\t\tlimitedAccess: 'false',\n
                            \t\t\ttradeShoworConvention: 'false',\n
                            \t\t\tconstructionSite: 'false',\n
                            \t\t\tdropOffAtCarrierTerminal: 'false',\n
                            \t\t\tpickupAtCarrierTerminal: 'false' \n
                          \t\t},\n
                          \t\tisPort: 'false',\n
                          \t\tunLocode: 'US AC8',\n
                          \t\tiata: 'ACB',\n
                          \t\tcustomerLocationId: 'W541849',\n
                          \t\treferenceNumbers: [ {\n
                            \t\t\ttype: 'PU',\n
                            \t\t\tvalue: 'PickUpNumber1'\n
                          \t\t} ] \n
                      \t},\n
                      \tdestination:{\n
                          \t\tname: 'Destination Location',\n
                          \t\taddress1: '800 Washington Avenue North',\n
                          \t\taddress2: 'Building 1',\n
                          \t\taddress3: 'Suite 550',\n
                          \t\tcity: 'Minneapolis',\n
                          \t\tstateProvinceCode: 'MN',\n
                          \t\tcountryCode: 'US',\n
                          \t\tpostalCode: '55401',\n
                          \t\tlatitude: 44.989386,\n
                          \t\tlongitude: -93.278626,\n
                          \t\tspecialRequirement: {\n
                            \t\t\tliftGate: 'false',\n
                            \t\t\tinsidePickup: 'false',\n
                            \t\t\tinsideDelivery: 'false',\n
                            \t\t\tresidentialNonCommercial: 'false',\n
                            \t\t\tlimitedAccess: 'false',\n
                            \t\t\ttradeShoworConvention: 'false',\n
                            \t\t\tconstructionSite: 'false',\n
                            \t\t\tdropOffAtCarrierTerminal: 'false',\n
                            \t\t\tpickupAtCarrierTerminal: 'false'\n
                          \t\t},\n
                          \t\tisPort: 'false',\n
                          \t\tunLocode: 'US AC8',\n
                          \t\tiata: 'ACB',\n
                          \t\tcustomerLocationId: 'W541849',\n
                          \t\treferenceNumbers: [ {\n
                            \t\t\ttype: 'DEL',\n
                            \t\t\tvalue: 'DeliverNumber1' \n
                          \t\t} ] \n
                      \t},\n
                      \tshipDate: '2019-03-20T20:30:00.0000000Z',\n
                      \tcustomerCode: 'C8283603',\n
                      \tdeclaredValue: 50000,\n
                      \ttransportModes:[ { \n
                        \t\tmode: 'LTL',\n
                        \t\tequipments: [ { \n
                          \t\t\tequipmentType: 'Van',\n
                          \t\t\tquantity: 1 \n
                        \t\t} ] \n
                      \t} ],\n
                      \treferenceNumbers: [ { \n
                        \t\ttype: 'MBOL',\n
                        \t\tvalue: 'MBOL12345'\n
                      \t} ],\n
                      \toptionalAccessorials: [ 'EXL' ] },\n
                    \tjson: true };\n\n

                  request(options, function (error, response, body) {\n
                    \tif (error) throw new Error(error);\n\n
                    \tconsole.log(body);\n
                  });"
        - lang: C#
          source: "
            var client = new RestClient(\"https://sandbox-api.navisphere.com/v1/quotes\");\n
            var request = new RestRequest(Method.POST)\n
            request.AddHeader(\"Authorization\", \"Bearer YOUR TOKEN\");\n
            request.AddHeader(\"Content-Type\", \"application/json\");\n
            request.AddParameter(\"undefined\", \"{\n    \"items\": [\n        {\n            \"description\": \"widgets\",\n            \"freightClass\": 400,\n            \"actualWeight\": 250,\n            \"weightUnit\": \"Pounds\",\n            \"length\": 24,\n            \"width\": 10,\n            \"height\": 10,\n            \"linearUnit\": \"Inches\",\n            \"pallets\": 1,\n            \"pieces\": 1,\n            \"palletSpaces\": 1,\n            \"volume\": 3,\n            \"volumeUnit\": \"CubicFeet\",\n            \"density\": 25,\n            \"linearSpace\": 8,\n            \"declaredValue\": 50000,\n            \"packagingCode\": \"BIN\",\n            \"productCode\": \"wdgt\",\n            \"productName\": \"widgets\",\n            \"temperatureSensitive\": \"Dry\",\n            \"temperatureUnit\": \"Fahrenheit\",\n            \"requiredTemperatureHigh\": 85,\n            \"requiredTemperatureLow\": 35,\n            \"unitsPerPallet\": 36,\n            \"unitWeight\": 14,\n            \"unitVolume\": 3,\n            \"isStackable\": \"true\",\n            \"isOverWeightOverDimensional\": \"false\",\n            \"isUsedGood\": \"false\",\n            \"isHazardous\": \"false\",\n            \"hazardousDescription\": \"Car Battery\",\n            \"hazardousEmergencyPhone\": \"5555555555\",\n            \"nmfc\": \"156600\",\n            \"upc\": \"1234567890\",\n            \"sku\": \"01234-001-F10-6\",\n            \"plu\": \"4026\",\n            \"referenceNumbers\": [\n                {\n                    \"type\": \"PO\",\n                    \"value\": \"PO12345\"\n                }\n            ],\n            \"unNumber\": \"UN2796\",\n            \"packagingGroup\": \"I\",\n            \"hazmatClass\": \"8\"\n        }\n    ],\n    \"origin\": {\n        \"locationName\": \"Origin Location\",\n        \"address1\": \"14800 Charlson Rd\",\n        \"address2\": \"Building 1\",\n        \"address3\": \"Room 212\",\n        \"city\": \"Eden Prairie\",\n        \"stateProvinceCode\": \"MN\",\n        \"countryCode\": \"US\",\n        \"postalCode\": \"55347\",\n        \"latitude\": 31.717096,\n        \"longitude\": -99.132553,\n        \"specialRequirement\": {\n            \"liftGate\": \"false\",\n            \"insidePickup\": \"false\",\n            \"insideDelivery\": \"false\",\n            \"residentialNonCommercial\": \"false\",\n            \"limitedAccess\": \"false\",\n            \"tradeShoworConvention\": \"false\",\n            \"constructionSite\": \"false\",\n            \"dropOffAtCarrierTerminal\": \"false\",\n            \"pickupAtCarrierTerminal\": \"false\"\n        },\n        \"isPort\": \"false\",\n        \"unLocode\": \"US AC8\",\n        \"iata\": \"ACB\",\n        \"customerLocationId\": \"W541849\",\n        \"referenceNumbers\": [\n            {\n                \"type\": \"PU\",\n                \"value\": \"PickUpNumber1\"\n            }\n        ]\n    },\n    \"destination\": {\n        \"locationName\": \"Destination Location\",\n        \"address1\": \"800 Washington Avenue North\",\n        \"address2\": \"Building 1\",\n        \"address3\": \"Suite 550\",\n        \"city\": \"Minneapolis\",\n        \"stateProvinceCode\": \"MN\",\n        \"countryCode\": \"US\",\n        \"postalCode\": \"55401\",\n        \"latitude\": 44.989386,\n        \"longitude\": -93.278626,\n        \"specialRequirement\": {\n            \"liftGate\": \"false\",\n            \"insidePickup\": \"false\",\n            \"insideDelivery\": \"false\",\n            \"residentialNonCommercial\": \"false\",\n            \"limitedAccess\": \"false\",\n            \"tradeShoworConvention\": \"false\",\n            \"constructionSite\": \"false\",\n            \"dropOffAtCarrierTerminal\": \"false\",\n            \"pickupAtCarrierTerminal\": \"false\"\n        },\n        \"isPort\": \"false\",\n        \"unLocode\": \"US AC8\",\n        \"iata\": \"ACB\",\n        \"customerLocationId\": \"W541849\",\n        \"referenceNumbers\": [\n            {\n                \"type\": \"DEL\",\n                \"value\": \"DeliverNumber1\"\n            }\n        ]\n    },\n    \"shipDate\": \"2019-03-20T20:30:00.0000000Z\",\n    \"customerCode\": \"C8283603\",\n    \"declaredValue\": 50000,\n    \"transportModes\": [\n        {\n            \"mode\": \"LTL\",\n            \"equipments\": [\n                {\n                    \"equipmentType\": \"Van\",\n                    \"quantity\": 1\n                }\n            ]\n        }\n    ],\n    \"referenceNumbers\": [\n        {\n            \"type\": \"MBOL\",\n            \"value\": \"MBOL12345\"\n        }\n    ],\n    \"optionalAccessorials\": [\n        \"EXL\"\n    ]\n}\", ParameterType.RequestBody);\n
            IRestResponse response = client.Execute(request);"
      responses:
        201:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quoteSummaries'
              examples:
                ContractualQuote:
                  value:
                    quoteSummaries:
                    - quoteId: 319782509
                      customer: {}
                      totalCharge: 622.87
                      totalFreightCharge: 616.71
                      totalAccessorialCharge: 6.17
                      transit:
                        minimumTransitDays: 1
                        maximumTransitDays: 2
                      rates:
                      - rateId: 2962165757
                        totalRate: 6.17
                        unitRate: 6.17
                        quantity: 616.71
                        rateCode: '405'
                        rateCodeValue: Fuel Surcharge
                        currencyCode: USD
                        isOptional: false
                      - rateId: 2962165758
                        totalRate: 616.71
                        unitRate: 616.71
                        quantity: 1
                        rateCode: '400'
                        rateCodeValue: Line Haul
                        currencyCode: USD
                        isOptional: false
                      transportModeType: LTL
                      equipmentType: Van
                      quoteSource: MarketRate
                CarrierSelectQuote:
                  value:
                    quoteSummaries:
                    - quoteId: 399662687
                      carrier:
                        carrierCode: T5302800
                        carrierName: Forward Air, Inc.
                        scac: FWDA
                      totalCharge: 138.45
                      totalFreightCharge: 114.94
                      totalAccessorialCharge: 23.51
                      transit:
                        minimumTransitDays: 1
                        originService: Direct
                        destinationService: Direct
                      rates:
                      - rateId: 3738410707
                        totalRate: 114.94
                        unitRate: 114.94
                        quantity: 1
                        rateCode: '400'
                        rateCodeValue: Line Haul
                        currencyCode: USD
                        isOptional: false
                      - rateId: 3738410707
                        totalRate: 23.51
                        unitRate: 23.51
                        quantity: 1
                        rateCode: '405'
                        rateCodeValue: Fuel Surcharge
                        currencyCode: USD
                        isOptional: false
                      transportModeType: LTL
                      equipmentType: Van
                      quoteSource: MarketRate
                    - quoteId: 399662689
                      carrier:
                        carrierCode: T11765
                        carrierName: Averitt Express
                        scac: AVRT
                      totalCharge: 165.64
                      totalFreightCharge: 139.04
                      totalAccessorialCharge: 26.6
                      transit:
                        minimumTransitDays: 1
                        originService: Direct
                        destinationService: Direct
                      rates:
                      - rateId: 3738410708
                        totalRate: 139.04
                        unitRate: 139.04
                        quantity: 1
                        rateCode: '400'
                        rateCodeValue: Line Haul
                        currencyCode: USD
                        isOptional: false
                      - rateId: 3738410708
                        totalRate: 26.6
                        unitRate: 26.6
                        quantity: 1
                        rateCode: '405'
                        rateCodeValue: Fuel Surcharge
                        currencyCode: USD
                        isOptional: false
                      transportModeType: LTL
                      equipmentType: Van
                      quoteSource: MarketRate
                    - quoteId: 399662690
                      carrier:
                        carrierCode: T2080614
                        carrierName: UPS Freight
                        scac: UPGF
                      totalCharge: 179.44
                      totalFreightCharge: 157.6
                      totalAccessorialCharge: 21.84
                      transit:
                        minimumTransitDays: 1
                        originService: Direct
                        destinationService: Direct
                      rates:
                      - rateId: 3738410709
                        totalRate: 157.6
                        unitRate: 157.6
                        quantity: 1
                        rateCode: '400'
                        rateCodeValue: Line Haul
                        currencyCode: USD
                        isOptional: false
                      - rateId: 3738410709
                        totalRate: 21.84
                        unitRate: 21.84
                        quantity: 1
                        rateCode: '405'
                        rateCodeValue: Fuel Surcharge
                        currencyCode: USD
                        isOptional: false
                      transportModeType: LTL
                      equipmentType: Van
                      quoteSource: MarketRate
                    - quoteId: 399662685
                      carrier:
                        carrierCode: T3915600
                        carrierName: US Special Delivery
                        scac: UPPN
                      totalCharge: 100.85
                      totalFreightCharge: 87.35
                      totalAccessorialCharge: 13.5
                      transit:
                        minimumTransitDays: 1
                        originService: Direct
                        destinationService: Direct
                      rates:
                      - rateId: 3738410710
                        totalRate: 87.35
                        unitRate: 87.35
                        quantity: 1
                        rateCode: '400'
                        rateCodeValue: Line Haul
                        currencyCode: USD
                        isOptional: false
                      - rateId: 3738410710
                        totalRate: 13.5
                        unitRate: 13.5
                        quantity: 1
                        rateCode: '405'
                        rateCodeValue: Fuel Surcharge
                        currencyCode: USD
                        isOptional: false
                      transportModeType: LTL
                      equipmentType: Van
                      quoteSource: MarketRate
                    - quoteId: 399662686
                      carrier:
                        carrierCode: T6282
                        carrierName: N and M Transfer
                        scac: NMTF
                      totalCharge: 123.75
                      totalFreightCharge: 106.41
                      totalAccessorialCharge: 17.34
                      transit:
                        minimumTransitDays: 1
                        originService: Direct
                        destinationService: Direct
                      rates:
                      - rateId: 3738410711
                        totalRate: 106.41
                        unitRate: 106.41
                        quantity: 1
                        rateCode: '400'
                        rateCodeValue: Line Haul
                        currencyCode: USD
                        isOptional: false
                      - rateId: 3738410711
                        totalRate: 17.34
                        unitRate: 17.34
                        quantity: 1
                        rateCode: '405'
                        rateCodeValue: Fuel Surcharge
                        currencyCode: USD
                        isOptional: false
                      transportModeType: LTL
                      equipmentType: Van
                      quoteSource: MarketRate
                    - quoteId: 399662688
                      carrier:
                        carrierCode: T9715
                        carrierName: Estes Express Lines
                        scac: EXLA
                      totalCharge: 158.01
                      totalFreightCharge: 136.86
                      totalAccessorialCharge: 21.15
                      transit:
                        minimumTransitDays: 1
                        originService: Direct
                        destinationService: Direct
                      rates:
                      - rateId: 3738410712
                        totalRate: 136.86
                        unitRate: 136.86
                        quantity: 1
                        rateCode: '400'
                        rateCodeValue: Line Haul
                        currencyCode: USD
                        isOptional: false
                      - rateId: 3738410712
                        totalRate: 21.15
                        unitRate: 21.15
                        quantity: 1
                        rateCode: '405'
                        rateCodeValue: Fuel Surcharge
                        currencyCode: USD
                        isOptional: false
                      transportModeType: LTL
                      equipmentType: Van
                      quoteSource: MarketRate
                    - quoteId: 399662691
                      carrier:
                        carrierCode: T102231
                        carrierName: Dohrn Transfer Company
                        scac: DHRN
                      totalCharge: 142.88
                      totalFreightCharge: 123.76
                      totalAccessorialCharge: 19.12
                      transit:
                        minimumTransitDays: 1
                        originService: Direct
                        destinationService: Direct
                      rates:
                      - rateId: 3738410713
                        totalRate: 123.76
                        unitRate: 123.76
                        quantity: 1
                        rateCode: '400'
                        rateCodeValue: Line Haul
                        currencyCode: USD
                        isOptional: false
                      - rateId: 3738410713
                        totalRate: 19.12
                        unitRate: 19.12
                        quantity: 1
                        rateCode: '405'
                        rateCodeValue: Fuel Surcharge
                        currencyCode: USD
                        isOptional: false
                      transportModeType: LTL
                      equipmentType: Van
                      quoteSource: MarketRate
                    - quoteId: 399662696
                      carrier:
                        carrierCode: T45438
                        carrierName: Pitt Ohio Express
                        scac: PITD
                      totalCharge: 160.74
                      totalFreightCharge: 149.69
                      totalAccessorialCharge: 11.05
                      transit:
                        minimumTransitDays: 1
                        originService: Direct
                        destinationService: Direct
                      rates:
                      - rateId: 3738410714
                        totalRate: 149.69
                        unitRate: 149.69
                        quantity: 1
                        rateCode: '400'
                        rateCodeValue: Line Haul
                        currencyCode: USD
                        isOptional: false
                      - rateId: 3738410714
                        totalRate: 11.05
                        unitRate: 11.05
                        quantity: 1
                        rateCode: '405'
                        rateCodeValue: Fuel Surcharge
                        currencyCode: USD
                        isOptional: false
                      transportModeType: LTL
                      equipmentType: Van
                      quoteSource: MarketRate
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
              example:
                - message: '"referenceNumber" is not allowed'
                  path:
                  - referenceNumber
                  type: object.allowUnknown
                  context:
                    child: referenceNumber
                    value:
                    - type: MBOL
                      value: MBOL12345
                    key: referenceNumber
                    label: referenceNumber
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/error401'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error403'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error404'
        500:
          description: Internal Server Error. Please contact your C.H. Robinson Rep.
  /v1/quotes/freight-class-estimate:
    post:
      description: "Allows partner to retrieve the estimated classification, based solely on density, for further use in the actual rate requests."
      operationId: Estimating Freight Class
      tags:
        - Rating
      requestBody:
        description: JSON object of shipment information.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/freightClassEstimate'
            examples:
              Payload:
                value:
                  length: 10
                  width: 10
                  height: 10
                  linearUnit: "Inches"
                  weight: 100
                  weightUnit: "Pounds"
                  originCountryCode: "US"
                  destinationCountryCode: "US"
                  customerCode: C8283603
                  quantity: 10
                  shipmentDate: 2026-09-05T19:05:18.768Z
                  totalWeight: 1000
      responses:
        201:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/freightClassEstimateResponse'
              examples:
                FreightClassResponse:
                  value:
                    estimatedFreightClassByDensityOnly: 500
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400'
              example:
                - message: '"length" is required'
                  path:
                  - length
                  type: any.required
                  context:
                    label: length
                    key: length
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/error401'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error403'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error404'
        500:
          description: Internal Server Error. Please contact your C.H. Robinson Rep.
 #---Orders-----------------------------------------------------------------------------------------------
  /v1/orders:
    post:
      description: Allows partner to create an order in C.H. Robinson's Navisphere® Order Management system.
      operationId: Order Create
      tags:
        - Orders and Booking
      requestBody:
        description: JSON object of shipment information.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order'
            examples:
              Payload:
                value:
                  customers:
                  - customerCode: "C8283603"
                    contacts:
                    - name: Customer One
                      type: Contact
                      companyName: Customer One Company
                      contactMethods:
                      - method: Phone
                        value: '5554678415'
                    referenceNumbers:
                    - type: MBOL
                      value: "SIMPMBOL968874"
                  billTos:
                  - customerCode: "C8283603"
                    charges:
                    - rate: 0.45
                      rateCode: '400'
                      quantity: 147
                      alternateDescription: Fuel Surcharge
                    currencyCode: USD
                    contacts:
                    - name: Customer One
                      type: Contact
                      companyName: Customer One Company
                      contactMethods:
                      - method: Phone
                        value: '5554678415'
                    referenceNumbers:
                    - type: SHID
                      value: "SIMPSHID968874"
                  services:
                  - dateCalculationRule: promisedDeliveryDate
                    serviceLevel: S
                    sellMode: LTL
                    suggestedScac: '4695'
                    suggestedCarrierPartyCode: T2383
                    locations:
                    - customerLocationId: W541849
                      type: origin
                      name: CHR Minneapolis
                      address:
                        address1: 410 Terry Ave. N
                        address2: Building 1
                        address3: Floor 3
                        address4: Suite 308
                        city: Minneapolis
                        county: Henepiny
                        lat: '44.989136'
                        long: "-93.278497"
                        stateProvinceCode: MN
                        postalCode: '55401'
                        country: US
                      blindLocation:
                        blindName: Blind Shipping Pick
                        blindAddress: Blind Shipper lane
                        blindCity: Minneapolis
                        blindState: MN
                      openDateTime: '2026-09-05T19:05:18.768Z'
                      closeDateTime: '2026-09-05T19:05:18.768Z'
                      scheduledOpenDateTime: '2026-09-05T19:05:18.768Z'
                      scheduledCloseDateTime: '2026-09-05T19:05:18.768Z'
                      specialRequirement:
                        liftGate: false
                        insidePickup: true
                        residentialNonCommercial: false
                        limitedAccess: false
                        tradeShoworConvention: false
                        constructionSite: false
                        dropOffAtCarrierTerminal: false
                      scalesRequired: false
                      hasDropTrailer: false
                      specialInstructions: Stay hungry. Stay foolish. -Steve Jobs
                      contacts:
                      - name: Pick Location Contact
                        type: Contact
                        companyName: Pick location
                        contactMethods:
                        - method: Phone
                          value: '5554678415'
                      referenceNumbers:
                      - type: PU
                        value: "SIMPPU67890"
                    - customerLocationId: W541849
                      type: destination
                      name: CHR Eden Prairie
                      address:
                        address1: 14701 Charlson Rd
                        address2: Building 2
                        address3: Floor 2
                        address4: Room 204
                        city: Eden Prairie
                        county: Hennepin
                        lat: '44.820839'
                        long: "-93.460654"
                        stateProvinceCode: MN
                        postalCode: '55347'
                        country: US
                      openDateTime: '2026-09-06T19:05:18.770Z'
                      closeDateTime: '2026-09-06T19:05:18.770Z'
                      scheduledOpenDateTime: '2026-09-06T19:05:18.770Z'
                      scheduledCloseDateTime: '2026-09-06T19:05:18.770Z'
                      specialRequirement:
                        liftGate: false
                        insideDelivery: true
                        residentialNonCommercial: false
                        limitedAccess: false
                        tradeShoworConvention: false
                        constructionSite: false
                        pickupAtCarrierTerminal: false
                        sortAndSegregate: false
                      scalesRequired: false
                      hasDropTrailer: false
                      specialInstructions: Whatever you are, be a good one. -Abraham Lincoln
                      contacts:
                      - name: Drop Location Contact
                        type: Contact
                        companyName: Drop Location
                        contactMethods:
                        - method: Phone
                          value: '5554678415'
                      referenceNumbers:
                      - type: DEL
                        value: "SIMPDEL67890"
                    items:
                    - packagingType: CAS
                      quantity: 40
                      description: Widgets
                      productCode: 123-45
                      freightClass: '70'
                      weight: 5000
                      weightUnitOfMeasure: Pounds
                      packagingLength: 2
                      packagingWidth: 2
                      packagingHeight: 2
                      packagingUnitOfMeasure: Inches
                      relationships:
                        innerPackQuantity: 50
                        innerPackUomCode: BOT
                        masterPackQuantity: 4
                      equipmentLength: 48
                      equipmentHeight: 60
                      equipmentWidth: 40
                      equipmentUnitOfMeasure: Inches
                      totalTrailerFeetUsed: 4
                      itemEquipment:
                        itemEquipmentCode: B
                        maxTrailerAge: 10
                        tarpTypeCode: SMOKE
                        loadingTypeCode: CRANE
                        requiredStrapsCount: 10
                        requiredChainsCount: 10
                        coilRacks: 6
                        locksBars: 9
                        isOwOd: false
                        safetyEquipmentRequired: false
                      packagingVolume: 7680
                      packagingVolumeUnitOfMeasure: CubicFeet
                      insuranceValue: 1000
                      pallets: 1
                      palletSpaces: 1
                      nationalMotorFreightClass: '50'
                      upcNumber: '1234567890'
                      skuNumber: 01234-001-F10-6
                      pluNumber: 514a561
                      isStackable: false
                      isTemperatureSensitive: true
                      temperatureType: Dry
                      temperatureUnit: Celsius
                      requiredTemperatureHigh: 32
                      requiredTemperatureLow: 0
                      referenceNumbers:
                      - type: PO
                        value: "SIMPPO67890"
                    referenceNumbers:
                    - type: PRO
                      value: "SIMPPRO67890"
                    isTeam: false
                  measurementSystem: Standard
                  referenceNumbers:
                  - type: JNO
                    value: NOT A REAL ORDER!!!!!!!!!!
                  loadValues:
                    equipmentLength: 48
                    equipmentWidth: 9
                    equipmentHeight: 12
                    trailerNum: "T1234567"
                  onlineParties:
                  - partyType: "CUSTOMER"
                    partyCode: "C1"
                    relationshipIdentifier: "456123"
                  notes: "Created through Postman request by EAPI Team"
              Order Minimum:
                value:
                  customers:
                  - customerCode: C8283603
                  billTos:
                  - customerCode: C8283603
                    currencyCode: USD
                  services:
                  - locations:
                    - type: origin
                      name: CHR Eden Prairie
                      address:
                        address1: 14701 Charlson Rd
                        city: Eden Prairie
                        stateProvinceCode: MN
                        postalCode: '55347'
                        country: US
                      openDateTime: '2026-09-05T19:05:18.768Z'
                      closeDateTime: '2026-09-05T19:05:18.768Z'
                    - type: destination
                      name: CHR Eden Prairie
                      address:
                        address1: 14701 Charlson Rd
                        city: Eden Prairie
                        stateProvinceCode: MN
                        postalCode: '55347'
                        country: US
                      openDateTime: '2026-09-06T19:05:18.770Z'
                      closeDateTime: '2026-09-06T19:05:18.770Z'
                    items:
                    - packagingType: Case
                      quantity: 50
                      description: Widgets
                      productCode: 123-45
                      freightClass: '70'
                      weight: 45000
                      weightUnitOfMeasure: Pounds
                      insuranceValue: 1000
                    loadValues:
                      equipmentLength: 48
                      equipmentWidth: 9
                      equipmentHeight: 12
                      trailerNum: "T1234567"
              Order with Hazmat:
                value:
                  customers:
                  - customerCode: C8283603
                    contacts:
                    - name: Customer One
                      type: Contact
                      companyName: Customer One Company
                      contactMethods:
                      - method: Phone
                        value: '5554678415'
                    referenceNumbers:
                    - type: MBOL
                      value: SIMPMBOL153138
                  billTos:
                  - customerCode: C8283603
                    charges:
                    - rate: 132.45
                      rateCode: '405'
                      alternateDescription: Fuel Surcharge
                    currencyCode: USD
                    contacts:
                    - name: Customer One
                      type: Contact
                      companyName: Customer One Company
                      contactMethods:
                      - method: Phone
                        value: '5554678415'
                    referenceNumbers:
                    - type: SHID
                      value: SIMPSHID153138
                  services:
                  - serviceLevel: Standard
                    sellMode: TL
                    locations:
                    - customerLocationId: W541849
                      type: origin
                      name: CHR Minneapolis
                      address:
                        address1: 410 Terry Ave. N
                        address2: Building 1
                        address3: Floor 3
                        address4: Suite 308
                        city: Minneapolis
                        county: Henepiny
                        lat: '44.989136'
                        long: "-93.278497"
                        stateProvinceCode: MN
                        postalCode: '55401'
                        country: US
                      openDateTime: '2026-09-05T19:05:18.768Z'
                      closeDateTime: '2026-09-05T19:05:18.768Z'
                      scheduledOpenDateTime: '2026-09-05T19:05:18.768Z'
                      scheduledCloseDateTime: '2026-09-05T19:05:18.768Z'
                      specialRequirement:
                        liftGate: 'true'
                        insidePickup: 'true'
                        residentialNonCommercial: 'true'
                        limitedAccess: 'true'
                        tradeShoworConvention: 'true'
                        constructionSite: 'true'
                        dropOffAtCarrierTerminal: 'true'
                      scalesRequired: false
                      hasDropTrailer: false
                      specialInstructions: Stay hungry. Stay foolish. -Steve Jobs
                      contacts:
                      - name: Pick Location Contact
                        type: Contact
                        companyName: Pick location
                        contactMethods:
                        - method: Phone
                          value: '5554678415'
                      referenceNumbers:
                      - type: PU
                        value: SIMPPU67890
                    - customerLocationId: W541849
                      type: destination
                      name: CHR Eden Prairie
                      address:
                        address1: 14701 Charlson Rd
                        address2: Building 2
                        address3: Floor 2
                        address4: Room 204
                        city: Eden Prairie
                        county: Hennepin
                        lat: '44.820839'
                        long: "-93.460654"
                        stateProvinceCode: MN
                        postalCode: '55347'
                        country: US
                      openDateTime: '2026-09-06T19:05:18.770Z'
                      closeDateTime: '2026-09-06T19:05:18.770Z'
                      scheduledOpenDateTime: '2026-09-06T19:05:18.770Z'
                      scheduledCloseDateTime: '2026-09-06T19:05:18.770Z'
                      specialRequirement:
                        liftGate: 'true'
                        insideDelivery: 'true'
                        residentialNonCommercial: 'true'
                        limitedAccess: 'true'
                        tradeShoworConvention: 'true'
                        constructionSite: 'true'
                        pickupAtCarrierTerminal: 'true'
                        sortAndSegregate: 'true'
                      scalesRequired: false
                      hasDropTrailer: false
                      specialInstructions: Whatever you are, be a good one. -Abraham Lincoln
                      contacts:
                      - name: Drop Location Contact
                        type: Contact
                        companyName: Drop Location
                        contactMethods:
                        - method: Phone
                          value: '5554678415'
                      referenceNumbers:
                      - type: DEL
                        value: SIMPDEL67890
                    items:
                    - packagingType: Case
                      quantity: 50
                      description: Widgets
                      productCode: 123-45
                      freightClass: '70'
                      weight: 45000
                      weightUnitOfMeasure: Pounds
                      packagingLength: 2
                      packagingWidth: 2
                      packagingHeight: 2
                      packagingUnitOfMeasure: Inches
                      equipmentLength: 48
                      equipmentHeight: 9
                      equipmentWidth: 8
                      equipmentUnitOfMeasure: Feet
                      packagingVolume: 7680
                      packagingVolumeUnitOfMeasure: CubicFeet
                      insuranceValue: 1000
                      pallets: 1
                      palletSpaces: 1
                      nationalMotorFreightClass: '50'
                      hazardousProperties:
                        description: Hazardous Material
                        technicalName: Technically Hazardous
                        unNumber: '2796'
                        classCode: '8'
                        packagingGroup: Group I
                        emergencyPhone: '911'
                        authCode: D
                        isPlacarded: false
                        isReportableQuantity: false
                        isPrimaryCommodity: false
                        isNOSCommodity: false
                      upcNumber: '1234567890'
                      skuNumber: 01234-001-F10-6
                      isStackable: false
                      isTemperatureSensitive: true
                      temperatureType: Dry
                      temperatureUnit: Celsius
                      requiredTemperatureHigh: 32
                      requiredTemperatureLow: 0
                      referenceNumbers:
                      - type: PO
                        value: SIMPPO67890
                    referenceNumbers:
                    - type: PRO
                      value: SIMPPRO67890
                  measurementSystem: Standard
                  referenceNumbers:
                  - type: JNO
                    value: NOT A REAL ORDER!!!!!!!!!!
                  loadValues:
                    equipmentLength: 48
                    equipmentWidth: 9
                    equipmentHeight: 12
                    trailerNum: "T1234567"
                  notes: Created through EAPI portal "try it now" feature
              Order with Package:
                value:
                  customers:
                  - customerCode: "C8283603"
                    contacts:
                    - name: Customer One
                      type: Contact
                      companyName: Customer One Company
                      contactMethods:
                      - method: Phone
                        value: '5554678415'
                    referenceNumbers:
                    - type: MBOL
                      value: "{{MBOL}}"
                  billTos:
                  - customerCode: "C8283603"
                    charges:
                    - rate: 132.45
                      rateCode: '405'
                      alternateDescription: Fuel Surcharge
                    currencyCode: USD
                    contacts:
                    - name: Customer One
                      type: Contact
                      companyName: Customer One Company
                      contactMethods:
                      - method: Phone
                        value: '5554678415'
                    referenceNumbers:
                    - type: SHID
                      value: "SIMPSHID968874"
                  services:
                  - serviceLevel: Standard
                    sellMode: TL
                    locations:
                    - customerLocationId: W541849
                      type: origin
                      name: CHR Minneapolis
                      address:
                        address1: 410 Terry Ave. N
                        address2: Building 1
                        address3: Floor 3
                        address4: Suite 308
                        city: Minneapolis
                        county: Henepiny
                        lat: '44.989136'
                        long: "-93.278497"
                        stateProvinceCode: MN
                        postalCode: '55401'
                        country: US
                      openDateTime: '2026-09-05T19:05:18.768Z'
                      closeDateTime: '2026-09-05T19:05:18.768Z'
                      scheduledOpenDateTime: '2026-09-05T19:05:18.768Z'
                      scheduledCloseDateTime: '2026-09-05T19:05:18.768Z'
                      scalesRequired: false
                      hasDropTrailer: false
                      specialInstructions: Stay hungry. Stay foolish. -Steve Jobs
                      contacts:
                      - name: Pick Location Contact
                        type: Contact
                        companyName: Pick location
                        contactMethods:
                        - method: Phone
                          value: '5554678415'
                      referenceNumbers:
                      - type: PU
                        value: SIMPPU67890
                    - customerLocationId: W541849
                      type: destination
                      name: CHR Eden Prairie
                      address:
                        address1: 14701 Charlson Rd
                        address2: Building 2
                        address3: Floor 2
                        address4: Room 204
                        city: Eden Prairie
                        county: Hennepin
                        lat: '44.820839'
                        long: "-93.460654"
                        stateProvinceCode: MN
                        postalCode: '55347'
                        country: US
                      openDateTime: '2026-09-06T19:05:18.770Z'
                      closeDateTime: '2026-09-06T19:05:18.770Z'
                      scheduledOpenDateTime: '2026-09-06T19:05:18.770Z'
                      scheduledCloseDateTime: '2026-09-06T19:05:18.770Z'
                      scalesRequired: false
                      hasDropTrailer: false
                      specialInstructions: Whatever you are, be a good one. -Abraham Lincoln
                      contacts:
                      - name: Drop Location Contact
                        type: Contact
                        companyName: Drop Location
                        contactMethods:
                        - method: Phone
                          value: '5554678415'
                      referenceNumbers:
                      - type: DEL
                        value: SIMPDEL67890
                    packages:
                    - packageType: BOX
                      weight: 5
                      length: 5
                      width: 5
                      height: 5
                      volume: 5
                      weightLb: 5
                      packageUnitOfMeasure: Inches
                      packageVolumeUnitOfMeasure: CubicFeet
                      codAmount: 20
                      declaredValue: 15
                      trackingNumber: '456789845137'
                    referenceNumbers:
                    - type: PRO
                      value: SIMPPRO67890
                  measurementSystem: Standard
                  referenceNumbers:
                  - type: JNO
                    value: NOT A REAL ORDER!!!!!!!!!!
                  loadValues:
                    equipmentLength: 48
                    equipmentWidth: 9
                    equipmentHeight: 12
                    trailerNum: "T1234567"
                  notes: Created through Postman request by EAPI Team
              Order Multi-Stop:
                value:
                  customers:
                  - customerCode: C8283603
                    referenceNumbers:
                    - type: MBOL
                      value: SIMPMBOL968874
                  billTos:
                  - customerCode: C8283603
                    currencyCode: USD
                    referenceNumbers:
                    - type: SHID
                      value: SIMPSHID968874
                  services:
                  - sellMode: TL
                    locations:
                    - customerLocationId: W6068742
                      type: origin
                      name: CHR California
                      address:
                        address1: 1600 Amphitheatre Pkwy
                        city: Mountain View
                        stateProvinceCode: CA
                        postalCode: '940431351'
                        country: US
                      openDateTime: '2019-06-05T18:36:13.131Z'
                      closeDateTime: '2019-06-06T18:36:13.131Z'
                    - customerLocationId: W541849
                      type: destination
                      name: CHR Minneapolis
                      address:
                        address1: 410 Terry Ave. N
                        address2: Building 1
                        address3: Floor 3
                        address4: Suite 308
                        city: Minneapolis
                        county: Henepiny
                        lat: '44.989136'
                        long: "-93.278497"
                        stateProvinceCode: MN
                        postalCode: '55401'
                        country: US
                      openDateTime: '2019-06-05T18:36:13.131Z'
                      closeDateTime: '2019-06-06T18:36:13.131Z'
                    items:
                    - packagingType: Case
                      quantity: 20
                      description: Widgets
                      productCode: 123-45
                      freightClass: '70'
                      weight: 15000
                      weightUnitOfMeasure: Pounds
                      insuranceValue: 1000
                  - sellMode: TL
                    locations:
                    - customerLocationId: W541849
                      type: origin
                      name: CHR Southern California
                      address:
                        address1: 2550 Brittannia Blvd
                        city: San Diego
                        stateProvinceCode: CA
                        postalCode: '92173'
                        country: US
                      openDateTime: '2019-06-05T18:36:13.131Z'
                      closeDateTime: '2019-06-06T18:36:13.131Z'
                    - customerLocationId: W541849
                      type: destination
                      name: CHR Minneapolis
                      address:
                        address1: 410 Terry Ave. N
                        address2: Building 1
                        address3: Floor 3
                        address4: Suite 308
                        city: Minneapolis
                        county: Henepiny
                        lat: '44.989136'
                        long: "-93.278497"
                        stateProvinceCode: MN
                        postalCode: '55401'
                        country: US
                      openDateTime: '2019-06-05T18:36:13.131Z'
                      closeDateTime: '2019-06-06T18:36:13.131Z'
                    items:
                    - packagingType: Pallet
                      quantity: 10
                      description: Stuff
                      productCode: 678-99
                      freightClass: '70'
                      weight: 10000
                      weightUnitOfMeasure: Pounds
                      insuranceValue: 1000
      x-code-samples:
        - lang: Curl
          source: "curl -X POST \\ \n
              https://sandbox-api.navisphere.com/v1/orders \\ \n
              -H 'Authorization: Bearer YOUR TOKEN' \\ \n
              -H 'Content-Type: application/json' \\ \n
              -d '{ \n
              \t\"customers\": [{ \n
                  \t\t\"customerCode\": \"C8283603\",\n
                  \t\t\"contacts\": [{\n
                      \t\t\t\"name\": \"Contact One\",\n
                      \t\t\t\"type\": \"Contact\",\n
                      \t\t\t\"companyName\": \"Customer One\",\n
                      \t\t\t\"contactMethods\": [{ \n
                          \t\t\t\t\"method\": \"Phone\",\n
                          \t\t\t\t\"value\": \"5554678415\"\n
                      \t\t\t}]\n
                  \t\t}],\n\n
                  \t\t\"referenceNumbers\": [{\n
                      \t\t\t\"type\": \"MBOL\",\n
                      \t\t\t\"value\": \"SIMPMBOL67890\"\n
                  \t\t}]\n
              \t}],\n
              \t\"billTos\": [{\n
                  \t\t\"customerCode\": \"C8283603\",\n
                  \t\t\"charges\": [{\n
                      \t\t\t\"rate\": 132.45,\n
                      \t\t\t\"rateCode\": \"405\",\n
                      \t\t\t\"alternateDescription\": \"Fuel Surcharge\"\n
                  \t\t}],\n
                  \t\t\"currencyCode\": \"USD\",\n
                  \t\t\"contacts\": [{\n
                      \t\t\t\"name\": \"Contact One\",\n
                      \t\t\t\"type\": \"Contact\",\n
                      \t\t\t\"companyName\": \"Customer One\",\n
                      \t\t\t\"contactMethods\": [{
                          \t\t\t\t\"method\": \"Phone\",\n
                          \t\t\t\t\"value\": \"5554678415\"\n
                      \t\t\t}]\n
                  \t\t}],\n
                  \t\t\"referenceNumbers\": [{
                      \t\t\t\"type\": \"SHID\",\n
                      \t\t\t\"value\": \"SIMPSHID67890\"\n
                  \t\t}]\n
              \t}],\n
              \t\"services\": [{\n
                  \t\t\"serviceLevel\": \"Standard\",\n
                  \t\t\"sellMode\": \"TL\",\n
                  \t\t\"locations\": [{\n
                      \t\t\t\"customerLocationId\": \"W541849\",\n
                      \t\t\t\"type\": \"origin\",\n
                      \t\t\t\"name\": \"Origin Location\",\n
                      \t\t\t\"address\": {\n
                        \t\t\t\t\"address1\": \"14800 Charlson Rd\",\n
                        \t\t\t\t\"address2\": \"Building 1\",\n
                        \t\t\t\t\"address3\": \"Floor 2\",\n
                        \t\t\t\t\"address4\": \"Room 212\",\n
                        \t\t\t\t\"city\": \"Eden Prairie\",\n
                        \t\t\t\t\"county\": \"Hennepin\",\n
                        \t\t\t\t\"lat\": 31.717096,\n
                        \t\t\t\t\"long\": -99.132553,\n
                        \t\t\t\t\"stateProvinceCode\": \"MN\",\n
                        \t\t\t\t\"postalCode\": \"55347\",\n
                        \t\t\t\t\"country\": \"US\"
                      \t\t\t},\n
                      \t\t\t\"openDateTime\": \"2019-03-18T17:23:48.983Z\",\n
                      \t\t\t\"closeDateTime\": \"2019-03-19T17:23:48.984Z\",\n
                      \t\t\t\"scheduledOpenDateTime\": \"2019-03-18T17:23:48.983Z\",\n
                      \t\t\t\"scheduledCloseDateTime\": \"2019-03-19T17:23:48.984Z\",\n
                      \t\t\t\"scalesRequired\": false,\n
                      \t\t\t\"hasDropTrailer\": false,\n
                      \t\t\t\"specialInstructions\": \"Stay hungry. Stay foolish. -Steve Jobs\",\n
                      \t\t\t\"contacts\": [{\n
                          \t\t\t\t\"name\": \"Warehouse Contact\",\n
                          \t\t\t\t\"type\": \"Contact\",\n
                          \t\t\t\t\"companyName\": \"Warehouse One\",\n
                          \t\t\t\t\"contactMethods\": [{\n
                              \t\t\t\t\t\"method\": \"Phone\",\n
                              \t\t\t\t\t\"value\": \"5554678415\"
                          \t\t\t\t}]\n
                      \t\t\t}],\n
                      \t\t\t\"referenceNumber\": [{ \n
                          \t\t\t\t\"type\": \"PU\",\n
                          \t\t\t\t\"value\": \"SIMPPU67890\"\n
                      \t\t\t}]\n
                    \t\t},{ \n
                      \t\t\t\"customerLocationId\": \"W541849\",\n
                      \t\t\t\"type\": \"destination\",\n
                      \t\t\t\"name\": \"Destination Location\",\n
                      \t\t\t\"address\": {
                        \t\t\t\t\"address1\": \"800 Washington Avenue North\",\n
                        \t\t\t\t\"address2\": \"Building 1\",\n
                        \t\t\t\t\"address3\": \"Floor 5\",\n
                        \t\t\t\t\"address4\": \"Suite 550\",\n
                        \t\t\t\t\"city\": \"Minneapolis\",\n
                        \t\t\t\t\"county\": \"Hennepin\",\n
                        \t\t\t\t\"lat\": 44.989386,\n
                        \t\t\t\t\"long\": -93.278626,\n
                        \t\t\t\t\"stateProvinceCode\": \"MN\",\n
                        \t\t\t\t\"postalCode\": \"55401\",\n
                        \t\t\t\t\"country\": \"US\"\n
                      \t\t\t},\n
                      \t\t\t\"openDateTime\": \"2019-03-25T17:23:48.984Z\",\n
                      \t\t\t\"closeDateTime\": \"2019-03-26T17:23:48.984Z\",\n
                      \t\t\t\"scheduledOpenDateTime\": \"2019-03-25T17:23:48.984Z\",\n
                      \t\t\t\"scheduledCloseDateTime\": \"2019-03-26T17:23:48.984Z\",\n
                      \t\t\t\"scalesRequired\": false,\n
                      \t\t\t\"hasDropTrailer\": false,\n
                      \t\t\t\"specialInstructions\": \"Whatever you are, be a good one. -Abraham Lincoln\",\n
                      \t\t\t\"contacts\": [{\n
                          \t\t\t\t\"name\": \"Contact two\",\n
                          \t\t\t\t\"type\": \"Contact\",\n
                          \t\t\t\t\"companyName\": \"Warehouse Two\",\n
                          \t\t\t\t\"contactMethods\": [{ \n
                              \t\t\t\t\t\"method\": \"Phone\",\n
                              \t\t\t\t\t\"value\": \"5554678415\"\n
                          \t\t\t\t}]\n
                      \t\t\t}],\n
                      \t\t\t\"referenceNumbers\": [{\n
                          \t\t\t\t\"type\": \"DEL\",\n
                          \t\t\t\t\"value\": \"SIMPDEL67890\"\n
                      \t\t\t}]\n
                  \t\t\t}],\n
                  \t\t\t\"items\": [{\n
                      \t\t\t\t\"packagingType\": \"Case\",\n
                      \t\t\t\t\"quantity\": 50,\n
[...]
